<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.AccountingDao">
    <!-- result maps -->
    <resultMap id="accountMap" type="Account" >
        <id column="ACC_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="ACC_CODE" property="accCode" />
        <result column="ACC_NAME" property="accName" />
        <result column="ACC_DESC" property="accDesc" />
        <association property="accType" column="ACC_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>


    <resultMap id="journalEntryMap" type="JournalEntry" >
        <id column="JRN_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="CSSN_SESSION_ID" property="cssnSessionId" />
        <result column="SRC_TXN_TYPE" property="srcTxnType" />
        <result column="SRC_TXN_ID" property="srcTxnId" />
        <result column="APP_USER_ID" property="appUserId" />
        <result column="ACC_ID" property="accId" />
        <result column="JRN_ACC_CODE" property="jrnAccCode" />
        <result column="JRN_ACC_DESC" property="jrnAccDesc" />
        <result column="JRN_DEBIT" property="jrnDebit" />
        <result column="JRN_CREDIT" property="jrnCredit" />
        <result column="JRN_ACTUAL" property="jrnActual" />
        <result column="JRN_DATE" property="jrnDate" />
        <result column="JRN_TAX_CODE" property="jrnTaxCode" />
        <association property="account" column="ACC_ID" select="getAccountById" />
    </resultMap>

    <resultMap id="journalSupportMap" type="JournalSupport" >
        <result column="JRN_ID" property="jrnId" />
        <result column="TXMD_ID" property="txmdId" />
    </resultMap>

    <resultMap id="journalRuleMap" type="JournalRule" >
        <id column="JRNR_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="TXN_TYPE" property="txnType" />
        <result column="JRNR_ACTION" property="jrnrAction" />
        <result column="JRNR_ACC_CODE" property="jrnrAccCode" />
        <result column="JRNR_ACC_DESC" property="jrnrAccDesc" />
        <result column="JRNR_DEBIT" property="jrnrDebit" />
        <result column="JRNR_CREDIT" property="jrnrCredit" />
        <result column="JRNR_ACTUAL" property="jrnrActual" />
        <association property="account" column="ACC_ID" select="getAccountById" />
    </resultMap>

    <sql id="accountColumns">
        ${alias}.ACC_ID,
        ${alias}.ORGU_ID,
        ${alias}.ACC_TYPE,
        ${alias}.ACC_CODE,
        ${alias}.ACC_NAME,
        ${alias}.ACC_DESC
    </sql>

    <sql id="journalEntryColumns">
        ${alias}.JRN_ID,
        ${alias}.ORGU_ID,
        ${alias}.CSSN_SESSION_ID,
        ${alias}.SRC_TXN_TYPE,
        ${alias}.SRC_TXN_ID,
        ${alias}.APP_USER_ID,
        ${alias}.ACC_ID,
        ${alias}.JRN_ACC_CODE,
        ${alias}.JRN_ACC_DESC,
        ${alias}.JRN_DEBIT,
        ${alias}.JRN_CREDIT,
        ${alias}.JRN_ACTUAL,
        ${alias}.JRN_TAX_CODE,
        ${alias}.JRN_DATE
    </sql>

    <sql id="journalSupportColumns">
        ${alias}.JRN_ID,
        ${alias}.TXMD_ID
    </sql>

    <sql id="journalRuleColumns">
        ${alias}.JRNR_ID,
        ${alias}.ORGU_ID,
        ${alias}.TXN_TYPE,
        ${alias}.JRNR_ACTION,
        ${alias}.ACC_ID,
        ${alias}.JRNR_ACC_CODE,
        ${alias}.JRNR_ACC_DESC,
        ${alias}.JRNR_DEBIT,
        ${alias}.JRNR_CREDIT,
        ${alias}.JRNR_ACTUAL
    </sql>

    <insert id="insertAccount" parameterType="Account" useGeneratedKeys="true" keyProperty="id" keyColumn="ACC_ID">
        INSERT INTO ACCOUNT(
        ORGU_ID,
        ACC_TYPE,
        ACC_CODE,
        ACC_NAME,
        ACC_DESC
        ) VALUES (
        #{orguId}
        <if test="accType != null">
            ,#{accType.id}
        </if>
        <if test="accType == null">
            ,null
        </if>
        <if test="accCode != null">
            ,#{accCode}
        </if>
        <if test="accCode == null">
            ,null
        </if>
        <if test="accName != null">
            ,#{accName}
        </if>
        <if test="accName == null">
            ,null
        </if>
        <if test="accDesc != null">
            ,#{accDesc}
        </if>
        <if test="accDesc == null">
            ,null
        </if>
        )
    </insert>

    <insert id="insertJournalEntry" parameterType="JournalEntry" useGeneratedKeys="true" keyProperty="id" keyColumn="JRN_ID">
        INSERT INTO JOURNAL_ENTRY(
        ORGU_ID,
        CSSN_SESSION_ID,
        SRC_TXN_TYPE,
        SRC_TXN_ID,
        APP_USER_ID,
        ACC_ID,
        JRN_ACC_CODE,
        JRN_ACC_DESC,
        JRN_DEBIT,
        JRN_CREDIT,
        JRN_ACTUAL,
        JRN_DATE,
        JRN_TAX_CODE
        ) VALUES (
        #{orguId}
        <if test="cssnSessionId != null">
            ,#{cssnSessionId}
        </if>
        <if test="cssnSessionId == null">
            ,null
        </if>
        <if test="srcTxnType != null">
            ,#{srcTxnType}
        </if>
        <if test="srcTxnType == null">
            ,null
        </if>
        <if test="srcTxnId != null">
            ,#{srcTxnId}
        </if>
        <if test="srcTxnId == null">
            ,null
        </if>
        <if test="appUserId != null">
            ,#{appUserId}
        </if>
        <if test="appUserId == null">
            ,null
        </if>

        <if test="accId != null">
            ,#{accId}
        </if>
        <if test="accId == null">
            ,null
        </if>
        <if test="jrnAccCode != null">
            ,#{jrnAccCode}
        </if>
        <if test="jrnAccCode == null">
            ,null
        </if>
        <if test="jrnAccDesc != null">
            ,#{jrnAccDesc}
        </if>
        <if test="jrnAccDesc == null">
            ,null
        </if>
        <if test="jrnDebit != null">
            ,#{jrnDebit}
        </if>
        <if test="jrnDebit == null">
            ,null
        </if>
        <if test="jrnCredit != null">
            ,#{jrnCredit}
        </if>
        <if test="jrnCredit == null">
            ,null
        </if>
        <if test="jrnActual != null">
            ,#{jrnActual}
        </if>
        <if test="jrnActual == null">
            ,1
        </if>
        <if test="jrnDate != null">
            ,#{jrnDate}
        </if>
        <if test="jrnDate == null">
            ,null
        </if>
        <if test="jrnTaxCode != null">
            ,#{jrnTaxCode}
        </if>
        <if test="jrnTaxCode == null">
            ,null
        </if>
        )
    </insert>

    <insert id="insertJournalSupport" parameterType="JournalSupport">
        INSERT INTO JOURNAL_SUPPORT(
        JRN_ID,
        TXMD_ID
        ) VALUES (
        #{jrnId},
        #{txmdId}
        )
    </insert>


    <insert id="insertJournalRule" parameterType="JournalRule" useGeneratedKeys="true" keyProperty="id" keyColumn="JRNR_ID">
        INSERT INTO JOURNAL_RULE(
        ORGU_ID,
        TXN_TYPE,
        JRNR_ACTION,
        ACC_ID,
        JRNR_ACC_CODE,
        JRNR_ACC_DESC,
        JRNR_DEBIT,
        JRNR_CREDIT,
        JRNR_ACTUAL
        ) VALUES (
        #{orguId}
        <if test="txnType != null">
            ,#{txnType}
        </if>
        <if test="txnType == null">
            ,null
        </if>

        <if test="jrnrAction != null">
            ,#{jrnrAction}
        </if>
        <if test="jrnrAction == null">
            ,null
        </if>

        <if test="account != null">
            ,#{account.id}
        </if>
        <if test="account == null">
            ,null
        </if>

        <if test="jrnrAccCode != null">
            ,#{jrnrAccCode}
        </if>
        <if test="jrnrAccCode == null">
            ,null
        </if>

        <if test="jrnrAccDesc != null">
            ,#{jrnrAccDesc}
        </if>
        <if test="jrnrAccDesc == null">
            ,null
        </if>

        <if test="jrnrDebit != null">
            ,#{jrnrDebit}
        </if>
        <if test="jrnrDebit == null">
            ,null
        </if>

        <if test="jrnrCredit != null">
            ,#{jrnrCredit}
        </if>
        <if test="jrnrCredit == null">
            ,null
        </if>
        <if test="jrnActual != null">
            ,#{jrnActual}
        </if>
        <if test="jrnActual == null">
            ,1
        </if>
        )
    </insert>

    <select id="getAccountById" resultMap="accountMap" >
        SELECT
        <include refid="accountColumns"><property name="alias" value="account"/></include>
        FROM
              ACCOUNT account
        WHERE
        account.ACC_ID=#{value}
    </select>

    <select id="getAccountByName" resultMap="accountMap" >
        SELECT
        <include refid="accountColumns"><property name="alias" value="account"/></include>
        FROM
        ACCOUNT account
        WHERE
        account.ACC_NAME=#{value}
    </select>

    <select id="getJournalRuleByOrguIdAndTxnTypeAndAction" resultMap="journalRuleMap" >
        SELECT
        <include refid="journalRuleColumns"><property name="alias" value="jr"/></include>
        FROM
        JOURNAL_RULE jr
            INNER JOIN CONFIG_CATEGORY txnType on (jr.txn_type = txnType.CATEGORY_ID)
            INNER JOIN CONFIG_CATEGORY jrAction on (jr.JRNR_ACTION = jrAction.CATEGORY_ID)
        WHERE
            jr.ORGU_ID=#{param1} and txnType.CATEGORY_CODE = #{param2} and jrAction.CATEGORY_CODE = #{param3}
    </select>

    <select id="accountingExportRpt" resultMap="journalEntryMap" >
        SELECT
        <include refid="journalEntryColumns"><property name="alias" value="je"/></include>
        FROM
          JOURNAL_ENTRY je INNER JOIN CASH_SESSION cs ON (je.CSSN_SESSION_ID = cs.CSSN_SESSION_ID)
          INNER JOIN CONFIG_CATEGORY cc ON (cs.CSSN_STATUS = cc.CATEGORY_ID)
        WHERE
          cc.CATEGORY_CODE = 'SESSION_STATE_RECONCILED' and je.JRN_ACTUAL = 1
        <if test="list != null">
            AND
            <foreach collection="list" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                cs.${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
    </select>

    <select id="accountingSummaryExportRpt" resultMap="journalEntryMap" >
        SELECT distinct je.JRN_ACC_CODE, tje.JRN_ACC_DESC, tje.TOTAL_DEBIT JRN_DEBIT, tje.TOTAL_CREDIT JRN_CREDIT
          FROM JOURNAL_ENTRY je INNER JOIN
          (
            SELECT JRN_ACC_DESC,SUM (JRN_DEBIT) TOTAL_DEBIT, SUM ( JRN_CREDIT) TOTAL_CREDIT
            FROM JOURNAL_ENTRY where CSSN_SESSION_ID in
            (
                SELECT distinct cs.CSSN_SESSION_ID
                FROM CASH_SESSION cs
                INNER JOIN CONFIG_CATEGORY cc ON (cs.CSSN_STATUS = cc.CATEGORY_ID)
                WHERE cc.CATEGORY_CODE = 'SESSION_STATE_RECONCILED'
                <if test="list != null">
                    AND
                    <foreach collection="list" item="item" index="index"
                             open ="(" separator=" AND " close=")">
                        cs.${item.column} ${item.operator} #{item.value}
                    </foreach>
                </if>
            )
            GROUP BY JRN_ACC_DESC
        ) tje
        on (je.JRN_ACC_DESC = tje.JRN_ACC_DESC)

    </select>

    <!-- Accounting -->
    <insert id="insertAccountingExport" parameterType="AccountingExport" useGeneratedKeys="true" keyProperty="id" keyColumn="ACC_EXP_ID">
        INSERT INTO ACCOUNTING_EXPORT(
        ORGU_ID,
        STORE_ID,
        APP_USER_ID,
        EXPORT_SUPPLIERS,
        EXPORT_DELIVERY_NOTES,
        EXPORT_JOURNAL_ENTRIES,
        EXPORTED_CONTENT,
        EXPORT_TIME
        ) VALUES (
        #{orguId},
        #{storeId},
        #{appUserId}
        <if test="exportSuppliers != null">
            ,#{exportSuppliers}
        </if>
        <if test="exportSuppliers == null">
            ,0
        </if>
        <if test="exportDeliveryNotes != null">
            ,#{exportDeliveryNotes}
        </if>
        <if test="exportDeliveryNotes == null">
            ,0
        </if>
        <if test="exportJournalEntries != null">
            ,#{exportJournalEntries}
        </if>
        <if test="exportJournalEntries == null">
            ,0
        </if>
        <if test="exportedContents != null">
            ,#{exportedContents}
        </if>
        <if test="exportedContents == null">
            ,null
        </if>
        <if test="exportTime != null">
            ,#{exportTime}
        </if>
        <if test="exportTime == null">
            ,null
        </if>
        )
    </insert>

    <insert id="insertAccExportSuppLink" parameterType="AccExportSuppLink">
        INSERT INTO ACC_EXPORT_SUPP_LINK(
        ACC_EXP_ID,
        SUPPLIER_ID
        ) VALUES (
        #{accExpId},
        #{supplierId}
        )
    </insert>

    <insert id="insertAccExportDelnLink" parameterType="AccExportDelnLink">
        INSERT INTO ACC_EXPORT_DELN_LINK(
        ACC_EXP_ID,
        DELN_ID
        ) VALUES (
        #{accExpId},
        #{delnId}
        )
    </insert>

    <insert id="insertAccExportSessionLink" parameterType="AccExportSessionLink">
        INSERT INTO ACC_EXPORT_SESSION_LINK(
        ACC_EXP_ID,
        CSSN_SESSION_ID
        ) VALUES (
        #{accExpId},
        #{cssnSessionId}
        )
    </insert>

    <select id="getJournalEntryPerSessions" resultMap="journalEntryMap" >
        SELECT
        <include refid="journalEntryColumns"><property name="alias" value="je"/></include>
        FROM
        JOURNAL_ENTRY je
        WHERE
        je.JRN_ACTUAL = 1  AND
        je.CSSN_SESSION_ID IN
        <foreach collection="list" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER  BY je.JRN_ID
    </select>
</mapper>