<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.BillOfQuantityDao">
    <!-- result maps -->
    <resultMap id="BillOfQuantityMap" type="BillOfQuantity" >
        <id column="BOQ_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="REFERENCE_CODE" property="referenceCode" />
        <result column="BOQ_NAME" property="boqName" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="NOTE" property="note" />
        <result column="DATE_CREATED" property="dateCreated" />
        <result column="BOQ_LAST_MODIFIED_DATE" property="boqLastModifiedDate" />
        <result column="BOQ_LAST_MODIFIED_BY" property="boqLastModifiedBy" />
        <result column="BOQ_VALUE_GROSS" property="boqValueGross" />
        <result column="BOQ_VALUE_NETT" property="boqValueNett" />
        <result column="BOQ_TOTAL_QTY" property="boqTotalQty" />
        <result column="BOQ_TOTAL_LINES" property="boqTotalLines" />
        <association property="user" column="BOQ_LAST_MODIFIED_BY" select="au.com.biztune.retail.dao.UserDao.getLiteUserById" />
        <association property="project" column="PROJECT_ID" select="au.com.biztune.retail.dao.ProjectDao.getProjectById" />
        <association property="boqStatus" column="BOQ_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>

    <resultMap id="BillOfQuantityDetailMap" type="BillOfQuantity" >
        <id column="BOQ_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="REFERENCE_CODE" property="referenceCode" />
        <result column="BOQ_NAME" property="boqName" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="NOTE" property="note" />
        <result column="DATE_CREATED" property="dateCreated" />
        <result column="BOQ_LAST_MODIFIED_DATE" property="boqLastModifiedDate" />
        <result column="BOQ_LAST_MODIFIED_BY" property="boqLastModifiedBy" />
        <result column="BOQ_VALUE_GROSS" property="boqValueGross" />
        <result column="BOQ_VALUE_NETT" property="boqValueNett" />
        <result column="BOQ_TOTAL_QTY" property="boqTotalQty" />
        <result column="BOQ_TOTAL_LINES" property="boqTotalLines" />
        <association property="project" column="PROJECT_ID" select="au.com.biztune.retail.dao.ProjectDao.getProjectById" />
        <association property="boqStatus" column="BOQ_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <collection property="lines" javaType="ArrayList" column="BOQ_ID" ofType="BoqDetail" select="au.com.biztune.retail.dao.BoqDetailDao.getBoqDetailByBoqId"/>
    </resultMap>

    <sql id="boqColumns">
     ${alias}.BOQ_ID,
     ${alias}.ORGU_ID,
     ${alias}.PROJECT_ID,
     ${alias}.REFERENCE_CODE,
     ${alias}.BOQ_NAME,
     ${alias}.ORDER_NO,
     ${alias}.NOTE,
     ${alias}.DATE_CREATED,
     ${alias}.BOQ_STATUS,
     ${alias}.BOQ_LAST_MODIFIED_DATE,
     ${alias}.BOQ_LAST_MODIFIED_BY,
     ${alias}.BOQ_VALUE_GROSS,
     ${alias}.BOQ_VALUE_NETT,
     ${alias}.BOQ_TOTAL_QTY,
     ${alias}.BOQ_TOTAL_LINES
    </sql>

    <sql id="getBillOfQuantity">
        SELECT
        <include refid="boqColumns"><property name="alias" value="boq"/></include>
        FROM
        BILL_OF_QUANTITY boq
    </sql>

    <select id="getAllBillOfQuantities" resultMap="BillOfQuantityMap" >
        <include refid="getBillOfQuantity">
        </include>
    </select>

    <select id="getBillOfQuantityByName" resultMap="BillOfQuantityMap" >
        <include refid="getBillOfQuantity">
        </include>
        WHERE
          boq.BOQ_NAME = #{value}
    </select>

    <select id="getBillOfQuantitiesByClientId" resultMap="BillOfQuantityMap" >
        SELECT
          <include refid="boqColumns"><property name="alias" value="boq"/></include>
        FROM
          BILL_OF_QUANTITY boq
            INNER JOIN PROJECT PRJ ON (boq.PROJECT_ID = PRJ.PROJECT_ID)
        WHERE
            PRJ.CLIENT_ID = #{value}
    </select>

    <select id="getBillOfQuantityById" resultMap="BillOfQuantityDetailMap" >
        <include refid="getBillOfQuantity">
        </include>
        WHERE
        boq.BOQ_ID = #{value}
    </select>

    <insert id="insert" parameterType="BillOfQuantity" useGeneratedKeys="true" keyProperty="id" keyColumn="BOQ_ID">
        INSERT INTO BILL_OF_QUANTITY(
             ORGU_ID,
             PROJECT_ID,
             BOQ_NAME,
             REFERENCE_CODE,
             ORDER_NO,
             NOTE,
             DATE_CREATED,
            BOQ_STATUS,
            BOQ_LAST_MODIFIED_DATE,
            BOQ_LAST_MODIFIED_BY,
            BOQ_VALUE_GROSS,
            BOQ_VALUE_NETT,
            BOQ_TOTAL_QTY,
            BOQ_TOTAL_LINES
        ) VALUES (
        #{orguId},
        #{project.id},
        #{boqName}
        <if test="referenceCode != null">
            ,#{referenceCode}
        </if>
        <if test="referenceCode == null">
            ,null
        </if>
        <if test="orderNo != null">
            ,#{orderNo}
        </if>
        <if test="orderNo == null">
            ,null
        </if>
        <if test="note != null">
            ,#{note}
        </if>
        <if test="note == null">
            ,null
        </if>
        <if test="dateCreated != null">
            ,#{dateCreated}
        </if>
        <if test="dateCreated == null">
            ,null
        </if>

        <if test="boqStatus != null">
            ,#{boqStatus.id}
        </if>
        <if test="boqStatus == null">
            ,null
        </if>
        <if test="boqLastModifiedDate != null">
            ,#{boqLastModifiedDate}
        </if>
        <if test="boqLastModifiedDate == null">
            ,null
        </if>

        <if test="boqLastModifiedBy != null">
            ,#{boqLastModifiedBy}
        </if>
        <if test="boqLastModifiedBy == null">
            ,null
        </if>

        <if test="boqValueGross != null">
            ,#{boqValueGross}
        </if>
        <if test="boqValueGross == null">
            ,null
        </if>
        <if test="boqValueNett != null">
            ,#{boqValueNett}
        </if>
        <if test="boqValueNett == null">
            ,null
        </if>
        <if test="boqTotalQty != null">
            ,#{boqTotalQty}
        </if>
        <if test="boqTotalQty == null">
            ,null
        </if>
        <if test="boqTotalLines != null">
            ,#{boqTotalLines}
        </if>
        <if test="boqTotalLines == null">
            ,null
        </if>
        )
    </insert>

    <sql id="updateStatement">
        UPDATE BILL_OF_QUANTITY SET
        LCOUNT= 0
        <if test="project != null">
            ,PROJECT_ID = #{project.id}
        </if>
        <if test="referenceCode != null">
            ,REFERENCE_CODE = #{referenceCode}
        </if>
        <if test="boqName != null">
            ,BOQ_NAME = #{boqName}
        </if>
        <if test="orderNo != null">
            ,ORDER_NO = #{orderNo}
        </if>
        <if test="note != null">
            ,NOTE = #{note}
        </if>
        <if test="dateCreated != null">
            ,DATE_CREATED = #{dateCreated}
        </if>
        <if test="boqStatus != null">
            ,BOQ_STATUS = #{boqStatus.id}
        </if>
        <if test="boqLastModifiedDate != null">
            ,BOQ_LAST_MODIFIED_DATE = #{boqLastModifiedDate}
        </if>
        <if test="boqLastModifiedBy != null">
            ,BOQ_LAST_MODIFIED_BY = #{boqLastModifiedBy}
        </if>
        <if test="boqValueGross != null">
            ,BOQ_VALUE_GROSS = #{boqValueGross}
        </if>
        <if test="boqValueNett != null">
            ,BOQ_VALUE_NETT = #{boqValueNett}
        </if>
        <if test="boqTotalQty != null">
            ,BOQ_TOTAL_QTY = #{boqTotalQty}
        </if>
        <if test="boqTotalLines != null">
            ,BOQ_TOTAL_LINES = #{boqTotalLines}
        </if>
    </sql>
    <update id="updatePerId" parameterType="BillOfQuantity" >
          <include refid="updateStatement">
          </include>
          WHERE BOQ_ID = #{id}
    </update>
    <update id="updatePerName" parameterType="BillOfQuantity" >
        <include refid="updateStatement">
        </include>
        WHERE BOQ_NAME = #{boqName}
    </update>
    <update id="updateStatusPerId" parameterType="BillOfQuantity" >
        UPDATE BILL_OF_QUANTITY set BOQ_STATUS = #{boqStatus.id}
        WHERE BOQ_ID = #{id}
    </update>
</mapper>