<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.BoqDetailDao">
    <!-- result maps -->
    <resultMap id="BoqDetailMap" type="BoqDetail" >
        <id column="BOQ_DETAIL_ID" property="id" />
        <result column="PROD_IS_NEW" property="prodIsNew" />
        <result column="QUANTITY" property="quantity" />
        <result column="QTY_ON_STOCK" property="qtyOnStock" />
        <result column="QTY_PURCHASED" property="qtyPurchased" />
        <result column="QTY_RECEIVED" property="qtyReceived" />
        <result column="QTY_BALANCE" property="qtyBalance" />
        <result column="COST" property="cost" />
        <result column="ITEM_VALUE" property="itemValue" />
        <result column="MARGIN" property="margin" />
        <result column="SELL_PRICE" property="sellPrice" />
        <result column="COMMENT" property="comment" />
        <result column="CHANGE_COMMENT" property="changeComment" />
        <!--association property="billOfQuantity" column="BOQ_ID" select="au.com.biztune.retail.dao.BillOfQuantityDao.getBillOfQuantityById" /-->
        <association property="unitOfMeasure" column="UNOM_ID" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="product" column="PROD_ID" select="au.com.biztune.retail.dao.ProductDao.getProductPerProdId" />
        <association property="supplier" column="SUPPLIER_ID" select="au.com.biztune.retail.dao.SupplierDao.getSupplierBySuppId" />
        <association property="bqdStatus" column="BQD_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="bqdCreationType" column="BQD_CREATION_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <collection property="linkedPurchaseOrders" javaType="ArrayList" column="BOQ_DETAIL_ID" ofType="PoBoqLink" select="au.com.biztune.retail.dao.PoBoqLinkDao.getPoBoqLinkPerBoqDetailId"/>
    </resultMap>

    <resultMap id="BoqDetailLightMap" type="BoqDetail" >
        <id column="BOQ_DETAIL_ID" property="id" />
        <result column="PROD_IS_NEW" property="prodIsNew" />
        <result column="QUANTITY" property="quantity" />
        <result column="QTY_ON_STOCK" property="qtyOnStock" />
        <result column="QTY_PURCHASED" property="qtyPurchased" />
        <result column="QTY_RECEIVED" property="qtyReceived" />
        <result column="QTY_BALANCE" property="qtyBalance" />
        <result column="COST" property="cost" />
        <result column="ITEM_VALUE" property="itemValue" />
        <result column="MARGIN" property="margin" />
        <result column="SELL_PRICE" property="sellPrice" />
        <result column="COMMENT" property="comment" />
        <result column="CHANGE_COMMENT" property="changeComment" />
        <association property="bqdStatus" column="BQD_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>

    <resultMap id="BoqDetailCompleteMap" type="BoqDetail" >
        <id column="BOQ_DETAIL_ID" property="id" />
        <result column="PROD_IS_NEW" property="prodIsNew" />
        <result column="QUANTITY" property="quantity" />
        <result column="QTY_ON_STOCK" property="qtyOnStock" />
        <result column="QTY_PURCHASED" property="qtyPurchased" />
        <result column="QTY_RECEIVED" property="qtyReceived" />
        <result column="QTY_BALANCE" property="qtyBalance" />
        <result column="COST" property="cost" />
        <result column="ITEM_VALUE" property="itemValue" />
        <result column="MARGIN" property="margin" />
        <result column="SELL_PRICE" property="sellPrice" />
        <result column="COMMENT" property="comment" />
        <result column="CHANGE_COMMENT" property="changeComment" />
        <association property="billOfQuantity" column="BOQ_ID" select="au.com.biztune.retail.dao.BillOfQuantityDao.getBillOfQuantityById" />
        <association property="unitOfMeasure" column="UNOM_ID" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="product" column="PROD_ID" select="au.com.biztune.retail.dao.ProductDao.getProductPerProdId" />
        <association property="bqdStatus" column="BQD_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="bqdCreationType" column="BQD_CREATION_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="supplier" column="SUPPLIER_ID" select="au.com.biztune.retail.dao.SupplierDao.getSupplierBySuppId" />
    </resultMap>

    <sql id="boqDetailColumns">
     ${alias}.BOQ_DETAIL_ID,
     ${alias}.BOQ_ID,
     ${alias}.SUPPLIER_ID,
     ${alias}.UNOM_ID,
     ${alias}.PROD_ID,
     ${alias}.PROD_IS_NEW,
     ${alias}.QUANTITY,
     ${alias}.COST,
     ${alias}.MARGIN,
     ${alias}.SELL_PRICE,
     ${alias}.QTY_ON_STOCK,
     ${alias}.QTY_PURCHASED,
     ${alias}.QTY_RECEIVED,
     ${alias}.QTY_BALANCE,
     ${alias}.COMMENT,
     ${alias}.BQD_STATUS,
     ${alias}.BQD_CREATION_TYPE,
     ${alias}.CHANGE_COMMENT,
     ${alias}.ITEM_VALUE
    </sql>

    <sql id="getBoqDetail">
        SELECT
        <include refid="boqDetailColumns"><property name="alias" value="boqd"/></include>
        FROM
        BOQ_DETAIL boqd
    </sql>

    <select id="getBoqDetailByBoqId" resultMap="BoqDetailMap" >
        <include refid="getBoqDetail">
        </include>
        WHERE
        boqd.BOQ_ID = #{value}
    </select>

    <select id="getBoqDetailLightByBoqId" resultMap="BoqDetailLightMap" >
        <include refid="getBoqDetail">
        </include>
        WHERE
        boqd.BOQ_ID = #{value}
    </select>

    <select id="getBoqDetailById" resultMap="BoqDetailMap" >
        <include refid="getBoqDetail">
        </include>
        WHERE
        boqd.BOQ_DETAIL_ID = #{value}
    </select>

    <select id="getBoqDetailForMultipleBoqId" resultMap="BoqDetailCompleteMap" >
        <include refid="getBoqDetail">
        </include>
        WHERE
        boqd.BOQ_ID in
        <foreach collection="list" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
        order by boqd.SUPPLIER_ID, boqd.PROD_ID
    </select>

    <insert id="insert" parameterType="BoqDetail" useGeneratedKeys="true" keyProperty="id" keyColumn="BOQ_DETAIL_ID">
        INSERT INTO BOQ_DETAIL(
            BOQ_ID,
            SUPPLIER_ID,
            UNOM_ID,
            PROD_ID,
            PROD_IS_NEW,
            QUANTITY,
            COST,
            MARGIN,
            SELL_PRICE,
            QTY_ON_STOCK,
            QTY_PURCHASED,
            QTY_BALANCE,
            COMMENT,
            BQD_STATUS,
            BQD_CREATION_TYPE,
            CHANGE_COMMENT,
            ITEM_VALUE
        ) VALUES (
        #{billOfQuantity.id}
        <if test="supplier != null">
            ,#{supplier.id}
        </if>
        <if test="supplier == null">
            ,null
        </if>
        <if test="unitOfMeasure != null">
            ,#{unitOfMeasure.id}
        </if>
        <if test="unitOfMeasure == null">
            ,null
        </if>
        <if test="product != null">
            ,#{product.id}
        </if>
        <if test="product == null">
            ,null
        </if>
        <if test="prodIsNew != null">
            ,#{prodIsNew}
        </if>
        <if test="prodIsNew == null">
            ,null
        </if>
        <if test="quantity != null">
            ,#{quantity}
        </if>
        <if test="quantity == null">
            ,null
        </if>
        <if test="cost != null">
            ,#{cost}
        </if>
        <if test="cost == null">
            ,null
        </if>
        <if test="margin != null">
            ,#{margin}
        </if>
        <if test="margin == null">
            ,null
        </if>
        <if test="sellPrice != null">
            ,#{sellPrice}
        </if>
        <if test="sellPrice == null">
            ,null
        </if>
        <if test="qtyOnStock != null">
            ,#{qtyOnStock}
        </if>
        <if test="qtyOnStock == null">
            ,null
        </if>
        <if test="qtyPurchased != null">
            ,#{qtyPurchased}
        </if>
        <if test="qtyPurchased == null">
            ,null
        </if>
        <if test="qtyBalance != null">
            ,#{qtyBalance}
        </if>
        <if test="qtyBalance == null">
            ,null
        </if>
        <if test="comment != null">
            ,#{comment}
        </if>
        <if test="comment == null">
            ,null
        </if>
        <if test="bqdStatus != null">
            ,#{bqdStatus.id}
        </if>
        <if test="bqdStatus == null">
            ,null
        </if>
        <if test="bqdCreationType != null">
            ,#{bqdCreationType.id}
        </if>
        <if test="bqdCreationType == null">
            ,null
        </if>
        <if test="changeComment != null">
            ,#{changeComment}
        </if>
        <if test="changeComment == null">
            ,null
        </if>
        <if test="itemValue != null">
            ,#{itemValue}
        </if>
        <if test="itemValue == null">
            ,null
        </if>
        )
    </insert>

    <sql id="updateStatement">
        UPDATE BOQ_DETAIL SET
        LCOUNT= 0
        <if test="supplier != null">
            ,SUPPLIER_ID = #{supplier.id}
        </if>
        <if test="billOfQuantity != null">
            ,BOQ_ID = #{billOfQuantity.id}
        </if>
        <if test="unitOfMeasure != null">
            ,UNOM_ID = #{unitOfMeasure.id}
        </if>
        <if test="product != null">
            ,PROD_ID = #{product.id}
        </if>
        <if test="prodIsNew != null">
            ,PROD_IS_NEW = #{prodIsNew}
        </if>
        <if test="quantity != null">
            ,QUANTITY = #{quantity}
        </if>
        <if test="cost != null">
            ,COST = #{cost}
        </if>
        <if test="margin != null">
            ,MARGIN = #{margin}
        </if>
        <if test="sellPrice != null">
            ,SELL_PRICE = #{sellPrice}
        </if>
        <if test="qtyOnStock != null">
            ,QTY_ON_STOCK = #{qtyOnStock}
        </if>
        <if test="qtyPurchased != null">
            ,QTY_PURCHASED = #{qtyPurchased}
        </if>
        <if test="qtyBalance != null">
            ,QTY_BALANCE = #{qtyBalance}
        </if>
        <if test="comment != null">
            ,COMMENT = #{comment}
        </if>
        <if test="bqdStatus != null">
            ,BQD_STATUS = #{bqdStatus.id}
        </if>
        <if test="bqdCreationType != null">
            ,BQD_CREATION_TYPE = #{bqdCreationType.id}
        </if>
        <if test="changeComment != null">
            ,CHANGE_COMMENT = #{changeComment}
        </if>
        <if test="itemValue != null">
            ,ITEM_VALUE = #{itemValue}
        </if>
    </sql>
    <update id="updatePerId" parameterType="BoqDetail" >
          <include refid="updateStatement">
          </include>
          WHERE BOQ_DETAIL_ID = #{id}
    </update>

    <update id="updateStockQty" parameterType="BoqDetail" >
        UPDATE BOQ_DETAIL SET
          QTY_ON_STOCK = #{qtyOnStock},
          QTY_BALANCE = #{qtyBalance},
          COMMENT = #{comment}
        WHERE BOQ_DETAIL_ID = #{id}
    </update>

    <update id="updateBoqLine" parameterType="BoqDetail" >
        UPDATE BOQ_DETAIL SET
        QTY_ON_STOCK = #{qtyOnStock},
        QTY_BALANCE = #{qtyBalance},
        BQD_STATUS = #{bqdStatus.id}
        <if test="comment != null">
            ,COMMENT = #{comment}
        </if>
        <if test="changeComment != null">
            ,CHANGE_COMMENT = #{changeComment}
        </if>
        WHERE BOQ_DETAIL_ID = #{id}
    </update>

    <update id="updateQtyReceived" parameterType="BoqDetail" >
        UPDATE BOQ_DETAIL SET
        QTY_RECEIVED = #{qtyReceived},
        QTY_BALANCE = #{qtyBalance},
        BQD_STATUS = #{bqdStatus.id}
        WHERE BOQ_DETAIL_ID = #{id}
    </update>

    <update id="updateQtyAndStatus" >
        UPDATE BOQ_DETAIL SET
        QTY_RECEIVED = #{param1},
        QTY_BALANCE = #{param2},
        BQD_STATUS = #{param3}
        WHERE BOQ_DETAIL_ID = #{param4}
    </update>

    <delete id="deleteBoqDetailPerBoqId" >
        DELETE
        From BOQ_DETAIL
        WHERE
        BOQ_ID = #{value}
    </delete>

    <delete id="deleteBoqDetailPerId" >
        DELETE
        From BOQ_DETAIL
        WHERE
        BOQ_DETAIL_ID = #{value}
    </delete>

</mapper>