<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.CategoryDao">
    <!-- result maps -->
    <resultMap id="categoryPerTypeMap" type="Category" >
        <id column="CATEGORYID" property="categoryId" />
        <result column="TYPEID" property="typeId" />
        <result column="TYPE_NAME" property="typeName" />
        <result column="CATEGORY_ORDER" property="categoryOrder" />
        <result column="DISCRIPTION" property="discription" />
        <result column="PARENT_CATEGORY" property="parentCategory" />
        <result column="CATEGORY_LEVEL" property="categoryLevel" />
        <result column="GUIDE_NOTES" property="guidNotes" />
        <result column="DISPLAY_TEXT" property="displayText" />
        <result column="SMS_TEXT" property="smsText" />
        <result column="dva_iditext_ids" property="dvaIdiTextIds" />
    </resultMap>
    <select id="getCategoriesOfType" resultMap="categoryPerTypeMap" >
        SELECT
          cat.CATEGORYID,
          cat.TYPEID,
          type.DISCRIPTION as TYPE_NAME,
          cat.CATEGORY_ORDER,
          cat.DISCRIPTION,
          cat.PARENT_CATEGORY,
          cat.CATEGORY_LEVEL,
          cat.GUIDE_NOTES,
          cat.DISPLAY_TEXT,
          cat.SMS_TEXT
        FROM
          CATEGORY cat inner join TYPE type on (cat.TYPEID=type.TYPEID)
          WHERE
            type.DISCRIPTION=#{value}

        ORDER BY
          cat.CATEGORY_ORDER
    </select>
    <select id="getCategoriesOfTypeAndName" resultMap="categoryPerTypeMap" >
        SELECT
        cat.CATEGORYID,
        cat.TYPEID,
        type.DISCRIPTION as TYPE_NAME,
        cat.CATEGORY_ORDER,
        cat.DISCRIPTION,
        cat.PARENT_CATEGORY,
        cat.CATEGORY_LEVEL,
        cat.GUIDE_NOTES,
        cat.DISPLAY_TEXT,
        cat.SMS_TEXT
        FROM
        CATEGORY cat inner join TYPE type on (cat.TYPEID=type.TYPEID)
        WHERE
        type.DISCRIPTION=#{param1}
        AND  cat.DISCRIPTION=#{param2}
        ORDER BY
        cat.CATEGORY_ORDER
    </select>
    <select id="getCategoryById" resultMap="categoryPerTypeMap" >
        SELECT
        cat.CATEGORYID,
        cat.TYPEID,
        type.DISCRIPTION as TYPE_NAME,
        cat.CATEGORY_ORDER,
        cat.DISCRIPTION,
        cat.PARENT_CATEGORY,
        cat.CATEGORY_LEVEL,
        cat.GUIDE_NOTES,
        cat.DISPLAY_TEXT,
        cat.SMS_TEXT,
        cat.dva_iditext_ids
        FROM
        CATEGORY cat inner join TYPE type on (cat.TYPEID=type.TYPEID)
        WHERE
        cat.CATEGORYID=#{value}
    </select>

</mapper>