<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.ConfigCategoryDao">
    <!-- result maps -->
    <resultMap id="configCategoryMap" type="ConfigCategory" >
        <id column="CATEGORY_ID" property="id" />
        <result column="CONFIG_TYPE_ID" property="configTypeId" />
        <result column="CATEGORY_CODE" property="categoryCode" />
        <result column="DISPLAY_NAME" property="displayName" />
        <result column="DESCRIPTION" property="description" />
        <result column="COLOR" property="color" />
        <result column="CATEGORY_ORDER" property="categoryOrder" />
    </resultMap>

    <resultMap id="configTypeMap" type="ConfigType" >
        <id column="CONFIG_TYPE_ID" property="id" />
        <result column="CONFIG_CODE" property="configCode" />
        <result column="DISPLAY_NAME" property="displayName" />
        <result column="DESCRIPTION" property="description" />
        <result column="CATEGORY_ORDER" property="categoryOrder" />
    </resultMap>

    <insert id="insertConfigCategory" parameterType="ConfigCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="CATEGORY_ID">
        INSERT INTO CONFIG_CATEGORY(
        CONFIG_TYPE_ID,
        CATEGORY_CODE,
        DISPLAY_NAME,
        DESCRIPTION,
        CATEGORY_ORDER,
        COLOR
        ) VALUES (
        #{configTypeId}
        <if test="categoryCode != null">
            ,#{categoryCode}
        </if>
        <if test="categoryCode == null">
            ,null
        </if>
        <if test="displayName != null">
            ,#{displayName}
        </if>
        <if test="displayName == null">
            ,null
        </if>
        <if test="description != null">
            ,#{description}
        </if>
        <if test="description == null">
            ,null
        </if>
        <if test="categoryOrder != null">
            ,#{categoryOrder}
        </if>
        <if test="categoryOrder == null">
            ,null
        </if>
        <if test="color != null">
            ,#{color}
        </if>
        <if test="color == null">
            ,null
        </if>
        )
    </insert>

    <sql id="configCategoryColumns">
        ${alias}.CATEGORY_ID,
        ${alias}.CONFIG_TYPE_ID,
        ${alias}.CATEGORY_CODE,
        ${alias}.DISPLAY_NAME,
        ${alias}.DESCRIPTION,
        ${alias}.COLOR
    </sql>

    <sql id="configTypeColumns">
        ${alias}.CONFIG_TYPE_ID,
        ${alias}.CONFIG_CODE,
        ${alias}.DISPLAY_NAME,
        ${alias}.DESCRIPTION,
        ${alias}.CATEGORY_ORDER
    </sql>


    <select id="getCategoriesOfType" resultMap="configCategoryMap" >
        SELECT
          <include refid="configCategoryColumns"><property name="alias" value="cat"/></include>
        FROM
          CONFIG_CATEGORY cat inner join CONFIG_TYPE type on (cat.CONFIG_TYPE_ID=type.CONFIG_TYPE_ID)
          WHERE
            type.CONFIG_CODE=#{value}
        ORDER BY
          cat.CATEGORY_ORDER
    </select>
    <select id="getCategoryOfTypeAndCode" resultMap="configCategoryMap" >
        SELECT
          <include refid="configCategoryColumns"><property name="alias" value="cat"/></include>
        FROM
          CONFIG_CATEGORY cat inner join CONFIG_TYPE type on (cat.CONFIG_TYPE_ID=type.CONFIG_TYPE_ID)
        WHERE
            type.CONFIG_CODE=#{param1}
        AND  cat.CATEGORY_CODE=#{param2}
        ORDER BY
          cat.CATEGORY_ORDER
    </select>
    <select id="getCategoryById" resultMap="configCategoryMap" >
        SELECT
          <include refid="configCategoryColumns"><property name="alias" value="cat"/></include>
        FROM
          CONFIG_CATEGORY cat
        WHERE
          cat.CATEGORY_ID=#{value}
    </select>

    <select id="getConfigTypeByCode" resultMap="configTypeMap" >
        SELECT
        <include refid="configTypeColumns"><property name="alias" value="ct"/></include>
        FROM
          CONFIG_TYPE ct
        WHERE
          ct.CONFIG_CODE=#{value}
    </select>

</mapper>