<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.DeliveryNoteDao">

    <resultMap id="deliveryNoteHeaderLiteMap" type="DeliveryNoteHeader" >
        <id column="DELN_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="DELN_NOTE_NUMBER" property="delnNoteNumber" />
        <result column="DELN_GRN" property="delnGrn" />
        <result column="POH_ID" property="pohId" />
        <result column="POH_ORDER_NUMBER" property="pohOrderNumber" />
        <result column="DELN_DELIVERY_DATE" property="delnDeliveryDate" />
        <result column="DELN_CREATED_DATE" property="delnCreatedDate" />
        <result column="DELN_LAST_MODIFIED_DATE" property="delnLastModifiedDate" />
        <result column="DELN_LAST_MODIFIED_BY" property="delnLastModifiedBy" />
        <result column="DELN_VALUE_GROSS" property="delnValueGross" />
        <result column="DELN_VALUE_NETT" property="delnValueNett" />
        <result column="POH_QTY_ORDERED" property="pohQtyOrdered" />
        <result column="DELN_TOTAL_QTY" property="delnTotalQty" />
        <result column="DELN_TOTAL_LINES" property="delnTotalLines" />
        <result column="DELN_COMMENT" property="delnComment" />
        <result column="DELN_TOTAL" property="delnTotal" />
        <result column="DELN_TAX" property="delnTax" />
        <result column="DELN_SURCHARGE" property="delnSurcharge" />
        <association property="supplier" column="SUPPLIER_ID" select="au.com.biztune.retail.dao.SupplierDao.getSupplierBySuppId" />
        <association property="user" column="DELN_LAST_MODIFIED_BY" select="au.com.biztune.retail.dao.UserDao.getLiteUserById" />
        <association property="delnStatus" column="DELN_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>

    <resultMap id="deliveryNoteHeaderExportMap" type="DeliveryNoteHeader" >
        <id column="DELN_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="DELN_NOTE_NUMBER" property="delnNoteNumber" />
        <result column="DELN_GRN" property="delnGrn" />
        <result column="POH_ID" property="pohId" />
        <result column="POH_ORDER_NUMBER" property="pohOrderNumber" />
        <result column="DELN_DELIVERY_DATE" property="delnDeliveryDate" />
        <result column="DELN_CREATED_DATE" property="delnCreatedDate" />
        <result column="DELN_LAST_MODIFIED_DATE" property="delnLastModifiedDate" />
        <result column="DELN_LAST_MODIFIED_BY" property="delnLastModifiedBy" />
        <result column="DELN_VALUE_GROSS" property="delnValueGross" />
        <result column="DELN_VALUE_NETT" property="delnValueNett" />
        <result column="POH_QTY_ORDERED" property="pohQtyOrdered" />
        <result column="DELN_TOTAL_QTY" property="delnTotalQty" />
        <result column="DELN_TOTAL_LINES" property="delnTotalLines" />
        <result column="DELN_COMMENT" property="delnComment" />
        <result column="DELN_TOTAL" property="delnTotal" />
        <result column="DELN_TAX" property="delnTax" />
        <result column="FREIGHT_AMOUNT" property="freightAmount" />
        <result column="FREIGHT_TAX" property="freightTax" />
        <result column="FREIGHT_TAX_CODE" property="freightTaxCode" />
        <result column="DELN_SURCHARGE" property="delnSurcharge" />
        <association property="supplier" column="SUPPLIER_ID" select="au.com.biztune.retail.dao.SupplierDao.getSupplierBySuppId" />
        <association property="user" column="DELN_LAST_MODIFIED_BY" select="au.com.biztune.retail.dao.UserDao.getLiteUserById" />
        <association property="delnStatus" column="DELN_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>

    <resultMap id="deliveryNoteHeaderMap" type="DeliveryNoteHeader" >
        <id column="DELN_ID" property="id" />
        <result column="ORGU_ID" property="orguId" />
        <result column="DELN_NOTE_NUMBER" property="delnNoteNumber" />
        <result column="DELN_GRN" property="delnGrn" />
        <result column="POH_ID" property="pohId" />
        <result column="POH_ORDER_NUMBER" property="pohOrderNumber" />
        <result column="DELN_DELIVERY_DATE" property="delnDeliveryDate" />
        <result column="DELN_CREATED_DATE" property="delnCreatedDate" />
        <result column="DELN_LAST_MODIFIED_DATE" property="delnLastModifiedDate" />
        <result column="DELN_LAST_MODIFIED_BY" property="delnLastModifiedBy" />
        <result column="DELN_VALUE_GROSS" property="delnValueGross" />
        <result column="DELN_VALUE_NETT" property="delnValueNett" />
        <result column="POH_QTY_ORDERED" property="pohQtyOrdered" />
        <result column="DELN_TOTAL_QTY" property="delnTotalQty" />
        <result column="DELN_TOTAL_LINES" property="delnTotalLines" />
        <result column="DELN_COMMENT" property="delnComment" />
        <result column="FREIGHT_AMOUNT" property="freightAmount" />
        <result column="FREIGHT_TAX" property="freightTax" />
        <result column="DELN_TOTAL" property="delnTotal" />
        <result column="DELN_TAX" property="delnTax" />
        <result column="DELN_SURCHARGE" property="delnSurcharge" />
        <association property="freightTxrl" column="FREIGHT_TXRL_ID" select="au.com.biztune.retail.dao.TaxRuleDao.getTaxRuleById" />
        <association property="supplier" column="SUPPLIER_ID" select="au.com.biztune.retail.dao.SupplierDao.getSupplierBySuppId" />
        <association property="delnStatus" column="DELN_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="legalTender" column="LEGT_ID" select="au.com.biztune.retail.dao.LegalTenderDao.getLegalTenderById" />
        <collection property="lines" javaType="ArrayList" column="DELN_ID" ofType="DeliveryNoteLine" select="getDelNoteLinesPerDlnId"/>
    </resultMap>
    <resultMap id="deliveryNoteLineMap" type="DeliveryNoteLine" >
        <id column="DLNL_ID" property="id" />
        <result column="DELN_ID" property="delnId" />
        <result column="POL_ID" property="polId" />
        <result column="DELN_GRN" property="delnGrn" />
        <result column="DLNL_LINE_NUMBER" property="dlnlLineNumber" />
        <result column="DLNL_UNIT_COST" property="dlnlUnitCost" />
        <result column="RCVD_QTY" property="rcvdQty" />
        <result column="TOTAL_COST" property="totalCost" />
        <result column="DLNL_QTY_REJECTED" property="dlnlQtyRegected" />
        <result column="DLNL_DISCREPANCY" property="dlnlDiscrepancy" />
        <result column="DLNL_QTY" property="dlnlQty" />
        <result column="POL_QTY" property="polQty" />
        <result column="DLNL_COMMENT" property="dlnlComment" />
        <result column="DELN_SURCHARGE" property="delnSurcharge" />
        <association property="purchaseItem" column="SPRC_ID" select="au.com.biztune.retail.dao.SuppProdPriceDao.getProductPurchaseItemPerSprcId" />
        <association property="dlnlCaseSize" column="DLNL_CASE_SIZE" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="dlnlProductSize" column="DLNL_PRODUCT_SIZE" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="rcvdCaseSize" column="RCVD_CASE_SIZE" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="rcvdProductSize" column="RCVD_PRODUCT_SIZE" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
    </resultMap>

    <sql id="deliveryNoteHeaderColumns">
        ${alias}.DELN_ID,
        ${alias}.ORGU_ID,
        ${alias}.DELN_NOTE_NUMBER,
        ${alias}.DELN_GRN,
        ${alias}.POH_ID,
        ${alias}.POH_ORDER_NUMBER,
        ${alias}.SUPPLIER_ID,
        ${alias}.DELN_DELIVERY_DATE,
        ${alias}.DELN_CREATED_DATE,
        ${alias}.DELN_LAST_MODIFIED_DATE,
        ${alias}.DELN_LAST_MODIFIED_BY,
        ${alias}.DELN_VALUE_GROSS,
        ${alias}.DELN_VALUE_NETT,
        ${alias}.POH_QTY_ORDERED,
        ${alias}.DELN_TOTAL_QTY,
        ${alias}.DELN_TOTAL_LINES,
        ${alias}.DELN_TYPE,
        ${alias}.DELN_STATUS,
        ${alias}.LEGT_ID,
        ${alias}.DELN_COMMENT,
        ${alias}.FREIGHT_TXRL_ID,
        ${alias}.FREIGHT_AMOUNT,
        ${alias}.FREIGHT_TAX,
        ${alias}.FREIGHT_TAX_CODE,
        ${alias}.DELN_TOTAL,
        ${alias}.DELN_SURCHARGE,
        ${alias}.DELN_TAX
    </sql>

    <sql id="deliveryNoteLineColumns">
        ${alias}.DLNL_ID,
        ${alias}.DELN_ID,
        ${alias}.POL_ID,
        ${alias}.DELN_GRN,
        ${alias}.DLNL_LINE_NUMBER,
        ${alias}.SPRC_ID,
        ${alias}.DLNL_CASE_SIZE,
        ${alias}.DLNL_PRODUCT_SIZE,
        ${alias}.DLNL_UNIT_COST,
        ${alias}.DLNL_QTY,
        ${alias}.RCVD_CASE_SIZE,
        ${alias}.RCVD_PRODUCT_SIZE,
        ${alias}.RCVD_QTY,
        ${alias}.TOTAL_COST,
        ${alias}.DLNL_QTY_REJECTED,
        ${alias}.DLNL_STATUS,
        ${alias}.DLNL_DISCREPANCY,
        ${alias}.POL_QTY,
        ${alias}.DLNL_COMMENT
    </sql>

    <insert id="insertDeliveryNoteHeader" parameterType="DeliveryNoteHeader" useGeneratedKeys="true" keyProperty="id" keyColumn="DELN_ID">
        INSERT INTO DELIVERY_NOTE_HEADER(
            ORGU_ID,
            DELN_NOTE_NUMBER,
            DELN_GRN,
            POH_ID,
            POH_ORDER_NUMBER,
            SUPPLIER_ID,
            DELN_DELIVERY_DATE,
            DELN_CREATED_DATE,
            DELN_LAST_MODIFIED_DATE,
            DELN_LAST_MODIFIED_BY,
            DELN_VALUE_GROSS,
            DELN_VALUE_NETT,
            POH_QTY_ORDERED,
            DELN_TOTAL_QTY,
            DELN_TOTAL_LINES,
            DELN_TYPE,
            DELN_STATUS,
            LEGT_ID,
            DELN_COMMENT,
            FREIGHT_TXRL_ID,
            FREIGHT_AMOUNT,
            FREIGHT_TAX,
            FREIGHT_TAX_CODE,
            DELN_TOTAL,
            DELN_TAX,
            DELN_SURCHARGE
        ) VALUES (
        #{orguId}
        <if test="delnNoteNumber != null">
            ,#{delnNoteNumber}
        </if>
        <if test="delnNoteNumber == null">
            ,null
        </if>
        <if test="delnGrn != null">
            ,#{delnGrn}
        </if>
        <if test="delnGrn == null">
            ,null
        </if>
        <if test="pohId != null">
            ,#{pohId}
        </if>
        <if test="pohId == null">
            ,null
        </if>
        <if test="pohOrderNumber != null">
            ,#{pohOrderNumber}
        </if>
        <if test="pohOrderNumber == null">
            ,null
        </if>
        <if test="supplier != null">
            ,#{supplier.id}
        </if>
        <if test="supplier == null">
            ,null
        </if>
        <if test="delnDeliveryDate != null">
            ,#{delnDeliveryDate}
        </if>
        <if test="delnDeliveryDate == null">
            ,null
        </if>
        <if test="delnCreatedDate != null">
            ,#{delnCreatedDate}
        </if>
        <if test="delnCreatedDate == null">
            ,null
        </if>
        <if test="delnLastModifiedDate != null">
            ,#{delnLastModifiedDate}
        </if>
        <if test="delnLastModifiedDate == null">
            ,null
        </if>
        <if test="delnLastModifiedBy != null">
            ,#{delnLastModifiedBy}
        </if>
        <if test="delnLastModifiedBy == null">
            ,null
        </if>
        <if test="delnValueGross != null">
            ,#{delnValueGross}
        </if>
        <if test="delnValueGross == null">
            ,null
        </if>
        <if test="delnValueNett != null">
            ,#{delnValueNett}
        </if>
        <if test="delnValueNett == null">
            ,null
        </if>
        <if test="pohQtyOrdered != null">
            ,#{pohQtyOrdered}
        </if>
        <if test="pohQtyOrdered == null">
            ,null
        </if>
        <if test="delnTotalQty != null">
            ,#{delnTotalQty}
        </if>
        <if test="delnTotalQty == null">
            ,null
        </if>
        <if test="delnTotalLines != null">
            ,#{delnTotalLines}
        </if>
        <if test="delnTotalLines == null">
            ,null
        </if>
        <if test="delnType != null">
            ,#{delnType.id}
        </if>
        <if test="delnType == null">
            ,null
        </if>
        <if test="delnStatus != null">
            ,#{delnStatus.id}
        </if>
        <if test="delnStatus == null">
            ,null
        </if>
        <if test="legalTender != null">
            ,#{legalTender.id}
        </if>
        <if test="legalTender == null">
            ,null
        </if>
        <if test="delnComment != null">
            ,#{delnComment}
        </if>
        <if test="delnComment == null">
            ,null
        </if>
        <if test="freightTxrl != null">
            ,#{freightTxrl.id}
        </if>
        <if test="freightTxrl == null">
            ,null
        </if>
        <if test="freightAmount != null">
            ,#{freightAmount}
        </if>
        <if test="freightAmount == null">
            ,null
        </if>
        <if test="freightTax != null">
            ,#{freightTax}
        </if>
        <if test="freightTax == null">
            ,null
        </if>
        <if test="freightTaxCode != null">
            ,#{freightTaxCode}
        </if>
        <if test="freightTaxCode == null">
            ,null
        </if>
        <if test="delnTotal != null">
            ,#{delnTotal}
        </if>
        <if test="delnTotal == null">
            ,null
        </if>
        <if test="delnTax != null">
            ,#{delnTax}
        </if>
        <if test="delnTax == null">
            ,null
        </if>
        <if test="delnSurcharge != null">
            ,#{delnSurcharge}
        </if>
        <if test="delnSurcharge == null">
            ,null
        </if>
        )
    </insert>

    <update id="updateDeliveryNoteHeader" parameterType="DeliveryNoteHeader" >
        UPDATE DELIVERY_NOTE_HEADER SET
        ORGU_ID = #{orguId}
        <if test="delnNoteNumber != null">
            ,DELN_NOTE_NUMBER = #{delnNoteNumber}
        </if>
        <if test="delnGrn != null">
            ,DELN_GRN = #{delnGrn}
        </if>
        <if test="pohId != null">
            ,POH_ID = #{pohId}
        </if>
        <if test="pohOrderNumber != null">
            ,POH_ORDER_NUMBER = #{pohOrderNumber}
        </if>
        <if test="supplier != null">
            ,SUPPLIER_ID = #{supplier.id}
        </if>
        <if test="delnDeliveryDate != null">
            ,DELN_DELIVERY_DATE = #{delnDeliveryDate}
        </if>
        <if test="delnCreatedDate != null">
            ,DELN_CREATED_DATE = #{delnCreatedDate}
        </if>
        <if test="delnLastModifiedBy != null">
            ,DELN_LAST_MODIFIED_BY = #{delnLastModifiedBy}
        </if>
        <if test="delnLastModifiedDate != null">
            ,DELN_LAST_MODIFIED_DATE = #{delnLastModifiedDate}
        </if>
        <if test="delnValueGross != null">
            ,DELN_VALUE_GROSS = #{delnValueGross}
        </if>
        <if test="delnValueNett != null">
            ,DELN_VALUE_NETT = #{delnValueNett}
        </if>
        <if test="pohQtyOrdered != null">
            ,POH_QTY_ORDERED = #{pohQtyOrdered}
        </if>
        <if test="delnTotalQty != null">
            ,DELN_TOTAL_QTY = #{delnTotalQty}
        </if>
        <if test="delnTotalLines != null">
            ,DELN_TOTAL_LINES = #{delnTotalLines}
        </if>
        <if test="delnType != null">
            ,DELN_TYPE = #{delnType.id}
        </if>
        <if test="delnStatus != null">
            ,DELN_STATUS = #{delnStatus.id}
        </if>
        <if test="legalTender != null">
            ,LEGT_ID = #{legalTender.id}
        </if>
        <if test="delnComment != null">
            ,DELN_COMMENT = #{delnComment}
        </if>
        <if test="freightTxrl != null">
            ,FREIGHT_TXRL_ID = #{freightTxrl.id}
        </if>
        <if test="freightAmount != null">
            ,FREIGHT_AMOUNT = #{freightAmount}
        </if>
        <if test="freightTax != null">
            ,FREIGHT_TAX = #{freightTax}
        </if>
        <if test="freightTaxCode != null">
            ,FREIGHT_TAX_CODE = #{freightTaxCode}
        </if>
        <if test="delnTotal != null">
            ,DELN_TOTAL = #{delnTotal}
        </if>
        <if test="delnTax != null">
            ,DELN_TAX = #{delnTax}
        </if>
        <if test="delnSurcharge != null">
            ,DELN_SURCHARGE = #{delnSurcharge}
        </if>
        WHERE DELN_ID = #{id}
    </update>


    <insert id="insertDeliveryNoteLine" parameterType="DeliveryNoteLine" useGeneratedKeys="true" keyProperty="id" keyColumn="DLNL_ID">
        INSERT INTO DELIVERY_NOTE_LINE(
            DELN_ID,
            POL_ID,
            DELN_GRN,
            DLNL_LINE_NUMBER,
            SPRC_ID,
            DLNL_CASE_SIZE,
            DLNL_PRODUCT_SIZE,
            DLNL_UNIT_COST,
            DLNL_QTY,
            RCVD_CASE_SIZE,
            RCVD_PRODUCT_SIZE,
            RCVD_QTY,
            TOTAL_COST,
            DLNL_QTY_REJECTED,
            DLNL_STATUS,
            DLNL_DISCREPANCY,
            POL_QTY,
            DLNL_COMMENT
        ) VALUES (
        #{delnId}
        <if test="polId != null">
            ,#{polId}
        </if>
        <if test="polId == null">
            ,null
        </if>

        <if test="delnGrn != null">
            ,#{delnGrn}
        </if>
        <if test="delnGrn == null">
            ,null
        </if>

        <if test="dlnlLineNumber != null">
            ,#{dlnlLineNumber}
        </if>
        <if test="dlnlLineNumber == null">
            ,null
        </if>

        <if test="purchaseItem != null">
            ,#{purchaseItem.id}
        </if>
        <if test="purchaseItem == null">
            ,null
        </if>

        <if test="dlnlCaseSize != null">
            ,#{dlnlCaseSize.id}
        </if>
        <if test="dlnlCaseSize == null">
            ,null
        </if>

        <if test="dlnlProductSize != null">
            ,#{dlnlProductSize.id}
        </if>
        <if test="dlnlProductSize == null">
            ,null
        </if>

        <if test="dlnlUnitCost != null">
            ,#{dlnlUnitCost}
        </if>
        <if test="dlnlUnitCost == null">
            ,null
        </if>

        <if test="dlnlQty != null">
            ,#{dlnlQty}
        </if>
        <if test="dlnlQty == null">
            ,null
        </if>

        <if test="rcvdCaseSize != null">
            ,#{rcvdCaseSize.id}
        </if>
        <if test="rcvdCaseSize == null">
            ,null
        </if>

        <if test="rcvdProductSize != null">
            ,#{rcvdProductSize.id}
        </if>
        <if test="rcvdProductSize == null">
            ,null
        </if>

        <if test="rcvdQty != null">
            ,#{rcvdQty}
        </if>
        <if test="rcvdQty == null">
            ,null
        </if>

        <if test="totalCost != null">
            ,#{totalCost}
        </if>
        <if test="totalCost == null">
            ,null
        </if>

        <if test="dlnlQtyRegected != null">
            ,#{dlnlQtyRegected}
        </if>
        <if test="dlnlQtyRegected == null">
            ,null
        </if>

        <if test="dlnlStatus != null">
            ,#{dlnlStatus.id}
        </if>
        <if test="dlnlStatus == null">
            ,null
        </if>

        <if test="dlnlDiscrepancy != null">
            ,#{dlnlDiscrepancy}
        </if>
        <if test="dlnlDiscrepancy == null">
            ,null
        </if>
        <if test="polQty != null">
            ,#{polQty}
        </if>
        <if test="polQty == null">
            ,null
        </if>
        <if test="dlnlComment != null">
            ,#{dlnlComment}
        </if>
        <if test="dlnlComment == null">
            ,null
        </if>
        )
    </insert>

    <update id="updateDeliveryNoteLine" parameterType="DeliveryNoteLine" >
        UPDATE DELIVERY_NOTE_LINE SET
        DELN_ID = #{delnId}
        <if test="polId != null">
            ,POL_ID = #{polId}
        </if>

        <if test="delnGrn != null">
            ,DELN_GRN = #{delnGrn}
        </if>

        <if test="dlnlLineNumber != null">
            ,DLNL_LINE_NUMBER = #{dlnlLineNumber}
        </if>

        <if test="purchaseItem != null">
            ,SPRC_ID = #{purchaseItem.id}
        </if>

        <if test="dlnlCaseSize != null">
            ,DLNL_CASE_SIZE = #{dlnlCaseSize.id}
        </if>

        <if test="dlnlProductSize != null">
            ,DLNL_PRODUCT_SIZE = #{dlnlProductSize.id}
        </if>

        <if test="dlnlUnitCost != null">
            ,DLNL_UNIT_COST = #{dlnlUnitCost}
        </if>

        <if test="dlnlQty != null">
            ,DLNL_QTY = #{dlnlQty}
        </if>

        <if test="rcvdCaseSize != null">
            ,RCVD_CASE_SIZE = #{rcvdCaseSize.id}
        </if>

        <if test="rcvdProductSize != null">
            ,RCVD_PRODUCT_SIZE = #{rcvdProductSize.id}
        </if>

        <if test="rcvdQty != null">
            ,RCVD_QTY = #{rcvdQty}
        </if>

        <if test="totalCost != null">
            ,TOTAL_COST = #{totalCost}
        </if>

        <if test="dlnlQtyRegected != null">
            ,DLNL_QTY_REJECTED = #{dlnlQtyRegected}
        </if>

        <if test="dlnlStatus != null">
            ,DLNL_STATUS = #{dlnlStatus.id}
        </if>

        <if test="dlnlDiscrepancy != null">
            ,DLNL_DISCREPANCY = #{dlnlDiscrepancy}
        </if>
        <if test="polQty != null">
            ,POL_QTY = #{polQty}
        </if>
        <if test="dlnlComment != null">
            ,DLNL_COMMENT = #{dlnlComment}
        </if>
        WHERE DLNL_ID = #{id}
    </update>

    <select id="getDelNoteLinesPerDlnId" resultMap="deliveryNoteLineMap" >
        SELECT
        <include refid="deliveryNoteLineColumns"><property name="alias" value="dlnl"/></include>
        FROM
        DELIVERY_NOTE_LINE dlnl
        WHERE dlnl.DELN_ID=#{value}
    </select>

    <select id="getAllDelNoteHeaderPerOrguId" resultMap="deliveryNoteHeaderLiteMap" >
        SELECT
        <include refid="deliveryNoteHeaderColumns"><property name="alias" value="deln"/></include>
        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.ORGU_ID=#{value}
    </select>

    <select id="searchDelNoteHeader" resultMap="deliveryNoteHeaderLiteMap" >
        SELECT
        <include refid="deliveryNoteHeaderColumns"><property name="alias" value="deln"/></include>
        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.ORGU_ID=#{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
    </select>

    <select id="getDelNoteHeaderQueryTotalRows" resultType="long"  >
        SELECT
        count(*)
        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.ORGU_ID=#{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
    </select>

    <select id="searchDelNoteHeaderPaging" resultMap="deliveryNoteHeaderLiteMap" >
        SELECT * FROM
        (SELECT
        <include refid="deliveryNoteHeaderColumns">
            <property name="alias" value="deln"/>
        </include>,
        ROW_NUMBER() OVER (ORDER BY (SELECT 100)) AS NUMBER

        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.ORGU_ID=#{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
        )qr
        where qr.NUMBER between #{param3} and #{param4}
    </select>

    <select id="getAllDelNoteHeaderPerOrguIdAndSupplierId" resultMap="deliveryNoteHeaderLiteMap" >
        SELECT
        <include refid="deliveryNoteHeaderColumns"><property name="alias" value="deln"/></include>
        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.ORGU_ID=#{param1} AND deln.SUPPLIER_ID = #{param2}
    </select>

    <select id="getDelNoteHeaderPerNoteNumber" resultMap="deliveryNoteHeaderLiteMap" >
        SELECT
        <include refid="deliveryNoteHeaderColumns"><property name="alias" value="deln"/></include>
        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.DELN_NOTE_NUMBER=#{value}
    </select>

    <select id="getDelNoteWholePerDelnId" resultMap="deliveryNoteHeaderMap" >
        SELECT
        <include refid="deliveryNoteHeaderColumns"><property name="alias" value="deln"/></include>
        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.DELN_ID=#{value}
    </select>
    <update id="updateDeliveryNoteGrnNo" parameterType="DeliveryNoteHeader" >
      UPDATE DELIVERY_NOTE_HEADER SET DELN_GRN = #{delnGrn} WHERE  DELN_ID = #{id}
    </update>

    <delete id="deleteDeliveryNoteLineWhereIdNotIn" >
        DELETE from
        DELIVERY_NOTE_LINE
        where DELN_ID = #{param1} AND
        DLNL_ID not in
        <foreach collection="param2" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteDeliveryNoteLinePerId" >
        DELETE from
        DELIVERY_NOTE_LINE
        where DLNL_ID = #{value}
    </delete>
    <select id="getDelNoteHeadersForAccExport" resultMap="deliveryNoteHeaderExportMap" >
        SELECT
        <include refid="deliveryNoteHeaderColumns"><property name="alias" value="deln"/></include>
        FROM
        DELIVERY_NOTE_HEADER deln
        WHERE deln.ACC_EXPORTED = 0
    </select>

    <select id="getNoOfDeliveryNoteToBeExported" resultType="java.lang.Integer">
        SELECT
         COUNT (DELN_ID) FROM DELIVERY_NOTE_HEADER WHERE ACC_EXPORTED = 0
    </select>


    <update id="updateDeliveryNoteAccExportStatusById" >
        UPDATE DELIVERY_NOTE_HEADER SET ACC_EXPORTED = 1
        WHERE DELN_ID = #{id}
    </update>

</mapper>