<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.FacilityLineDao">
    <!-- result maps -->
    <insert id="insert" parameterType="FacilityLine" useGeneratedKeys="true" >
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT FACILITY_LINE_SEQ.nextVal from dual
        </selectKey>
        INSERT INTO facility_line(
          ID,
          FACILITY_ID,
          LINE_ID
        ) VALUES (
          #{id},
          #{facilityId},
          #{lineId}
        )
    </insert>

    <delete id="delete" >
        DELETE
          From facility_line
        WHERE
          FACILITY_ID = #{value}
    </delete>

</mapper>