<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.FacilityDao">
    <!-- result maps -->
    <resultMap id="facilityMap" type="Facility" >
        <id column="ID" property="id" />
        <result column="TYPE" property="type" />
        <result column="FACILITY_NO" property="number" />
        <result column="FACILITY_NAME" property="name" />
        <result column="FACILITY_OPERATOR" property="operatorName" />
        <result column="OP_CONTACT_NO" property="contactNumber" />
        <result column="SERVICE_LEVEL" property="serviceLevel" />
        <result column="STATUS" property="status" />
        <result column="OUT_OF_SERVICE_CUS_ADVICE" property="alternativeOption" />
        <result column="ADDITIONAL_INFORMATION" property="customerCommunication" />
        <result column="WEBSITE_INFORMATION" property="twitterContent" />
        <association resultMap="configDataMap" property="station" />
        <collection property="linesAfected" javaType="ArrayList" column="ID" ofType="ConfigData" select="getLinesAffected"/>
    </resultMap>

    <resultMap id="configDataMap" type="ConfigData" >
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>


    <select id="getLinesAffected" resultMap="configDataMap" >
        SELECT
          fl.FACILITY_ID,
          fl.line_id id,
          l.linecode name,
          l.name description
        FROM
        FACILITY_LINE fl
        INNER JOIN
        line l on (fl.line_id = l.lineid)
        WHERE
        fl.FACILITY_ID = #{value}
    </select>

    <select id="getAllFacilities" resultMap="facilityMap" >
        SELECT
        f.ID,
        f.TYPE,
        f.FACILITY_NO,
        f.FACILITY_NAME,
        f.FACILITY_OPERATOR,
        f.OP_CONTACT_NO,
        f.SERVICE_LEVEL,
        f.STATUS,
        f.OUT_OF_SERVICE_CUS_ADVICE,
        f.ADDITIONAL_INFORMATION,
        f.WEBSITE_INFORMATION,
        c.categoryid as id,
        c.discription as name,
        c.display_text as description
        FROM
        SA_FACILITY f
        LEFT OUTER JOIN
        category c on (f.STATION_ID = c.categoryid)
    </select>
    <select id="getFacilityById" resultMap="facilityMap" >
        SELECT
        f.ID,
        f.TYPE,
        f.FACILITY_NO,
        f.FACILITY_NAME,
        f.FACILITY_OPERATOR,
        f.OP_CONTACT_NO,
        f.SERVICE_LEVEL,
        f.STATUS,
        f.OUT_OF_SERVICE_CUS_ADVICE,
        f.ADDITIONAL_INFORMATION,
        f.WEBSITE_INFORMATION,
        c.categoryid as id,
        c.discription as name,
        c.display_text as description
        FROM
        SA_FACILITY f
        LEFT OUTER JOIN
        category c on (f.STATION_ID = c.categoryid)
        WHERE f.ID = #{value}
    </select>

    <insert id="insert" parameterType="Facility" useGeneratedKeys="true" >
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            select SA_FACILITY_SEQ.nextval from dual
        </selectKey>

        INSERT INTO SA_FACILITY(
        ID,
        TYPE,
        STATION_ID,
        FACILITY_NO,
        FACILITY_NAME,
        FACILITY_OPERATOR,
        OP_CONTACT_NO,
        SERVICE_LEVEL,
        SERV_AREA_BETWEEN,
        STATUS,
        MOVED_TO_SERV_ALERTS_AT,
        OUT_OF_SERVICE_CUS_ADVICE,
        ADDITIONAL_INFORMATION,
        WEBSITE_INFORMATION,
        LAST_MODIFIED_BY,
        LAST_MODIFIED_DATE
        ) VALUES (
        #{id},
        #{type},
        #{station.id},
        #{number},
        #{name},
        #{operatorName},
        #{contactNumber},
        #{serviceLevel},
        #{serviceAreaBetween},
        #{status},
        #{moveToServAlertsAt},
        #{alternativeOption},
        #{customerCommunication},
        #{twitterContent},
        #{lastModifiedBy},
        #{lastModifiedDate}
        )
    </insert>
    <update id="update" parameterType="Facility" >

        UPDATE SA_FACILITY SET
        TYPE = #{type},
        STATION_ID = #{station.id},
        FACILITY_NO = #{number},
        FACILITY_NAME = #{name},
        FACILITY_OPERATOR = #{operatorName},
        OP_CONTACT_NO = #{contactNumber},
        SERVICE_LEVEL = #{serviceLevel},
        SERV_AREA_BETWEEN = #{serviceAreaBetween},
        STATUS = #{status},
        MOVED_TO_SERV_ALERTS_AT = #{moveToServAlertsAt},
        OUT_OF_SERVICE_CUS_ADVICE = #{alternativeOption},
        ADDITIONAL_INFORMATION = #{customerCommunication},
        WEBSITE_INFORMATION = #{twitterContent},
        LAST_MODIFIED_BY = #{lastModifiedBy},
        LAST_MODIFIED_DATE = #{lastModifiedDate}
        WHERE
        ID = #{id}

    </update>
    <update id="setStatus" parameterType="Facility" >
        UPDATE SA_FACILITY SET
        STATUS = #{status}
        WHERE
        ID = #{id}
    </update>

</mapper>