<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.LinePathDao">
    <!-- result maps -->
    <resultMap id="LinePathMap" type="LinePath" >
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="LONG_NAME" property="longName" />
    </resultMap>

    <select id="getLinePathsPerLineName" resultMap="LinePathMap" >
        SELECT
          lp.ID,
          lp.NAME,
          lp.lLONG_NAME
        FROM
          LINE_PATH lp INNER JOIN NETWORK_LINE nl ON (lp.network_line_id = nl.id)
        WHERE
          nl.name = #{value}
        ORDER BY
          NAME
    </select>
    <select id="getLinePathsPerLineId" resultMap="LinePathMap" >
        SELECT
        lp.ID,
        lp.NAME,
        lp.lLONG_NAME
        FROM
        LINE_PATH lp INNER JOIN NETWORK_LINE nl ON (lp.network_line_id = nl.id)
        WHERE
        nl.id = #{value}
        ORDER BY
        NAME
    </select>

</mapper>