<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.MessageBodyDao">
    <!-- result maps -->
    <insert id="insert" parameterType="MessageBody" useGeneratedKeys="true">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT MESSAGE_BODY_SEQ.nextVal FROM dual
        </selectKey>
        INSERT INTO MESSAGE_BODY(
          ID,
          NOTIFICATION_ID,
          CATEGORY_ID,
          MESSAGE_TITLE,
          MESSAGE_BODY,
          MESSAGE_DVA,
          STATUS,
          LAST_MODIFIED_BY,
          LAST_MODIFIED_DATE
        ) VALUES (
        #{id},
        #{notificationId},
        #{channel.id},
        #{messageTitle},
        #{messageBody},
        <if test="dvaText != null">
            #{dvaText},
        </if>
        <if test="dvaText == null">
            null,
        </if>
        #{status.id},
        #{lastModifiedBy.userId},
        #{lastModifiedDate}
        )
    </insert>

    <delete id="delete" >
        DELETE
        From MESSAGE_BODY
        WHERE
        NOTIFICATION_ID = #{value}
    </delete>

    <resultMap id="MessageBodyMap" type="MessageBody" >
        <id column="ID" property="id" />
        <result column="NOTIFICATION_ID" property="notificationId" />
        <result column="MESSAGE_TITLE" property="messageTitle" />
        <result column="MESSAGE_BODY" property="messageBody" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="MESSAGE_DVA" property="dvaText" />
        <association property="lastModifiedBy" resultMap="au.gov.nsw.railcorp.cimg.dao.StaffUserDao.staffUserMap"/>
        <association property="channel" resultMap="channelMap"/>
        <association property="status" resultMap="statusMap"/>
    </resultMap>

    <resultMap id="channelMap" type="ConfigData" >
        <id column="channel_id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>
    <resultMap id="statusMap" type="ConfigData" >
        <id column="status_id" property="id" />
        <result column="status_name" property="name" />
        <result column="status_description" property="description" />
    </resultMap>

    <select id="getMessageBodyPerIncident" resultMap="MessageBodyMap" >
        SELECT
        mb.id as ID,
        mb.notification_id ,
        mb.message_title ,
        mb.message_body ,
        mb.LAST_MODIFIED_DATE,
        mb.MESSAGE_DVA,
        c1.categoryid as channel_id,
        c1.discription as name,
        c1.display_text as description,
        c2.categoryid as status_id,
        c2.discription as status_name,
        c2.display_text as status_description,
        su.USER_ID,
        su.USERNAME,
        su.FIRST_NAME,
        su.SURNAME,
        su.USER_ID
        FROM
        message_body mb
        LEFT OUTER JOIN
        category c1 on (mb.category_id = c1.categoryid)
        LEFT OUTER JOIN
        category c2 on (mb.status = c2.categoryid)
        LEFT OUTER JOIN
        STAFF_USER su on (mb.last_modified_by = su.user_id)
        WHERE
        mb.notification_id = #{value}
    </select>
    <update id="update" parameterType="MessageBody" >

        UPDATE MESSAGE_BODY SET
        MESSAGE_BODY = #{messageBody}
        <if test="messageTitle !=null ">
            ,MESSAGE_TITLE = #{messageTitle}
        </if>
        <if test="lastModifiedBy !=null ">
            ,LAST_MODIFIED_BY = #{lastModifiedBy.userId}
        </if>
        <if test="lastModifiedDate != null" >
            ,LAST_MODIFIED_DATE = #{lastModifiedDate}
        </if>
        <if test="status != null" >
            ,STATUS = #{status.id}
        </if>
        WHERE
        ID = #{id}
    </update>


</mapper>