<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.NetworkLineDao">
    <!-- result maps -->
    <resultMap id="networkLineAsConfigDataMap" type="Line" >
        <id column="ID" property="lineId" />
        <result column="NAME" property="lineCode" />
        <result column="LONG_NAME" property="name" />
    </resultMap>

    <resultMap id="networkLineMap" type="NetworkLine" >
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="LONG_NAME" property="longName" />
        <result column="BACKGROUND_COLOUR_HEX" property="backgroundColourHex" />
        <result column="TEXT_COLUR_HEX" property="textColourHex" />
    </resultMap>

    <select id="getLinesAsRefData" resultMap="networkLineAsConfigDataMap" >
        SELECT
          ID,
          NAME,
          LONG_NAME
        FROM
          NETWORK_LINE
        ORDER BY
          NAME
    </select>

    <select id="getAllLines" resultMap="networkLineMap" >
        SELECT
        ID,
        NAME,
        LONG_NAME,
        BACKGROUND_COLOUR_HEX,
        TEXT_COLUR_HEX
        FROM
        NETWORK_LINE
        ORDER BY
        NAME
    </select>

</mapper>