<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.NotificationLineDao">
    <!-- result maps -->
    <insert id="insert" parameterType="NotificationLine" useGeneratedKeys="true" >
        <selectKey keyProperty="notificationLineId" resultType="java.lang.Long" order="BEFORE">
            SELECT NOTIFICATION_LINE_SEQ.nextVal from dual
        </selectKey>
        INSERT INTO notification_line(
          NOTIF_LINE_ID,
          NOTIFICATION_ID,
          LINE_ID,
          LINE_TYPE
        ) VALUES (
          #{notificationLineId},
          #{notificationId},
          #{lineId},
          #{lineType}
        )
    </insert>

    <delete id="delete" >
        DELETE
          From notification_line
        WHERE
          NOTIFICATION_ID = #{value}

    </delete>

</mapper>