<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.NotificationScriptItemDao">
    <resultMap id="notificationScriptItemMap" type="NotificationScriptItem" >
        <id column="NOTIF_SCRIPT_ITEM_ID" property="notificationScriptItemId" />
        <result column="SCRIPT_ID" property="notificationScriptId" />
        <result column="PREPARED_TEXT" property="preparedText" />
        <!--association property="category" resultMap="au.gov.nsw.railcorp.cimg.dao.StaffUserDao.staffUserMap"/-->
        <association property="category" column="CATEGORY_ID" select="au.gov.nsw.railcorp.cimg.dao.CategoryDao.getCategoryById"/>
        <collection property="paramList" javaType="ArrayList" ofType="NotificationScriptParam" column="NOTIF_SCRIPT_ITEM_ID" select="au.gov.nsw.railcorp.cimg.dao.NotificationScriptParamDao.getParamListOfItem"/>
    </resultMap>
    <!-- result maps -->
    <insert id="insert" parameterType="NotificationScriptItem" useGeneratedKeys="true">
        <selectKey keyProperty="notificationScriptItemId" resultType="java.lang.Long" order="BEFORE">
            SELECT NOTIFICATION_SCRIPT_ITEM_SEQ.nextVal FROM dual
        </selectKey>
        INSERT INTO notification_script_item(
          NOTIF_SCRIPT_ITEM_ID,
          SCRIPT_ID,
          CATEGORY_ID,
          PREPARED_TEXT
        ) VALUES (
          #{notificationScriptItemId},
          #{notificationScriptId},
          #{category.categoryId},
          #{preparedText}
        )
    </insert>
    <delete id="delete" >
      DELETE from
        notification_script_item
      where
        SCRIPT_ID in (select notif_script_id from notification_script where notification_id=#{value} )
   </delete>

    <select id="getItemListOfScript" resultMap="notificationScriptItemMap" >
        SELECT
        nsi.NOTIF_SCRIPT_ITEM_ID,
        nsi.SCRIPT_ID,
        nsi.PREPARED_TEXT,
        nsi.CATEGORY_ID
        FROM
        notification_script_item nsi
        inner join notification_script ns on (ns.notif_script_id = nsi.script_id)
        WHERE
        ns.notification_id = #{param1} AND ns.name = #{param2}
    </select>

</mapper>