<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.NotificationDao">
    <!-- result maps -->
    <resultMap id="notificationMap" type="Notification" >
        <id column="NOTIF_ID" property="notificationId" />
        <result column="HEADING" property="heading" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="IIMS" property="iimsNumber" />
        <result column="ERLIER_INCIDENT" property="erlierIncident" />
        <association property="status" resultMap="configDataMap"/>
        <association property="messageType" resultMap="messageTypeMap"/>
        <association property="lastModifiedBy" resultMap="au.gov.nsw.railcorp.cimg.dao.StaffUserDao.staffUserMap"/>
        <association property="messageSubType" resultMap="messageSubTypeMap"/>
        <collection property="messageChannels" javaType="ArrayList" column="NOTIF_ID" ofType="MessageBody" select="au.gov.nsw.railcorp.cimg.dao.MessageBodyDao.getMessageBodyPerIncident"/>
    </resultMap>

    <resultMap id="notificationDetailMap" type="Notification" >
        <id column="NOTIF_ID" property="notificationId" />
        <result column="HEADING" property="heading" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="IIMS" property="iimsNumber" />
        <result column="ERLIER_INCIDENT" property="erlierIncident" />
        <result column="TRANSPOSITION" property="transposition" />
        <result column="DELAY" property="delay" />
        <result column="DATETIME_START" property="dateTimeStart" />
        <result column="DATETIME_END" property="dateTimeEnd" />
        <result column="JOB_SCHEDULE_START" property="jobScheduleStart" />
        <result column="JOB_SCHEDULE_END" property="jobScheduleEnd" />
        <result column="CRON_EXPRESSION" property="cronExpression" />
        <association property="status" resultMap="configDataMap"/>
        <association property="messageType" resultMap="messageTypeMap"/>
        <collection property="trips" javaType="ArrayList" column="NOTIF_ID" ofType="ConfigData" select="getTrips"/>
        <collection property="transpositions" javaType="ArrayList" column="NOTIF_ID" ofType="Transposition" select="getTranspositions"/>
        <collection property="linesAfected" javaType="ArrayList" column="NOTIF_ID" ofType="NetworkLine" select="getNetworkLines"/>
    </resultMap>

    <resultMap id="stationMessageDetailMap" type="StationMessage" >
        <id column="NOTIF_ID" property="id" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="BODY" property="messageBody" />
        <association property="status" resultMap="configDataMap"/>
        <collection property="lines" javaType="ArrayList" column="NOTIF_ID" ofType="NetworkLine" select="getNetworkLines"/>
        <collection property="stations" javaType="ArrayList" column="NOTIF_ID" ofType="Stop" select="getStations"/>
    </resultMap>


    <resultMap id="configDataMap" type="ConfigData" >
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>

    <resultMap id="messageTypeMap" type="ConfigData" >
        <id column="status_id" property="id" />
        <result column="status_name" property="name" />
        <result column="status_description" property="description" />
    </resultMap>

    <resultMap id="messageSubTypeMap" type="ConfigData" >
        <id column="subType_id" property="id" />
        <result column="subType_name" property="name" />
        <result column="subType_description" property="description" />
    </resultMap>


    <resultMap id="transpositionMap" type="Transposition" >
        <id column="transpositionId" property="transpositionId" />
        <result column="notif_id" property="notificationId" />
        <result column="trip_name" property="tripName" />
        <result column="stations" property="stations" />
        <association property="impact" resultMap="configDataMap"/>
    </resultMap>

    <select id="getAllNotifications" resultMap="notificationMap" >
        SELECT
          n.NOTIF_ID,
          n.HEADING,
          n.CREATED_DATE,
          n.LAST_MODIFIED_DATE,
          n.IIMS,
          n.ERLIER_INCIDENT,
          c.categoryid as id,
          c.discription as name,
          c.display_text as description,
          t.categoryid as status_id,
          t.discription as status_name,
          t.display_text as status_description,
          st.categoryid as subType_id,
          st.discription as subType_name,
          st.display_text as subType_description,
          su.USER_ID,
          su.USERNAME,
          su.FIRST_NAME,
          su.SURNAME,
          su.USER_ID
        FROM
          notification n
          LEFT OUTER JOIN
          category c on (n.status = c.categoryid)
          LEFT OUTER JOIN
          category t on (n.type_id = t.categoryid)
          LEFT OUTER JOIN
          category st on (n.sub_type_id = st.categoryid)
          LEFT OUTER JOIN
          STAFF_USER su on (n.last_modified_by = su.user_id)
        ORDER BY
        n.LAST_MODIFIED_BY DESC
    </select>

    <select id="getNotificationById" resultMap="notificationDetailMap" >
        SELECT
        n.NOTIF_ID,
        n.HEADING,
        n.CREATED_BY,
        n.CREATED_DATE,
        n.LAST_MODIFIED_BY,
        n.LAST_MODIFIED_DATE,
        n.IIMS,
        n.ERLIER_INCIDENT,
        n.DATETIME_START,
        n.DATETIME_END,
        n.JOB_SCHEDULE_START,
        n.JOB_SCHEDULE_END,
        n.CRON_EXPRESSION,
        n.transposition,
        n.delay,
        c.categoryid as id,
        c.discription as name,
        c.display_text as description,
        t.categoryid as status_id,
        t.discription as status_name,
        t.display_text as status_description,
        st.categoryid as subType_id,
        st.discription as subType_name,
        st.display_text as subType_description
        FROM
        notification n
        LEFT OUTER JOIN
        category c on (n.status = c.categoryid)
        LEFT OUTER JOIN
        category st on (n.sub_type_id = st.categoryid)
        LEFT OUTER JOIN
        category t on (n.type_id = t.categoryid)
        WHERE
        n.NOTIF_ID = #{value}
    </select>

    <select id="getStationMessageById" resultMap="stationMessageDetailMap" >
        SELECT
        n.NOTIF_ID,
        n.CREATED_DATE,
        n.LAST_MODIFIED_DATE,
        n.BODY,
        c.categoryid as id,
        c.discription as name,
        c.display_text as description
        FROM
        notification n
        LEFT OUTER JOIN
        category c on (n.status = c.categoryid)
        WHERE
        n.NOTIF_ID = #{value}
    </select>


    <select id="getLinesAffected" resultMap="configDataMap" >
        SELECT
          nl.NOTIFICATION_ID,
          nl.line_id id,
          l.linecode name,
          l.name description
        FROM
        notification_line nl
        INNER JOIN
        line l on (nl.line_id = l.lineid)
        WHERE
        nl.NOTIFICATION_ID = #{value}
    </select>

    <select id="getNetworkLines" resultMap="au.gov.nsw.railcorp.cimg.dao.NetworkLineDao.networkLineMap" >
        SELECT
        nl.NOTIFICATION_ID,
        nl.line_id id,
        netLine.NAME name,
        netLine.LONG_NAME longName,
        netLine.BACKGROUND_COLOUR_HEX backgroundColourHex,
        netLine.TEXT_COLUR_HEX textColourHex
        FROM
        notification_line nl
        INNER JOIN
        NETWORK_LINE netLine on (nl.line_id = netLine.id)
        WHERE
        nl.NOTIFICATION_ID = #{value}
    </select>

    <select id="getStations" resultMap="au.gov.nsw.railcorp.cimg.dao.StopDao.StopMap" >
        SELECT
        ns.NOTIFICATION_ID,
        ns.STATION_CAT_ID id,
        stop.STATION_STOP stationStop,
        stop.PARENT_STOP_ID parentStopId,
        stop.NAME name,
        stop.DESCRIPTION description,
        stop.GTFS_STOP_ID gtfsStopId,
        stop.LATITUDE latitude,
        stop.LONGITUDE longitude
        FROM
        NOTIFICATION_STATION ns
        INNER JOIN
        STOP stop on (ns.STATION_CAT_ID = stop.id)
        WHERE
        ns.NOTIFICATION_ID = #{value}
    </select>

    <select id="getTrips" resultMap="configDataMap" >
        SELECT
        nt.NOTIFICATION_ID,
        nt.notif_trip_id id,
        nt.trip name,
        nt.trip description
        FROM
        notification_trip nt
        WHERE
        nt.NOTIFICATION_ID = #{value}
    </select>


    <select id="getTranspositions" resultMap="transpositionMap" >
        SELECT
          t.id as transpositionId,
          t.notif_id ,
          t.trip_name ,
          t.impact_id ,
          t.stations,
          c.categoryid as id,
          c.discription as name,
          c.display_text as description
        FROM
          transposition t
        LEFT OUTER JOIN
          category c on (t.impact_id = c.categoryid)
        WHERE
          t.NOTIF_ID = #{value}
    </select>

    <insert id="insert" parameterType="Notification" useGeneratedKeys="true" >
        <selectKey keyProperty="notificationId" resultType="java.lang.Long" order="BEFORE">
            select NOTIFICATION_SEQ.nextval from dual
        </selectKey>

        INSERT INTO notification(
          NOTIF_ID,
          TYPE_ID,
          SUB_TYPE_ID,
          HEADING,
          IIMS,
          TRANSPOSITION,
          DELAY,
          ERLIER_INCIDENT,
          BODY,
          CREATED_BY,
          CREATED_DATE,
          LAST_MODIFIED_BY,
          LAST_MODIFIED_DATE,
          DATETIME_START,
          DATETIME_END,
          STATUS,
          JOB_SCHEDULE_START,
          JOB_SCHEDULE_END,
          CRON_EXPRESSION
        ) VALUES (
          #{notificationId},
          #{messageType.id},
          <if test="messageSubType != null">
              #{messageSubType.id},
          </if>
          <if test="messageSubType == null">
                null,
          </if>
          #{heading},
          <if test="iimsNumber != null" >
              #{iimsNumber},
          </if>
          <if test="iimsNumber == null" >
              null,
          </if>
        <if test="transposition != null" >
            #{transposition},
        </if>
        <if test="transposition == null" >
            null,
        </if>
        <if test="delay != null" >
            #{delay},
        </if>
        <if test="delay == null" >
            null,
        </if>
          <if test="erlierIncident !=null">
              #{erlierIncident},
          </if>
          <if test="erlierIncident ==null">
              null,
          </if>
          #{body},
          #{createdBy.userId},
          #{createdDate},
          #{lastModifiedBy.userId},
          #{lastModifiedDate},
          <if test="dateTimeStart !=null ">
              #{dateTimeStart},
          </if>
          <if test="dateTimeStart ==null ">
              null,
          </if>
          <if test="dateTimeEnd !=null ">
              #{dateTimeEnd},
          </if>
          <if test="dateTimeEnd ==null ">
              null,
          </if>
          #{status.id},
          <if test="jobScheduleStart !=null ">
              #{jobScheduleStart},
          </if>
          <if test="jobScheduleStart ==null ">
              null,
          </if>
          <if test="jobScheduleEnd != null">
              #{jobScheduleEnd},
          </if>
          <if test="jobScheduleEnd == null">
              null,
          </if>
          <if test="cronExpression != null">
              #{cronExpression}
          </if>
          <if test="cronExpression == null">
              null
          </if>
        )
    </insert>
    <update id="update" parameterType="Notification" >

        UPDATE notification SET
        HEADING = #{heading}
        <if test="messageSubType !=null ">
            ,SUB_TYPE_ID = #{messageSubType.id}
        </if>
        <if test="iimsNumber !=null ">
            ,IIMS = #{iimsNumber}
        </if>
        <if test="transposition !=null ">
            ,TRANSPOSITION = #{transposition}
        </if>
        <if test="erlierIncident != null" >
            ,ERLIER_INCIDENT = #{erlierIncident}
        </if>
        <if test="body != null">
            ,BODY = #{body}
        </if>
        ,LAST_MODIFIED_BY = #{lastModifiedBy.userId}
        ,LAST_MODIFIED_DATE = #{lastModifiedDate}
        ,STATUS = #{status.id}
        <if test="dateTimeStart != null">
            ,DATETIME_START = #{dateTimeStart}
        </if>
        <if test="dateTimeEnd != null">
            ,DATETIME_END =#{dateTimeEnd}
        </if>
        <if test="jobScheduleStart != null">
            ,JOB_SCHEDULE_START =#{jobScheduleStart}
        </if>
        <if test="jobScheduleEnd !=null">
            ,JOB_SCHEDULE_END = #{jobScheduleEnd}
        </if>
        <if test="cronExpression != null">
            ,CRON_EXPRESSION = #{cronExpression}
        </if>
        WHERE
        NOTIF_ID = #{notificationId}

    </update>
    <update id="updateStatus" parameterType="Notification" >

        UPDATE notification SET
        STATUS = #{status.id}
        WHERE
        NOTIF_ID = #{notificationId}

    </update>

</mapper>