<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.OrgUnitDao">
    <!-- result maps -->
    <resultMap id="orgUnitMap" type="OrgUnit" >
        <id column="ORGU_ID" property="id" />
        <result column="ORGU_CODE" property="orguCode" />
        <result column="ORGU_NAME" property="orguName" />
        <result column="ORGU_DESC" property="orguDesc" />
        <association property="priceBand" column="ORGU_ID" select="au.com.biztune.retail.dao.PriceBandDao.getActivePriceBandPerOrgUnitId" />
    </resultMap>

    <sql id="orguColumns">
        ${alias}.ORGU_ID,
        ${alias}.ORGU_CODE,
        ${alias}.ORGU_NAME,
        ${alias}.ORGU_DESC
    </sql>

    <select id="getOrgUnitByTypeAndCode" resultMap="orgUnitMap" >
        SELECT
          <include refid="orguColumns"><property name="alias" value="orgu"/></include>
        FROM org_unit orgu
        INNER JOIN org_type orgt on (orgt.orgt_type_id = orgu.orgt_type_id)
        WHERE orgt.orgt_type_type = #{param1} and orgu.orgu_code = #{param2}
    </select>
</mapper>