<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.OrgUnitDao">
    <!-- result maps -->
    <resultMap id="orgUnitMap" type="OrgUnit" >
        <id column="ORGU_ID" property="id" />
        <result column="ORGU_CODE" property="orguCode" />
        <result column="ORGU_NAME" property="orguName" />
        <result column="ORGU_DESC" property="orguDesc" />
        <association property="priceBand" column="ORGU_ID" select="au.com.biztune.retail.dao.PriceBandDao.getActivePriceBandPerOrgUnitId" />
        <association property="stockLocation" column="ORGU_ID" select="au.com.biztune.retail.dao.StockDao.getStockLocationPerOrguId" />
    </resultMap>

    <resultMap id="storeMap" type="Store" >
        <id column="STORE_ID" property="id" />
        <result column="COMPANY_CODE" property="companyCode" />
        <result column="STORE_CODE" property="storeCode" />
        <result column="STORE_NAME" property="storeName" />
        <result column="STORE_STATUS" property="storeStatus" />
        <association property="orgUnit" column="ORGU_ID" select="getOrgUnitById" />
    </resultMap>

    <sql id="orguColumns">
        ${alias}.ORGU_ID,
        ${alias}.ORGU_CODE,
        ${alias}.ORGU_NAME,
        ${alias}.ORGU_DESC
    </sql>

    <sql id="storeColumns">
        ${alias}.STORE_ID,
        ${alias}.COMPANY_CODE,
        ${alias}.STORE_CODE,
        ${alias}.STORE_NAME,
        ${alias}.STORE_STATUS,
        ${alias}.ORGU_ID
    </sql>

    <select id="getOrgUnitByTypeAndCode" resultMap="orgUnitMap" >
        SELECT
          <include refid="orguColumns"><property name="alias" value="orgu"/></include>
        FROM org_unit orgu
        INNER JOIN org_type orgt on (orgt.orgt_type_id = orgu.orgt_type_id)
        WHERE orgt.orgt_type_code = #{param1} and orgu.orgu_code = #{param2}
    </select>
    <select id="getOrgUnitById" resultMap="orgUnitMap" >
        SELECT
        <include refid="orguColumns"><property name="alias" value="orgu"/></include>
        FROM org_unit orgu
        WHERE orgu.ORGU_ID=#{value}
    </select>
    <select id="getStoreByCode" resultMap="storeMap" >
        SELECT
        <include refid="storeColumns"><property name="alias" value="store"/></include>
        FROM STORE store
        WHERE store.STORE_CODE=#{value}
    </select>
    <select id="getStoreById" resultMap="storeMap" >
        SELECT
        <include refid="storeColumns"><property name="alias" value="store"/></include>
        FROM STORE store
        WHERE store.STORE_ID=#{value}
    </select>

</mapper>