<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.ParamMapDao">
    <!-- result maps -->
    <resultMap id="scriptParamMap" type="ParamMap" >
        <result column="PARAM_NAME" property="paramName" />
        <result column="DESCRIPTION" property="description" />
        <result column="HTML_ELEMENT" property="htmlElement" />
        <result column="DATA_SOURCE" property="dataSource" />
    </resultMap>
    <select id="getParamMapPerName" resultMap="scriptParamMap" >
        SELECT
          PARAM_NAME,
          DESCRIPTION,
          HTML_ELEMENT,
          DATA_SOURCE
        FROM
          PARAM_MAP
        WHERE
          PARAM_NAME=#{value}
    </select>

    <select id="getMessageChannelParams" resultMap="scriptParamMap" >
        SELECT
        PARAM_NAME,
        DESCRIPTION,
        HTML_ELEMENT,
        DATA_SOURCE
        FROM
        PARAM_MAP
        WHERE
        PARAM_NAME like #{value}
    </select>

    <resultMap id="paramMapDataSource" type="ConfigData" >
        <result column="id" property="id" />
        <result column="description" property="description" />
        <result column="name" property="name" />
    </resultMap>
    <select id="getParamSourceData" resultMap="paramMapDataSource" parameterType="string" >
        ${_parameter}
    </select>


    <resultMap id="stringMap" type="java.lang.String" >
        <result column="PARAM_VAL" property="" />
    </resultMap>

    <select id="getMessageChannelParamSourceData" resultMap="stringMap" parameterType="string" >
        ${_parameter}
    </select>

</mapper>