<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.PurchaseOrderDao">
    <!-- result maps -->

    <resultMap id="purchaseOrderHeaderLiteMap" type="PurchaseORderHeader" >
        <id column="POH_ID" property="id" />
        <result column="POH_ORDER_NUMBER" property="pohOrderNumber" />
        <result column="POH_SUPP_REF" property="pohSuppRef" />
        <result column="POH_SUPP_CONTACT" property="pohSuppContact" />
        <result column="POH_CREATED_DATE" property="pohCreatedDate" />
        <result column="POH_LAST_MODIFIED_DATE" property="pohLastModifiedDate" />
        <result column="POH_LAST_MODIFIED_BY" property="pohLastModifiedBy" />
        <result column="POH_LAST_DELV_DATE" property="pohLastDelvDate" />
        <result column="POH_CANCELLED" property="pohCancelled" />
        <result column="POH_APPROVED" property="pohApproved" />
        <result column="POH_DELV_NAME" property="delvName" />
        <result column="POH_DELV_ADDRESS" property="delvAddress" />
        <result column="POH_DELV_PHONE" property="delvPhone" />
        <result column="POH_DELV_MOBILE" property="delvMobile" />
        <result column="POH_DELV_DATE" property="pohDelvDate" />
        <result column="POH_EXP_TRANSMIT" property="pohExpTransmit" />
        <result column="POH_EXP_DELIVERY" property="pohExpDelivery" />
        <result column="POH_ACT_TRANSMIT" property="pohActTransmit" />
        <result column="POH_CONFIRM_DATE" property="pohConfirmDate" />
        <result column="POH_VALUE_GROSS" property="pohValueGross" />
        <result column="POH_VALUE_NETT" property="pohValueNett" />
        <result column="POH_VALUE_TAX" property="pohValueTax" />
        <result column="POH_TOTAL_QTY" property="pohTotalQty" />
        <result column="POH_TOTAL_LINES" property="pohTotalLines" />
        <result column="POH_COMMENT" property="pohComment" />
        <result column="POH_REVISION" property="pohRevision" />
        <result column="POH_DLV_ADDRESS" property="pohDlvAddress" />
        <result column="POH_CONTACT_PERSON" property="pohContactPerson" />
        <result column="POH_CONTACT_PHONE" property="pohContactPhone" />
        <result column="POH_PREFIX" property="pohPrefix" />
        <result column="POH_PRINTED" property="pohPrinted" />
        <result column="POH_PRJ_NAME" property="pohPrjName" />
        <result column="POH_PRJ_CODE" property="pohPrjCode" />
        <result column="COSTS_INCLUDE_TAX" property="costsIncludeTax" />
        <association property="supplier" column="SUPPLIER_ID" select="au.com.biztune.retail.dao.SupplierDao.getSupplierBySuppId" />
        <association property="user" column="POH_LAST_MODIFIED_BY" select="au.com.biztune.retail.dao.UserDao.getLiteUserById" />
        <association property="pohStatus" column="POH_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <collection property="linkedDelNotes" javaType="ArrayList" column="POH_ID" ofType="PoDelNoteLink" select="au.com.biztune.retail.dao.PoDelNoteLinkDao.getAllPoDelNoteLinkPerPohId"/>
    </resultMap>


    <resultMap id="purchaseOrderHeaderMap" type="PurchaseORderHeader" >
        <id column="POH_ID" property="id" />
        <result column="POH_ORDER_NUMBER" property="pohOrderNumber" />
        <result column="POH_SUPP_REF" property="pohSuppRef" />
        <result column="POH_SUPP_CONTACT" property="pohSuppContact" />
        <result column="POH_CREATED_DATE" property="pohCreatedDate" />
        <result column="POH_LAST_MODIFIED_DATE" property="pohLastModifiedDate" />
        <result column="POH_LAST_MODIFIED_BY" property="pohLastModifiedBy" />
        <result column="POH_LAST_DELV_DATE" property="pohLastDelvDate" />
        <result column="POH_CANCELLED" property="pohCancelled" />
        <result column="POH_APPROVED" property="pohApproved" />
        <result column="POH_DELV_NAME" property="delvName" />
        <result column="POH_DELV_ADDRESS" property="delvAddress" />
        <result column="POH_DELV_PHONE" property="delvPhone" />
        <result column="POH_DELV_MOBILE" property="delvMobile" />
        <result column="POH_DELV_DATE" property="pohDelvDate" />
        <result column="POH_EXP_TRANSMIT" property="pohExpTransmit" />
        <result column="POH_EXP_DELIVERY" property="pohExpDelivery" />
        <result column="POH_ACT_TRANSMIT" property="pohActTransmit" />
        <result column="POH_CONFIRM_DATE" property="pohConfirmDate" />
        <result column="POH_VALUE_GROSS" property="pohValueGross" />
        <result column="POH_VALUE_NETT" property="pohValueNett" />
        <result column="POH_VALUE_TAX" property="pohValueTax" />
        <result column="POH_TOTAL_QTY" property="pohTotalQty" />
        <result column="POH_TOTAL_LINES" property="pohTotalLines" />
        <result column="POH_COMMENT" property="pohComment" />
        <result column="POH_REVISION" property="pohRevision" />
        <result column="POH_DLV_ADDRESS" property="pohDlvAddress" />
        <result column="POH_CONTACT_PERSON" property="pohContactPerson" />
        <result column="POH_CONTACT_PHONE" property="pohContactPhone" />
        <result column="POH_PREFIX" property="pohPrefix" />
        <result column="POH_PRINTED" property="pohPrinted" />
        <result column="POH_PRJ_NAME" property="pohPrjName" />
        <result column="POH_PRJ_CODE" property="pohPrjCode" />
        <result column="COSTS_INCLUDE_TAX" property="costsIncludeTax" />
        <association property="user" column="POH_LAST_MODIFIED_BY" select="au.com.biztune.retail.dao.UserDao.getLiteUserById" />
        <association property="supplier" column="SUPPLIER_ID" select="au.com.biztune.retail.dao.SupplierDao.getSupplierFullBySuppId" />
        <association property="pohStatus" column="POH_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <collection property="lines" javaType="ArrayList" column="POH_ID" ofType="PurchaseLine" select="getPurchaseLinesPerPohId"/>
    </resultMap>

    <resultMap id="purchaseLineMap" type="PurchaseLine" >
        <id column="POL_ID" property="id" />
        <result column="POH_ID" property="pohId" />
        <result column="POL_UNIT_COST" property="polUnitCost" />
        <result column="POL_PRICE" property="polPrice" />
        <result column="POL_SPECIAL_BUY" property="polSpecialBuy" />
        <result column="POL_QTY_ORDERED" property="polQtyOrdered" />
        <result column="POL_QTY_RESERVED" property="polQtyReserved" />
        <result column="POL_QTY_CANCELLED" property="polQtyCancelled" />
        <result column="POL_QTY_RECEIVED" property="polQtyReceived" />
        <result column="POL_QTY_INVOICED" property="polQtyInvoiced" />
        <result column="POL_VALUE_ORDERED" property="polValueOrdered" />
        <result column="POL_VALUE_TAX" property="polValueTax" />
        <result column="POL_VALUE_GROSS" property="polValueGross" />
        <result column="POL_VALUE_RECEIVED" property="polValueReceived" />
        <result column="POL_VALUE_INVOICED" property="polValueInvoiced" />
        <result column="POL_FREE_TEXT" property="polFreeText" />
        <result column="POL_MODIFIED" property="polModified" />
        <result column="POL_DATE_RECEIVED" property="polDateReceived" />
        <result column="POL_PRICE_CHECKED" property="polPriceChecked" />
        <result column="POL_ID_PARENT_LINE" property="polIdParentLine" />
        <result column="POL_QTY_COUNTED" property="polQtyCounted" />
        <result column="POL_CONTENTS" property="polContents" />
        <association property="purchaseItem" column="SPRC_ID" select="au.com.biztune.retail.dao.SuppProdPriceDao.getProductPurchaseItemPerSprcId" />
        <association property="unitOfMeasure" column="UNOM_ID" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="unomContents" column="UNOM_ID_CONTENTS" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="polCreationType" column="POL_CREATION_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="polStatus" column="POL_STATUS" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="taxLegVariance" column="TXLV_ID" select="au.com.biztune.retail.dao.TaxRuleDao.getTaxLegVarianceById" />
        <collection property="poBoqLinks" javaType="ArrayList" column="POL_ID" ofType="PoBoqLink" select="au.com.biztune.retail.dao.PoBoqLinkDao.getAllPoBoqLinkPerPolId"/>
    </resultMap>

    <resultMap id="purchaseOrderOfProductMap" type="PurchaseLine" >
        <id column="POL_ID" property="id" />
        <result column="POH_ID" property="pohId" />
        <result column="POL_UNIT_COST" property="polUnitCost" />
        <result column="POL_PRICE" property="polPrice" />
        <result column="POL_SPECIAL_BUY" property="polSpecialBuy" />
        <result column="POL_QTY_ORDERED" property="polQtyOrdered" />
        <result column="POL_QTY_RESERVED" property="polQtyReserved" />
        <result column="POL_QTY_CANCELLED" property="polQtyCancelled" />
        <result column="POL_QTY_RECEIVED" property="polQtyReceived" />
        <result column="POL_QTY_INVOICED" property="polQtyInvoiced" />
        <result column="POL_VALUE_ORDERED" property="polValueOrdered" />
        <result column="POL_VALUE_TAX" property="polValueTax" />
        <result column="POL_VALUE_GROSS" property="polValueGross" />
        <result column="POL_VALUE_RECEIVED" property="polValueReceived" />
        <result column="POL_VALUE_INVOICED" property="polValueInvoiced" />
        <result column="POL_FREE_TEXT" property="polFreeText" />
        <result column="POL_MODIFIED" property="polModified" />
        <result column="POL_DATE_RECEIVED" property="polDateReceived" />
        <result column="POL_PRICE_CHECKED" property="polPriceChecked" />
        <result column="POL_ID_PARENT_LINE" property="polIdParentLine" />
        <result column="POL_QTY_COUNTED" property="polQtyCounted" />
        <result column="POL_CONTENTS" property="polContents" />
        <result column="SUPPLIER_NAME" property="supplierName" />
        <result column="POH_CREATED_DATE" property="pohCreatedDate" />
        <result column="POH_ORDER_NUMBER" property="pohOrderNumber" />
        <result column="POH_PREFIX" property="pohPrefix" />
        <association property="polStatus" resultMap="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryMap" />
    </resultMap>

    <sql id="purchaseOrderHeaderColumns">
        ${alias}.POH_ID,
        ${alias}.ORGU_ID,
        ${alias}.POH_ORDER_NUMBER,
        ${alias}.SUPPLIER_ID,
        ${alias}.POH_SUPP_REF,
        ${alias}.POH_SUPP_CONTACT,
        ${alias}.POH_CREATED_DATE,
        ${alias}.POH_LAST_MODIFIED_DATE,
        ${alias}.POH_LAST_MODIFIED_BY,
        ${alias}.POH_LAST_DELV_DATE,
        ${alias}.POH_CANCELLED,
        ${alias}.POH_APPROVED,
        ${alias}.POH_DELV_NAME,
        ${alias}.POH_DELV_ADDRESS,
        ${alias}.POH_DELV_PHONE,
        ${alias}.POH_DELV_MOBILE,
        ${alias}.POH_DELV_DATE,
        ${alias}.POH_EXP_TRANSMIT,
        ${alias}.POH_ACT_TRANSMIT,
        ${alias}.POH_CONFIRM_DATE,
        ${alias}.POH_VALUE_GROSS,
        ${alias}.POH_VALUE_NETT,
        ${alias}.POH_TOTAL_QTY,
        ${alias}.POH_TOTAL_LINES,
        ${alias}.POH_TYPE,
        ${alias}.POH_STATUS,
        ${alias}.POH_CREATION_TYPE,
        ${alias}.POH_COMMENT,
        ${alias}.POH_EXP_DELIVERY,
        ${alias}.POH_PREFIX,
        ${alias}.POH_DLV_ADDRESS,
        ${alias}.POH_CONTACT_PERSON,
        ${alias}.POH_CONTACT_PHONE,
        ${alias}.POH_REVISION,
        ${alias}.POH_PRINTED,
        ${alias}.POH_PRJ_NAME,
        ${alias}.POH_PRJ_CODE,
        ${alias}.POH_VALUE_TAX,
        ${alias}.COSTS_INCLUDE_TAX

    </sql>

    <sql id="purchaseLineColumns">
        ${alias}.POL_ID,
        ${alias}.POH_ID,
        ${alias}.POH_ORDER_NUMBER,
        ${alias}.POL_LINE_NUMBER,
        ${alias}.SPRC_ID,
        ${alias}.POL_UNIT_COST,
        ${alias}.POL_PRICE,
        ${alias}.POL_SPECIAL_BUY,
        ${alias}.TXLV_ID,
        ${alias}.UNOM_ID,
        ${alias}.POL_QTY_ORDERED,
        ${alias}.POL_QTY_RESERVED,
        ${alias}.POL_QTY_CANCELLED,
        ${alias}.POL_QTY_RECEIVED,
        ${alias}.POL_QTY_INVOICED,
        ${alias}.POL_VALUE_ORDERED,
        ${alias}.POL_VALUE_TAX,
        ${alias}.POL_VALUE_GROSS,
        ${alias}.POL_VALUE_RECEIVED,
        ${alias}.POL_VALUE_INVOICED,
        ${alias}.POL_FREE_TEXT,
        ${alias}.POL_MODIFIED,
        ${alias}.POL_DATE_RECEIVED,
        ${alias}.POL_PRICE_CHECKED,
        ${alias}.POL_ID_PARENT_LINE,
        ${alias}.POL_QTY_COUNTED,
        ${alias}.POL_CONTENTS,
        ${alias}.UNOM_ID_CONTENTS,
        ${alias}.POL_STATUS,
        ${alias}.POL_CREATION_TYPE
    </sql>

    <insert id="insertPurchaseOrderHeader" parameterType="PurchaseORderHeader" useGeneratedKeys="true" keyProperty="id" keyColumn="POH_ID">
        INSERT INTO PURCHASE_ORDER_HEADER(
         ORGU_ID,
         POH_ORDER_NUMBER,
         SUPPLIER_ID,
         POH_SUPP_REF,
         POH_SUPP_CONTACT,
         POH_CREATED_DATE,
         POH_LAST_MODIFIED_DATE,
         POH_LAST_MODIFIED_BY,
         POH_LAST_DELV_DATE,
         POH_CANCELLED,
         POH_APPROVED,
         POH_DELV_NAME,
         POH_DELV_ADDRESS,
         POH_DELV_PHONE,
         POH_DELV_MOBILE,
         POH_DELV_DATE,
         POH_EXP_TRANSMIT,
         POH_ACT_TRANSMIT,
         POH_CONFIRM_DATE,
         POH_VALUE_GROSS,
         POH_VALUE_NETT,
         POH_TOTAL_QTY,
         POH_TOTAL_LINES,
         POH_TYPE,
         POH_STATUS,
         POH_CREATION_TYPE,
         POH_EXP_DELIVERY,
         POH_COMMENT,
         POH_PREFIX,
         POH_DLV_ADDRESS,
         POH_CONTACT_PERSON,
         POH_CONTACT_PHONE,
         POH_REVISION,
         POH_PRJ_NAME,
         POH_PRJ_CODE,
         POH_VALUE_TAX,
         COSTS_INCLUDE_TAX
        ) VALUES (
        #{orgUnit.id},
        #{pohOrderNumber}
        <if test="supplier != null">
            ,#{supplier.id}
        </if>
        <if test="supplier == null">
            ,null
        </if>
        <if test="pohSuppRef != null">
            ,#{pohSuppRef}
        </if>
        <if test="pohSuppRef == null">
            ,null
        </if>

        <if test="pohSuppContact != null">
            ,#{pohSuppContact}
        </if>
        <if test="pohSuppContact == null">
            ,null
        </if>

        <if test="pohCreatedDate != null">
            ,#{pohCreatedDate}
        </if>
        <if test="pohCreatedDate == null">
            ,null
        </if>

        <if test="pohLastModifiedDate != null">
            ,#{pohLastModifiedDate}
        </if>
        <if test="pohLastModifiedDate == null">
            ,null
        </if>

        <if test="pohLastModifiedBy != null">
            ,#{pohLastModifiedBy}
        </if>
        <if test="pohLastModifiedBy == null">
            ,null
        </if>

        <if test="pohLastDelvDate != null">
            ,#{pohLastDelvDate}
        </if>
        <if test="pohLastDelvDate == null">
            ,null
        </if>

        <if test="pohCancelled != null">
            ,#{pohCancelled}
        </if>
        <if test="pohCancelled == null">
            ,null
        </if>

        <if test="pohApproved != null">
            ,#{pohApproved}
        </if>
        <if test="pohApproved == null">
            ,null
        </if>

        <if test="delvName != null">
            ,#{delvName}
        </if>
        <if test="delvName == null">
            ,null
        </if>

        <if test="delvAddress != null">
            ,#{delvAddress}
        </if>
        <if test="delvAddress == null">
            ,null
        </if>

        <if test="delvPhone != null">
            ,#{delvPhone}
        </if>
        <if test="delvPhone == null">
            ,null
        </if>

        <if test="delvMobile != null">
            ,#{delvMobile}
        </if>
        <if test="delvMobile == null">
            ,null
        </if>

        <if test="pohDelvDate != null">
            ,#{pohDelvDate}
        </if>
        <if test="pohDelvDate == null">
            ,null
        </if>

        <if test="pohExpTransmit != null">
            ,#{pohExpTransmit}
        </if>
        <if test="pohExpTransmit == null">
            ,null
        </if>

        <if test="pohActTransmit != null">
            ,#{pohActTransmit}
        </if>
        <if test="pohActTransmit == null">
            ,null
        </if>

        <if test="pohConfirmDate != null">
            ,#{pohConfirmDate}
        </if>
        <if test="pohConfirmDate == null">
            ,null
        </if>

        <if test="pohValueGross != null">
            ,#{pohValueGross}
        </if>
        <if test="pohValueGross == null">
            ,null
        </if>

        <if test="pohValueNett != null">
            ,#{pohValueNett}
        </if>
        <if test="pohValueNett == null">
            ,null
        </if>

        <if test="pohTotalQty != null">
            ,#{pohTotalQty}
        </if>
        <if test="pohTotalQty == null">
            ,null
        </if>

        <if test="pohTotalLines != null">
            ,#{pohTotalLines}
        </if>
        <if test="pohTotalLines == null">
            ,null
        </if>

        <if test="pohType != null">
            ,#{pohType.id}
        </if>
        <if test="pohType == null">
            ,null
        </if>

        <if test="pohStatus != null">
            ,#{pohStatus.id}
        </if>
        <if test="pohStatus == null">
            ,null
        </if>

        <if test="pohCreationType != null">
            ,#{pohCreationType.id}
        </if>
        <if test="pohCreationType == null">
            ,null
        </if>
        <if test="pohExpDelivery != null">
            ,#{pohExpDelivery}
        </if>
        <if test="pohExpDelivery == null">
            ,null
        </if>
        <if test="pohComment != null">
            ,#{pohComment}
        </if>
        <if test="pohComment == null">
            ,null
        </if>

        <if test="pohPrefix != null">
            ,#{pohPrefix}
        </if>
        <if test="pohPrefix == null">
            ,null
        </if>
        <if test="pohDlvAddress != null">
            ,#{pohDlvAddress}
        </if>
        <if test="pohDlvAddress == null">
            ,null
        </if>
        <if test="pohContactPerson != null">
            ,#{pohContactPerson}
        </if>
        <if test="pohContactPerson == null">
            ,null
        </if>
        <if test="pohContactPhone != null">
            ,#{pohContactPhone}
        </if>
        <if test="pohContactPhone == null">
            ,null
        </if>
        <if test="pohRevision != null">
            ,#{pohRevision}
        </if>
        <if test="pohRevision == null">
            ,null
        </if>
        <if test="pohPrjName != null">
            ,#{pohPrjName}
        </if>
        <if test="pohPrjName == null">
            ,null
        </if>
        <if test="pohPrjCode != null">
            ,#{pohPrjCode}
        </if>
        <if test="pohPrjCode == null">
            ,null
        </if>
        <if test="pohValueTax != null">
            ,#{pohValueTax}
        </if>
        <if test="pohValueTax == null">
            ,null
        </if>
        <if test="costsIncludeTax != null">
            ,#{costsIncludeTax}
        </if>
        <if test="costsIncludeTax == null">
            ,null
        </if>
        )
    </insert>

    <update id="updatePurchaseOrderHeader" parameterType="PurchaseORderHeader" >
        UPDATE PURCHASE_ORDER_HEADER SET
        POH_ORDER_NUMBER = #{pohOrderNumber}
        <if test="pohSuppRef != null">
            ,POH_SUPP_REF = #{pohSuppRef}
        </if>
        <if test="pohSuppContact != null">
            ,POH_SUPP_CONTACT = #{pohSuppContact}
        </if>
        <if test="pohCreatedDate != null">
            ,POH_CREATED_DATE = #{pohCreatedDate}
        </if>
        <if test="pohLastModifiedDate != null">
            ,POH_LAST_MODIFIED_DATE = #{pohLastModifiedDate}
        </if>
        <if test="pohLastModifiedBy != null">
            ,POH_LAST_MODIFIED_BY = #{pohLastModifiedBy}
        </if>
        <if test="pohLastDelvDate != null">
            ,POH_LAST_DELV_DATE = #{pohLastDelvDate}
        </if>
        <if test="pohCancelled != null">
            ,POH_CANCELLED = #{pohCancelled}
        </if>
        <if test="pohApproved != null">
            ,POH_APPROVED = #{pohApproved}
        </if>
        <if test="delvName != null">
            ,POH_DELV_NAME = #{delvName}
        </if>
        <if test="delvAddress != null">
            ,POH_DELV_ADDRESS = #{delvAddress}
        </if>
        <if test="delvPhone != null">
            ,POH_DELV_PHONE = #{delvPhone}
        </if>
        <if test="delvMobile != null">
            ,POH_DELV_MOBILE = #{delvMobile}
        </if>
        <if test="pohDelvDate != null">
            ,POH_DELV_DATE = #{pohDelvDate}
        </if>
        <if test="pohExpTransmit != null">
            ,POH_EXP_TRANSMIT = #{pohExpTransmit}
        </if>
        <if test="pohActTransmit != null">
            ,POH_ACT_TRANSMIT = #{pohActTransmit}
        </if>
        <if test="pohConfirmDate != null">
            ,POH_CONFIRM_DATE = #{pohConfirmDate}
        </if>
        <if test="pohValueGross != null">
            ,POH_VALUE_GROSS = #{pohValueGross}
        </if>
        <if test="pohValueNett != null">
            ,POH_VALUE_NETT = #{pohValueNett}
        </if>
        <if test="pohTotalQty != null">
            ,POH_TOTAL_QTY = #{pohTotalQty}
        </if>
        <if test="pohTotalLines != null">
            ,POH_TOTAL_LINES = #{pohTotalLines}
        </if>
        <if test="pohType != null">
            ,POH_TYPE = #{pohType.id}
        </if>
        <if test="pohStatus != null">
            ,POH_STATUS = #{pohStatus.id}
        </if>
        <if test="pohCreationType != null">
            ,POH_CREATION_TYPE = #{pohCreationType.id}
        </if>
        <if test="pohExpDelivery != null">
            ,POH_EXP_DELIVERY = #{pohExpDelivery}
        </if>
        <if test="pohComment != null">
            ,POH_COMMENT = #{pohComment}
        </if>
        <if test="pohRevision != null">
            ,POH_REVISION = #{pohRevision}
        </if>
        <if test="pohPrefix != null">
            ,POH_PREFIX = #{pohPrefix}
        </if>
        <if test="pohDlvAddress != null">
            ,POH_DLV_ADDRESS = #{pohDlvAddress}
        </if>
        <if test="pohContactPerson != null">
            ,POH_CONTACT_PERSON = #{pohContactPerson}
        </if>
        <if test="pohContactPhone != null">
            ,POH_CONTACT_PHONE = #{pohContactPhone}
        </if>
        <if test="pohPrjName != null">
            ,POH_PRJ_NAME = #{pohPrjName}
        </if>
        <if test="pohPrjCode != null">
            ,POH_PRJ_CODE = #{pohPrjCode}
        </if>
        <if test="pohValueTax != null">
            ,POH_VALUE_TAX = #{pohValueTax}
        </if>
        <if test="costsIncludeTax != null">
            ,COSTS_INCLUDE_TAX = #{costsIncludeTax}
        </if>
        WHERE POH_ID = #{id}
    </update>


    <insert id="insertPurchaseLine" parameterType="PurchaseLine" useGeneratedKeys="true" keyProperty="id" keyColumn="POL_ID">
        INSERT INTO PURCHASE_LINE(
        POH_ID,
        POH_ORDER_NUMBER,
        POL_LINE_NUMBER,
        SPRC_ID,
        POL_UNIT_COST,
        POL_PRICE,
        POL_SPECIAL_BUY,
        TXLV_ID,
        UNOM_ID,
        POL_QTY_ORDERED,
        POL_QTY_RESERVED,
        POL_QTY_CANCELLED,
        POL_QTY_RECEIVED,
        POL_QTY_INVOICED,
        POL_VALUE_ORDERED,
        POL_VALUE_RECEIVED,
        POL_VALUE_INVOICED,
        POL_FREE_TEXT,
        POL_MODIFIED,
        POL_DATE_RECEIVED,
        POL_PRICE_CHECKED,
        POL_ID_PARENT_LINE,
        POL_QTY_COUNTED,
        POL_CONTENTS,
        UNOM_ID_CONTENTS,
        POL_CREATION_TYPE,
        POL_STATUS,
        POL_PROD_ID,
        POL_SUPP_ID,
        POL_VALUE_TAX,
        POL_VALUE_GROSS
        ) VALUES (
        #{pohId}
        <if test="pohOrderNumber != null">
            ,#{pohOrderNumber}
        </if>
        <if test="pohOrderNumber == null">
            ,null
        </if>

        <if test="polLineNumber != null">
            ,#{polLineNumber}
        </if>
        <if test="polLineNumber == null">
            ,null
        </if>

        <if test="purchaseItem != null">
            ,#{purchaseItem.id}
        </if>
        <if test="purchaseItem == null">
            ,null
        </if>

        <if test="polUnitCost != null">
            ,#{polUnitCost}
        </if>
        <if test="polUnitCost == null">
            ,null
        </if>

        <if test="polPrice != null">
            ,#{polPrice}
        </if>
        <if test="polPrice == null">
            ,null
        </if>

        <if test="polSpecialBuy != null">
            ,#{polSpecialBuy}
        </if>
        <if test="polSpecialBuy == null">
            ,null
        </if>

        <if test="taxLegVariance != null">
            ,#{taxLegVariance.id}
        </if>
        <if test="taxLegVariance == null">
            ,null
        </if>

        <if test="unitOfMeasure != null">
            ,#{unitOfMeasure.id}
        </if>
        <if test="unitOfMeasure == null">
            ,null
        </if>

        <if test="polQtyOrdered != null">
            ,#{polQtyOrdered}
        </if>
        <if test="polQtyOrdered == null">
            ,null
        </if>
        <if test="polQtyReserved != null">
            ,#{polQtyReserved}
        </if>
        <if test="polQtyReserved == null">
            ,null
        </if>

        <if test="polQtyCancelled != null">
            ,#{polQtyCancelled}
        </if>
        <if test="polQtyCancelled == null">
            ,null
        </if>

        <if test="polQtyReceived != null">
            ,#{polQtyReceived}
        </if>
        <if test="polQtyReceived == null">
            ,null
        </if>

        <if test="polQtyInvoiced != null">
            ,#{polQtyInvoiced}
        </if>
        <if test="polQtyInvoiced == null">
            ,null
        </if>

        <if test="polValueOrdered != null">
            ,#{polValueOrdered}
        </if>
        <if test="polValueOrdered == null">
            ,null
        </if>

        <if test="polValueReceived != null">
            ,#{polValueReceived}
        </if>
        <if test="polValueReceived == null">
            ,null
        </if>

        <if test="polValueInvoiced != null">
            ,#{polValueInvoiced}
        </if>
        <if test="polValueInvoiced == null">
            ,null
        </if>

        <if test="polFreeText != null">
            ,#{polFreeText}
        </if>
        <if test="polFreeText == null">
            ,null
        </if>

        <if test="polModified != null">
            ,#{polModified}
        </if>
        <if test="polModified == null">
            ,null
        </if>

        <if test="polDateReceived != null">
            ,#{polDateReceived}
        </if>
        <if test="polDateReceived == null">
            ,null
        </if>

        <if test="polPriceChecked != null">
            ,#{polPriceChecked}
        </if>
        <if test="polPriceChecked == null">
            ,null
        </if>

        <if test="polIdParentLine != null">
            ,#{polIdParentLine}
        </if>
        <if test="polIdParentLine == null">
            ,null
        </if>

        <if test="polQtyCounted != null">
            ,#{polQtyCounted}
        </if>
        <if test="polQtyCounted == null">
            ,null
        </if>
        <if test="polContents != null">
            ,#{polContents}
        </if>
        <if test="polContents == null">
            ,null
        </if>

        <if test="unomContents != null">
            ,#{unomContents.id}
        </if>
        <if test="unomContents == null">
            ,null
        </if>
        <if test="polCreationType != null">
            ,#{polCreationType.id}
        </if>
        <if test="polCreationType == null">
            ,null
        </if>
        <if test="polStatus != null">
            ,#{polStatus.id}
        </if>
        <if test="polStatus == null">
            ,null
        </if>
        <if test="polProdId != null">
            ,#{polProdId}
        </if>
        <if test="polProdId == null">
            ,null
        </if>
        <if test="polSuppId != null">
            ,#{polSuppId}
        </if>
        <if test="polSuppId == null">
            ,null
        </if>
        <if test="polValueTax != null">
            ,#{polValueTax}
        </if>
        <if test="polValueTax == null">
            ,null
        </if>
        <if test="polValueGross != null">
            ,#{polValueGross}
        </if>
        <if test="polValueGross == null">
            ,null
        </if>
        )
    </insert>

    <update id="updatePurchaseLine" parameterType="PurchaseLine" >
        UPDATE PURCHASE_LINE SET
          POH_ID = #{pohId}
        <if test="pohOrderNumber != null">
            ,POH_ORDER_NUMBER = #{pohOrderNumber}
        </if>

        <if test="polLineNumber != null">
            ,POL_LINE_NUMBER = #{polLineNumber}
        </if>

        <if test="purchaseItem != null">
            ,SPRC_ID = #{purchaseItem.id}
        </if>

        <if test="polUnitCost != null">
            ,POL_UNIT_COST = #{polUnitCost}
        </if>

        <if test="polPrice != null">
            ,POL_PRICE = #{polPrice}
        </if>

        <if test="polSpecialBuy != null">
            ,POL_SPECIAL_BUY = #{polSpecialBuy}
        </if>

        <if test="taxLegVariance != null">
            ,TXLV_ID = #{taxLegVariance.id}
        </if>

        <if test="unitOfMeasure != null">
            ,UNOM_ID = #{unitOfMeasure.id}
        </if>

        <if test="polQtyOrdered != null">
            ,POL_QTY_ORDERED = #{polQtyOrdered}
        </if>

        <if test="polQtyReserved != null">
            ,POL_QTY_RESERVED = #{polQtyReserved}
        </if>

        <if test="polQtyCancelled != null">
            ,POL_QTY_CANCELLED = #{polQtyCancelled}
        </if>

        <if test="polQtyReceived != null">
            ,POL_QTY_RECEIVED = #{polQtyReceived}
        </if>

        <if test="polQtyInvoiced != null">
            ,POL_QTY_INVOICED = #{polQtyInvoiced}
        </if>

        <if test="polValueOrdered != null">
            ,POL_VALUE_ORDERED = #{polValueOrdered}
        </if>

        <if test="polValueReceived != null">
            ,POL_VALUE_RECEIVED = #{polValueReceived}
        </if>

        <if test="polValueInvoiced != null">
            ,POL_VALUE_INVOICED = #{polValueInvoiced}
        </if>

        <if test="polFreeText != null">
            ,POL_FREE_TEXT = #{polFreeText}
        </if>

        <if test="polModified != null">
            ,POL_MODIFIED = #{polModified}
        </if>

        <if test="polDateReceived != null">
            ,POL_DATE_RECEIVED = #{polDateReceived}
        </if>

        <if test="polPriceChecked != null">
            ,POL_PRICE_CHECKED = #{polPriceChecked}
        </if>

        <if test="polIdParentLine != null">
            ,POL_ID_PARENT_LINE = #{polIdParentLine}
        </if>

        <if test="polQtyCounted != null">
            ,POL_QTY_COUNTED = #{polQtyCounted}
        </if>
        <if test="polContents != null">
            ,POL_CONTENTS = #{polContents}
        </if>
        <if test="unomContents != null">
            ,UNOM_ID_CONTENTS = #{unomContents.id}
        </if>
        <if test="polCreationType != null">
            ,POL_CREATION_TYPE = #{polCreationType.id}
        </if>
        <if test="polStatus != null">
            ,POL_STATUS = #{polStatus.id}
        </if>
        <if test="polValueTax != null">
            ,POL_VALUE_TAX = #{polValueTax}
        </if>
        <if test="polValueGross != null">
            ,POL_VALUE_GROSS = #{polValueGross}
        </if>
        WHERE POL_ID = #{id}
    </update>

    <update id="updatePurchaseLineReserveQty" parameterType="PurchaseLine" >
        UPDATE PURCHASE_LINE SET
            POL_QTY_RESERVED = #{polQtyReserved}
        WHERE POL_ID = #{id}
    </update>

    <select id="getPurchaseLinesPerPohId" resultMap="purchaseLineMap" >
        SELECT
        <include refid="purchaseLineColumns"><property name="alias" value="pol"/></include>
        FROM
        PURCHASE_LINE pol
        WHERE pol.poh_id=#{value}
    </select>

    <select id="getPurchaseLinePerId" resultMap="purchaseLineMap" >
        SELECT
        <include refid="purchaseLineColumns"><property name="alias" value="pol"/></include>
        FROM
        PURCHASE_LINE pol
        WHERE pol.POL_ID=#{value}
    </select>

    <select id="getAllPurchaseOrderHeaderPerOrguId" resultMap="purchaseOrderHeaderLiteMap" >
        SELECT
        <include refid="purchaseOrderHeaderColumns"><property name="alias" value="poh"/></include>
        FROM
        PURCHASE_ORDER_HEADER poh
        WHERE poh.ORGU_ID=#{value}
    </select>

    <select id="searchPurchaseOrderHeader" resultMap="purchaseOrderHeaderLiteMap" >
        SELECT
        <include refid="purchaseOrderHeaderColumns"><property name="alias" value="poh"/></include>
        FROM
        PURCHASE_ORDER_HEADER poh
        WHERE poh.ORGU_ID=#{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
    </select>

    <select id="searchPurchaseOrderHeaderPaging" resultMap="purchaseOrderHeaderLiteMap" >
        SELECT * FROM
        (SELECT
        <include refid="purchaseOrderHeaderColumns"> <property name="alias" value="poh"/> </include>,
        ROW_NUMBER() OVER (ORDER BY POH_CREATED_DATE DESC) AS NUMBER

        FROM
        PURCHASE_ORDER_HEADER poh
        WHERE poh.ORGU_ID=#{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>

        )qr
        where qr.NUMBER between #{param3} and #{param4}
    </select>

    <select id="getPurchaseOrderQueryTotalRows" resultType="long" >
        SELECT
          count(*)
        FROM
        PURCHASE_ORDER_HEADER poh
        WHERE poh.ORGU_ID=#{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
    </select>

    <select id="getAllPurchaseOrderHeaderPerOrguIdAndSupplierId" resultMap="purchaseOrderHeaderLiteMap" >
        SELECT
        <include refid="purchaseOrderHeaderColumns"><property name="alias" value="poh"/></include>
        FROM
        PURCHASE_ORDER_HEADER poh
        WHERE poh.ORGU_ID=#{param1} and poh.SUPPLIER_ID=#{param2}
    </select>

    <select id="getAllPurchaseOrderHeaderPerOrguIdAndSupplierIdAndStatusIds" resultMap="purchaseOrderHeaderLiteMap" >
        SELECT
        <include refid="purchaseOrderHeaderColumns"><property name="alias" value="poh"/></include>
        FROM
        PURCHASE_ORDER_HEADER poh INNER JOIN CONFIG_CATEGORY cc on (poh.POH_STATUS = cc.CATEGORY_ID)
        WHERE poh.ORGU_ID=#{param1} and poh.SUPPLIER_ID=#{param2} and cc.CATEGORY_ID in
        <foreach collection="param3" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAllPurchaseOrderHeaderNotFullyReceived" resultMap="purchaseOrderHeaderLiteMap" >
        SELECT
        <include refid="purchaseOrderHeaderColumns"><property name="alias" value="poh"/></include>
        FROM
        PURCHASE_ORDER_HEADER poh INNER JOIN CONFIG_CATEGORY cc on (poh.POH_STATUS = cc.CATEGORY_ID)
        WHERE poh.ORGU_ID=#{param1}  and cc.CATEGORY_ID in
        <foreach collection="param2" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getPurchaseOrderHeaderPerOrderNo" resultMap="purchaseOrderHeaderLiteMap" >
        SELECT
        <include refid="purchaseOrderHeaderColumns"><property name="alias" value="poh"/></include>
        FROM
        PURCHASE_ORDER_HEADER poh
        WHERE poh.POH_ORDER_NUMBER=#{value}
    </select>

    <select id="getPurchaseOrderWholePerPohId" resultMap="purchaseOrderHeaderMap" >
        SELECT
        <include refid="purchaseOrderHeaderColumns"><property name="alias" value="poh"/></include>
        FROM
        PURCHASE_ORDER_HEADER poh
        WHERE poh.POH_ID=#{value}
    </select>

    <select id="getMaxPohId" resultType="long" >
        SELECT
          max(poh_id)
        FROM
          PURCHASE_ORDER_HEADER
    </select>

    <delete id="deletePurchaseLineWhereIdNotIn" >
        DELETE from
        PURCHASE_LINE
        where POH_ID = #{param1} AND
        POL_ID not in
        <foreach collection="param2" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deletePurchaseLinePerId" >
        DELETE from
        PURCHASE_LINE where POL_ID = #{value}
    </delete>

    <update id="updatePohPrintStatus" >
        UPDATE PURCHASE_ORDER_HEADER SET POH_PRINTED = 1 WHERE POH_ID = #{value}
    </update>

    <update id="updatePohProjectCode" >
        UPDATE PURCHASE_ORDER_HEADER SET POH_PRJ_CODE = #{param2} WHERE POH_ID = #{param1}
    </update>

    <select id="getPurchaseOrdersOfProductPerProdId" resultMap="purchaseOrderOfProductMap" >
        SELECT
        supp.SUPPLIER_NAME, poh.POH_CREATED_DATE, poh.POH_PREFIX,
        <include refid="purchaseLineColumns"><property name="alias" value="pol"/></include>,
        <include refid="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryColumns"><property name="alias" value="cat"/></include>
        from PURCHASE_LINE pol inner join PURCHASE_ORDER_HEADER poh on (pol.POH_ID = poh.POH_ID)
        inner join SUPPLIER supp on (poh.SUPPLIER_ID = supp.SUPPLIER_ID)
        left outer join CONFIG_CATEGORY cat on (pol.POL_STATUS = cat.CATEGORY_ID)
        where pol.POL_PROD_ID = #{param1} and poh.ORGU_ID = #{param2}
    </select>


</mapper>