<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.ReportsDao">
    <!-- result maps -->
    <resultMap id="reportSaleMap" type="ReportSaleRow" >
        <result column="supplierId" property="supplierId" />
        <result column="supplierName" property="supplierName" />
        <result column="prodSku" property="prodSku" />
        <result column="prodBarcode" property="prodBarcode" />
        <result column="prodName" property="prodName" />
        <result column="prodRef" property="prodRef" />
        <result column="client" property="client" />
        <result column="prodCost" property="prodCost" />
        <result column="profitMargin" property="profitMargin" />
        <result column="prodProfit" property="prodProfit" />
        <result column="taxPaid" property="taxPaid" />
        <result column="prodPriceGross" property="prodPriceGross" />
        <result column="prodPriceNet" property="prodPriceNet" />
        <result column="invoiceDate" property="invoiceDate" />
        <result column="qtyInvoiced" property="qtyInvoiced" />
        <result column="priceSold" property="priceSold" />
        <result column="totalExTax" property="totalExTax" />
        <result column="totalIncTax" property="totalIncTax" />
        <result column="taxRate" property="taxRate" />
        <result column="taxDesc" property="taxDesc" />
        <result column="taxCode" property="taxCode" />
        <result column="txivTxnNr" property="txivTxnNr" />
        <result column="operator" property="operator" />
        <result column="deptName" property="deptName" />
        <result column="prodCat1" property="prodCat1" />
        <result column="prodCat2" property="prodCat2" />
        <result column="prodCat3" property="prodCat3" />
        <result column="qtyAvailable" property="qtyAvailable" />
        <result column="stockValue" property="stockValue" />
    </resultMap>
    <select id="runRptSaleByMonthReport" resultMap="reportSaleMap" >
        select supplier.SUPPLIER_ID supplierId,
               supplier.SUPPLIER_NAME supplierName,
               product.PROD_SKU prodSku,
               product.PROD_BARCODE prodBarcode,
               product.PROD_NAME prodName,
               product.REFERENCE prodRef,
               CUSTOMER.Company_Name client,
               txn_detail.TXDE_VALUE_LINE prodCost,
               txn_detail.TXDE_PROFIT_MARGIN profitMargin,
               txn_detail.TXDE_VALUE_PROFIT prodProfit,
               txn_detail.TXDE_TAX taxPaid,
               txn_detail.TXDE_VALUE_GROSS prodPriceGross,
               txn_detail.TXDE_VALUE_NET prodPriceNet,
               invoice.TXIV_TRADING_DATE invoiceDate,
               invoice_detail.TXID_QTY_INVOICED qtyInvoiced,
               INVOICE_DETAIL.TXID_PRICE_SOLD priceSold
        from TXN_HEADER txn_header
             inner join TXN_DETAIL txn_detail on (txn_header.TXHD_ID = txn_detail.TXHD_ID)
             inner join Customer on (customer.CUSTOMER_ID = TXN_HEADER.CUSTOMER_ID)
             inner join INVOICE on (INVOICE.TXHD_ID = TXN_HEADER.TXHD_ID)
             inner join INVOICE_DETAIL on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXID_ID)
             inner join PRODUCT product on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
             inner join SUPP_PROD_PRICE supp_prod_price on (supp_prod_price.PROD_ID = product.PROD_ID and supp_prod_price.SPRC_PREFER_BUY = 1)
             inner join SUPP_ORGU_LINK supp_orgu_link on (supp_prod_price.SOL_ID = supp_orgu_link.SOL_ID)
             inner join SUPPLIER supplier on (supplier.SUPPLIER_ID = supp_orgu_link.SUPP_ID)
        where txn_header.orgu_id = #{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                    ${item.column} ${item.operator} ${item.value}
            </foreach>
        </if>

    </select>
    <select id="runRptSaleByTaxCodesReport" resultMap="reportSaleMap" >
        select
            TAX_RULE.TXRL_DESC taxDesc,
            TAX_RULE.TXRL_CODE taxCode,
            INVOICE.TXIV_TXN_NR txivTxnNr,
            CUSTOMER.Company_Name client,
            product.PROD_SKU prodSku,
            product.PROD_BARCODE prodBarcode,
            product.PROD_NAME prodName,
            product.REFERENCE prodRef,
            txn_detail.TXDE_VALUE_LINE prodCost,
            txn_detail.TXDE_PROFIT_MARGIN profitMargin,
            txn_detail.TXDE_VALUE_PROFIT prodProfit,
            txn_detail.TXDE_VALUE_GROSS prodPriceGross,
            txn_detail.TXDE_VALUE_NET prodPriceNet,
            invoice.TXIV_TRADING_DATE invoiceDate,
            invoice_detail.TXID_QTY_INVOICED qtyInvoiced,
            TAX_LEG_VARIANCE.TXLV_RATE taxRate,
            TXID_QTY_INVOICED*txn_detail.TXDE_VALUE_GROSS totalExTax,
            TXID_QTY_INVOICED*(txn_detail.TXDE_VALUE_GROSS + TAX_LEG_VARIANCE.TXLV_RATE*txn_detail.TXDE_VALUE_GROSS) totalIncTax,
            TAX_LEG_VARIANCE.TXLV_RATE*TXID_QTY_INVOICED*txn_detail.TXDE_VALUE_GROSS taxPaid

        from INVOICE_DETAIL
            inner join TXN_DETAIL txn_detail on (INVOICE_DETAIL.TXDE_ID = txn_detail.TXDE_ID)
            inner join TXN_HEADER on (txn_header.TXHD_ID = txn_detail.TXHD_ID)
            inner join INVOICE on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXIV_ID)
            inner join PRODUCT product on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
            inner join PROD_ORGU_LINK prod_orgu_link on (prod_orgu_link.PROD_ID = product.PROD_ID)
            inner join PROU_TXRL_LINK prou_txrl_link on (prou_txrl_link.PROU_ID = prod_orgu_link.PROU_ID)
            inner join TAX_RULE tax_rule on (prou_txrl_link.TXRL_ID = tax_rule.TXRL_ID)
            inner join TAX_LEG_VARIANCE on (tax_rule.TXRL_ID = TAX_LEG_VARIANCE.TXRL_ID)
            left outer join Customer on (customer.CUSTOMER_ID = TXN_HEADER.CUSTOMER_ID)
        where txn_header.orgu_id = #{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} ${item.value}
            </foreach>
        </if>
        ORDER BY TAX_RULE.TXRL_DESC
    </select>

    <select id="runRptAccountSaleReport" resultMap="reportSaleMap" >
        select
            INVOICE.TXIV_TXN_NR txivTxnNr,
            invoice.TXIV_TRADING_DATE invoiceDate,
            product.PROD_SKU prodSku,
            product.PROD_BARCODE prodBarcode,
            product.PROD_NAME prodName,
            product.REFERENCE prodRef,
            CUSTOMER.Company_Name client,
            txn_detail.TXDE_VALUE_LINE prodCost,
            txn_detail.TXDE_PROFIT_MARGIN profitMargin,
            txn_detail.TXDE_VALUE_PROFIT prodProfit,
            txn_detail.TXDE_TAX taxPaid,
            txn_detail.TXDE_VALUE_GROSS prodPriceGross,
            txn_detail.TXDE_VALUE_NET prodPriceNet,
            invoice_detail.TXID_QTY_INVOICED qtyInvoiced,
            TXID_QTY_INVOICED*txn_detail.TXDE_VALUE_GROSS totalExTax,
            TXID_QTY_INVOICED*(txn_detail.TXDE_VALUE_GROSS + TAX_LEG_VARIANCE.TXLV_RATE*txn_detail.TXDE_VALUE_GROSS) totalIncTax,
            TAX_RULE.TXRL_CODE taxCode,
            TAX_RULE.TXRL_DESC taxDesc
        from CUSTOMER_ACCOUNT_DEBT
            inner join INVOICE on (INVOICE.TXIV_ID = CUSTOMER_ACCOUNT_DEBT.TXHD_ID)
            inner join INVOICE_DETAIL on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXIV_ID)
            inner join TXN_DETAIL on (TXN_DETAIL.TXDE_ID = INVOICE_DETAIL.TXDE_ID)
            left outer join Customer on (customer.CUSTOMER_ID = CUSTOMER_ACCOUNT_DEBT.CUSTOMER_ID)
            inner join PRODUCT product on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
            inner join PROD_ORGU_LINK prod_orgu_link on (prod_orgu_link.PROD_ID = product.PROD_ID)
            left outer join PROU_TXRL_LINK prou_txrl_link on (prou_txrl_link.PROU_ID = prod_orgu_link.PROU_ID)
            inner join TAX_RULE tax_rule on (prou_txrl_link.TXRL_ID = tax_rule.TXRL_ID)
            inner join TAX_LEG_VARIANCE on (tax_rule.TXRL_ID = TAX_LEG_VARIANCE.TXRL_ID)
        where INVOICE.orgu_id = #{param1}

        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} ${item.value}
            </foreach>
        </if>
        ORDER BY CUSTOMER.Company_Name
    </select>

    <select id="runRptSaleByTaxCodesSummary" resultMap="reportSaleMap" >
        select
            TAX_RULE.TXRL_DESC taxDesc,
            TAX_RULE.TXRL_CODE taxCode,
            SUM(txn_detail.TXDE_VALUE_LINE) prodCost,
            SUM(txn_detail.TXDE_PROFIT_MARGIN) profitMargin,
            SUM(txn_detail.TXDE_VALUE_PROFIT) prodProfit,
            SUM(txn_detail.TXDE_VALUE_GROSS) prodPriceGross,
            SUM(txn_detail.TXDE_VALUE_NET) prodPriceNet,
            SUM(invoice_detail.TXID_QTY_INVOICED) qtyInvoiced,
            SUM(TXID_QTY_INVOICED*txn_detail.TXDE_VALUE_GROSS) totalExTax,
            SUM(TXID_QTY_INVOICED*(txn_detail.TXDE_VALUE_GROSS + TAX_LEG_VARIANCE.TXLV_RATE*txn_detail.TXDE_VALUE_GROSS)) totalIncTax,
            SUM(TAX_LEG_VARIANCE.TXLV_RATE*TXID_QTY_INVOICED*txn_detail.TXDE_VALUE_GROSS) taxPaid
        from INVOICE_DETAIL
            inner join TXN_DETAIL txn_detail on (INVOICE_DETAIL.TXDE_ID = txn_detail.TXDE_ID)
            inner join INVOICE on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXIV_ID)
            inner join PRODUCT product on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
            inner join PROD_ORGU_LINK prod_orgu_link on (prod_orgu_link.PROD_ID = product.PROD_ID)
            inner join PROU_TXRL_LINK prou_txrl_link on (prou_txrl_link.PROU_ID = prod_orgu_link.PROU_ID)
            inner join TAX_RULE tax_rule on (prou_txrl_link.TXRL_ID = tax_rule.TXRL_ID)
            inner join TAX_LEG_VARIANCE on (tax_rule.TXRL_ID = TAX_LEG_VARIANCE.TXRL_ID)
        where INVOICE.orgu_id = #{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} ${item.value}
            </foreach>
        </if>
        GROUP BY TAX_RULE.TXRL_DESC, TAX_RULE.TXRL_CODE ORDER BY TAX_RULE.TXRL_DESC
    </select>

    <select id="runRptSalesDailyReport" resultMap="reportSaleMap" >
        select
            INVOICE.TXIV_TXN_NR txivTxnNr,
            CUSTOMER.Company_Name client,
            APP_USER.USR_FIRST_NAME + ' ' + APP_USER.USR_SUR_NAME operator,
            product.PROD_SKU prodSku,
            product.PROD_BARCODE prodBarcode,
            product.PROD_NAME prodName,
            product.REFERENCE prodRef,
            txn_detail.TXDE_VALUE_LINE prodCost,
            txn_detail.TXDE_PROFIT_MARGIN profitMargin,
            txn_detail.TXDE_VALUE_PROFIT prodProfit,
            txn_detail.TXDE_VALUE_GROSS prodPriceGross,
            txn_detail.TXDE_VALUE_NET prodPriceNet,
            invoice_detail.TXID_QTY_INVOICED qtyInvoiced,
            INVOICE_DETAIL.TXID_PRICE_SOLD totalIncTax

        from INVOICE_DETAIL
            inner join TXN_DETAIL txn_detail on (INVOICE_DETAIL.TXDE_ID = txn_detail.TXDE_ID)
            inner join INVOICE on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXIV_ID)
            inner join PRODUCT product on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
            inner join APP_USER on (APP_USER.USR_ID = INVOICE.TXIV_OPERATOR)
            left outer join Customer on (customer.CUSTOMER_ID = INVOICE.CUSTOMER_ID)
        where INVOICE.orgu_id = #{param1}
        <if test="param2 != null">
            AND
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} ${item.value}
            </foreach>
        </if>
        <if test="param3 != null">
            ORDER BY
            <foreach collection="param3" item="item" index="index"
                     open =" " separator="," close=" ">
                ${item.value}
            </foreach>
        </if>
    </select>
    <select id="runRptSalesPeriodReport" resultMap="reportSaleMap" >

        SELECT * ,
        PROD_CAT_1 prodCat1,
        PROD_CAT_2 prodCat2,
        PROD_CAT_3 prodCat3
        FROM
        (
            SELECT
                prodSku,
                prodBarcode,
                prodName,
                prodRef,
                prodCost,
                profitMargin,
                prodProfit,
                prodPriceGross,
                prodPriceNet,
                qtyInvoiced,
                totalIncTax,
                deptName,
                [CATH_TYPE_CONST],
                [CAT_VALUE]
            FROM
            (
                        select
                            product.PROD_SKU prodSku,
                            product.PROD_BARCODE prodBarcode,
                            product.PROD_NAME prodName,
                            product.REFERENCE prodRef,
                            PRODUCT_GROUP.DEPT_NAME deptName,
                            PRODUCT_GROUP.CATH_TYPE_CONST,
                            PRODUCT_GROUP.CATH_NAME,
                            PRODUCT_GROUP.CAT_VALUE,
                            txn_detail.TXDE_VALUE_LINE prodCost,
                            txn_detail.TXDE_PROFIT_MARGIN profitMargin,
                            txn_detail.TXDE_VALUE_PROFIT prodProfit,
                            txn_detail.TXDE_VALUE_GROSS prodPriceGross,
                            txn_detail.TXDE_VALUE_NET prodPriceNet,
                            invoice_detail.TXID_QTY_INVOICED qtyInvoiced,
                            INVOICE_DETAIL.TXID_PRICE_SOLD totalIncTax,
                            PRODUCT_GROUP.CAT_VAL_ID

                        from INVOICE_DETAIL
                            inner join TXN_DETAIL txn_detail on (INVOICE_DETAIL.TXDE_ID = txn_detail.TXDE_ID)
                            inner join INVOICE on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXIV_ID)
                            inner join PRODUCT product on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
                            left outer join
                                (
                                        select
                                            prod_id,
                                            DEPARTMENT.DEPT_NAME,
                                            DEPT_CATEGORY.CATH_TYPE_CONST,
                                            CATEGORY_HEADING.CATH_NAME,
                                            CATEGORY_VALUE.CAT_VALUE,
                                            PROD_DEPT_CAT.CAT_VAL_ID

                                        from
                                            PROD_DEPT_CAT inner join DEPT_CATEGORY on (PROD_DEPT_CAT.DEPT_ID = DEPT_CATEGORY.DEPT_ID AND PROD_DEPT_CAT.CAT_ID = DEPT_CATEGORY.CATH_ID )
                                            INNER JOIN CATEGORY_VALUE ON (PROD_DEPT_CAT.CAT_VAL_ID = CATEGORY_VALUE.CATV_ID)
                                            INNER JOIN CATEGORY_HEADING on (PROD_DEPT_CAT.CAT_ID = CATEGORY_HEADING.CATH_ID)
                                            INNER JOIN DEPARTMENT ON (PROD_DEPT_CAT.DEPT_ID = DEPARTMENT.DEPT_ID)

                                ) PRODUCT_GROUP on (PRODUCT.PROD_ID = PRODUCT_GROUP.PROD_ID)
                        WHERE INVOICE.ORGU_ID = #{param1}
                            <if test="param2 != null">
                                AND
                                <foreach collection="param2" item="item" index="index"
                                         open ="(" separator=" AND " close=")">
                                    ${item.column} ${item.operator} ${item.value}
                                </foreach>
                            </if>
            ) QUERY1

        ) AS SourceTable	  PIVOT ( MAX ([CAT_VALUE]) FOR [CATH_TYPE_CONST] IN ([PROD_CAT_1],[PROD_CAT_2],[PROD_CAT_3])) AS PivotTable
        <if test="param3 != null">
            ORDER BY
            <foreach collection="param3" item="item" index="index"
                     open =" " separator="," close=" ">
                ${item.value}
            </foreach>
        </if>
    </select>
    <select id="runRptWhatIsSelling" resultMap="reportSaleMap" >
    SELECT * ,
    PROD_CAT_1 prodCat1,
    PROD_CAT_2 prodCat2,
    PROD_CAT_3 prodCat3
    FROM
    (
            SELECT
                prodSku,
                prodBarcode,
                prodName,
                prodRef,
                supplierId,
                supplierName,
                prodCost,
                qtyAvailable,
                stockValue,
                prodPriceGross,
                qtyInvoiced,
                deptName,
                [CATH_TYPE_CONST],
                [CAT_VALUE]
            FROM
            (

				select
					product.PROD_SKU prodSku,
					product.PROD_BARCODE prodBarcode,
					product.PROD_NAME prodName,
					product.REFERENCE prodRef,
					PRODUCT_GROUP.DEPT_NAME deptName,
					PRODUCT_GROUP.CATH_TYPE_CONST,
					PRODUCT_GROUP.CATH_NAME,
					PRODUCT_GROUP.CAT_VALUE,
					supplier.SUPPLIER_ID supplierId,
					supplier.SUPPLIER_NAME supplierName,
					STOCK.STCK_QTY qtyAvailable,
					costPrice.PRCE_PRICE prodCost,
					costPrice.PRCE_PRICE * STOCK.STCK_QTY stockValue,
					INVOICE_DETAIL.TXID_QTY_INVOICED qtyInvoiced,
					sellPrice.PRCE_PRICE prodPriceGross,
                    PRODUCT_GROUP.CAT_VAL_ID

				from PRODUCT
					 inner join SUPP_PROD_PRICE supp_prod_price on (supp_prod_price.PROD_ID = product.PROD_ID and supp_prod_price.SPRC_PREFER_BUY = 1)
					 inner join SUPP_ORGU_LINK supp_orgu_link on (supp_prod_price.SOL_ID = supp_orgu_link.SOL_ID)
					 inner join SUPPLIER supplier on (supplier.SUPPLIER_ID = supp_orgu_link.SUPP_ID)
					 left outer join STOCK on (	stock.PROD_ID = PRODUCT.PROD_ID)
                    INNER JOIN CONFIG_CATEGORY cc1 on (stock.STCK_COND = cc1.category_id and cc1.CATEGORY_CODE = 'STOCK_CONDITION_PRISTINE')
                    INNER JOIN CONFIG_CATEGORY cc2 on (stock.STCK_CAT = cc2.category_id AND cc2.CATEGORY_CODE = 'STOCK_CATEGORY_SALEABLE')
					inner join PRICE costPrice ON (PRODUCT.PROD_ID = costPrice.PROD_ID)
					inner join PRICE_CODE costPriceCode ON (costPriceCode.PRCC_ID = costPrice.PRCC_ID AND costPriceCode.PRCC_CODE = 'COST_PRICE')
					inner join PRICE sellPrice ON (PRODUCT.PROD_ID = sellPrice.PROD_ID)
					inner join PRICE_CODE sellPriceCode ON (sellPriceCode.PRCC_ID = sellPrice.PRCC_ID AND sellPriceCode.PRCC_CODE = 'SELL_PRICE')

					left outer join TXN_DETAIL on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
					inner join INVOICE_DETAIL  on (INVOICE_DETAIL.TXDE_ID = txn_detail.TXDE_ID)
					inner join INVOICE on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXIV_ID)
					left outer join
						(
								select
									prod_id,
									DEPARTMENT.DEPT_NAME,
									DEPT_CATEGORY.CATH_TYPE_CONST,
									CATEGORY_HEADING.CATH_NAME,
									CATEGORY_VALUE.CAT_VALUE,
                                    PROD_DEPT_CAT.CAT_VAL_ID
        from
									PROD_DEPT_CAT inner join DEPT_CATEGORY on (PROD_DEPT_CAT.DEPT_ID = DEPT_CATEGORY.DEPT_ID AND PROD_DEPT_CAT.CAT_ID = DEPT_CATEGORY.CATH_ID )
									INNER JOIN CATEGORY_VALUE ON (PROD_DEPT_CAT.CAT_VAL_ID = CATEGORY_VALUE.CATV_ID)
									INNER JOIN CATEGORY_HEADING on (PROD_DEPT_CAT.CAT_ID = CATEGORY_HEADING.CATH_ID)
									INNER JOIN DEPARTMENT ON (PROD_DEPT_CAT.DEPT_ID = DEPARTMENT.DEPT_ID)

						) PRODUCT_GROUP on (PRODUCT.PROD_ID = PRODUCT_GROUP.PROD_ID)
                        WHERE INVOICE.ORGU_ID = #{param1}
                        <if test="param2 != null">
                            AND
                            <foreach collection="param2" item="item" index="index"
                                     open ="(" separator=" AND " close=")">
                                ${item.column} ${item.operator} ${item.value}
                            </foreach>
                        </if>
           ) QUERY1
        ) AS SourceTable	  PIVOT ( MAX ([CAT_VALUE]) FOR [CATH_TYPE_CONST] IN ([PROD_CAT_1],[PROD_CAT_2],[PROD_CAT_3])) AS PivotTable
            <if test="param3 != null">
                ORDER BY
                <foreach collection="param3" item="item" index="index"
                         open =" " separator="," close=" ">
                    ${item.value}
                </foreach>
            </if>

    </select>
    <select id="runRptProfitByProduct" resultMap="reportSaleMap" >
    SELECT * ,
    PROD_CAT_1 prodCat1,
    PROD_CAT_2 prodCat2,
    PROD_CAT_3 prodCat3
    FROM
    (
            SELECT
                prodSku,
                prodBarcode,
                prodName,
                prodRef,
                --supplierId,
                supplierName,
                prodCost,
                qtyAvailable,
                stockValue,
                qtyInvoiced,
                rrp,
                priceSold,
                totalExTax,
                expectedTotalExTax,
                actualProfit,
                expectedProfit,
                deptName,
                [CATH_TYPE_CONST],
                [CAT_VALUE]
            FROM
            (
				select
                    max(product.PROD_SKU) prodSku,
                    max(product.PROD_BARCODE) prodBarcode,
                    max(product.PROD_NAME) prodName,
                    max(product.REFERENCE) prodRef,
                    max(PRODUCT_GROUP.DEPT_NAME) deptName,
                    max(PRODUCT_GROUP.CATH_TYPE_CONST) CATH_TYPE_CONST,
                    max(PRODUCT_GROUP.CATH_NAME)CATH_NAME,
                    max(PRODUCT_GROUP.CAT_VALUE)CAT_VALUE,
                    max(supplier.SUPPLIER_ID) supplierId,
                    max(supplier.SUPPLIER_NAME) supplierName,
                    max(STOCK.STCK_QTY) qtyAvailable,
                    avg(costPrice.PRCE_PRICE) prodCost,
                    avg(costPrice.PRCE_PRICE * STOCK.STCK_QTY) stockValue,
                    sum(INVOICE_DETAIL.TXID_QTY_INVOICED) qtyInvoiced,
                    avg(sellPrice.PRCE_PRICE) rrp,
                    avg(sellPrice.PRCE_PRICE*INVOICE_DETAIL.TXID_QTY_INVOICED) expectedTotalExTax,
                    sum(INVOICE_DETAIL.TXID_QTY_INVOICED*(sellPrice.PRCE_PRICE - costPrice.PRCE_PRICE )) expectedProfit,
                    avg(TXN_DETAIL.TXDE_VALUE_GROSS) priceSold,
                    sum(TXN_DETAIL.TXDE_VALUE_GROSS*INVOICE_DETAIL.TXID_QTY_INVOICED) totalExTax,
                    sum(INVOICE_DETAIL.TXID_QTY_INVOICED*(TXN_DETAIL.TXDE_VALUE_GROSS - costPrice.PRCE_PRICE )) actualProfit,
                    max(PRODUCT_GROUP.CAT_VAL_ID) CAT_VAL_ID
                from PRODUCT
					 inner join SUPP_PROD_PRICE supp_prod_price on (supp_prod_price.PROD_ID = product.PROD_ID and supp_prod_price.SPRC_PREFER_BUY = 1)
					 inner join SUPP_ORGU_LINK supp_orgu_link on (supp_prod_price.SOL_ID = supp_orgu_link.SOL_ID)
					 inner join SUPPLIER supplier on (supplier.SUPPLIER_ID = supp_orgu_link.SUPP_ID)
					 left outer join STOCK on (	stock.PROD_ID = PRODUCT.PROD_ID)
                    INNER JOIN CONFIG_CATEGORY cc1 on (stock.STCK_COND = cc1.category_id and cc1.CATEGORY_CODE = 'STOCK_CONDITION_PRISTINE')
                    INNER JOIN CONFIG_CATEGORY cc2 on (stock.STCK_CAT = cc2.category_id AND cc2.CATEGORY_CODE = 'STOCK_CATEGORY_SALEABLE')
					inner join PRICE costPrice ON (PRODUCT.PROD_ID = costPrice.PROD_ID)
					inner join PRICE_CODE costPriceCode ON (costPriceCode.PRCC_ID = costPrice.PRCC_ID AND costPriceCode.PRCC_CODE = 'COST_PRICE')
					inner join PRICE sellPrice ON (PRODUCT.PROD_ID = sellPrice.PROD_ID)
					inner join PRICE_CODE sellPriceCode ON (sellPriceCode.PRCC_ID = sellPrice.PRCC_ID AND sellPriceCode.PRCC_CODE = 'SELL_PRICE')

					left outer join TXN_DETAIL on (txn_detail.TXDE_PROD_ID = product.PROD_ID)
					inner join INVOICE_DETAIL  on (INVOICE_DETAIL.TXDE_ID = txn_detail.TXDE_ID)
					inner join INVOICE on (INVOICE.TXIV_ID = INVOICE_DETAIL.TXIV_ID)
					left outer join
						(
								select
									prod_id,
									DEPARTMENT.DEPT_NAME,
									DEPT_CATEGORY.CATH_TYPE_CONST,
									CATEGORY_HEADING.CATH_NAME,
									CATEGORY_VALUE.CAT_VALUE,
                                    PROD_DEPT_CAT.CAT_VAL_ID
								from
									PROD_DEPT_CAT inner join DEPT_CATEGORY on (PROD_DEPT_CAT.DEPT_ID = DEPT_CATEGORY.DEPT_ID AND PROD_DEPT_CAT.CAT_ID = DEPT_CATEGORY.CATH_ID )
									INNER JOIN CATEGORY_VALUE ON (PROD_DEPT_CAT.CAT_VAL_ID = CATEGORY_VALUE.CATV_ID)
									INNER JOIN CATEGORY_HEADING on (PROD_DEPT_CAT.CAT_ID = CATEGORY_HEADING.CATH_ID)
									INNER JOIN DEPARTMENT ON (PROD_DEPT_CAT.DEPT_ID = DEPARTMENT.DEPT_ID)

						) PRODUCT_GROUP on (PRODUCT.PROD_ID = PRODUCT_GROUP.PROD_ID)
                        WHERE INVOICE.ORGU_ID = #{param1}
                        <if test="param2 != null">
                            AND
                            <foreach collection="param2" item="item" index="index"
                                     open ="(" separator=" AND " close=")">
                                ${item.column} ${item.operator} ${item.value}
                            </foreach>
                        </if>
                        GROUP BY product.PROD_ID
           ) QUERY1
        ) AS SourceTable	  PIVOT ( MAX ([CAT_VALUE]) FOR [CATH_TYPE_CONST] IN ([PROD_CAT_1],[PROD_CAT_2],[PROD_CAT_3])) AS PivotTable
        <if test="param3 != null">
            ORDER BY
            <foreach collection="param3" item="item" index="index"
                     open =" " separator="," close=" ">
                ${item.value}
            </foreach>
        </if>
    </select>
</mapper>