<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.SupplierDao">
    <!-- result maps -->
    <resultMap id="supplierMap" type="Supplier" >
        <id column="SUPPLIER_ID" property="id" />
        <result column="SUPPLIER_CODE" property="supplierCode" />
        <result column="SUPPLIER_NAME" property="supplierName" />
        <result column="LEAD_TIME" property="leadTime" />
        <result column="STOCK_COVER" property="stockCover" />
        <result column="MIN_ORDER_VALUE" property="minOrderValue" />
        <result column="CREDIT_LIMIT" property="creditLimit" />
        <result column="MAX_ADV_ORDER" property="maxAdvOrder" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="LAST_MODIFIED_BY" property="lastModifiedBy" />
        <result column="CONTACT_FIRST_NAME" property="contactFirstName" />
        <result column="CONTACT_SUR_NAME" property="contactSurName" />
        <result column="CONTACT_TITLE" property="contactTitle" />
        <result column="CONTACT_KNOWN_AS" property="contactKnownAs" />
        <association property="supplierType" column="SUPPLIER_TYPE_ID" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="contact" column="CONTACT_ID" select="au.com.biztune.retail.dao.ContactDao.getContactById" />
        <association resultMap="suppOrguLinkMap" property="suppOrguLink" />
    </resultMap>
    <resultMap id="supplierExportMap" type="Supplier" >
        <id column="SUPPLIER_ID" property="id" />
        <result column="SUPPLIER_CODE" property="supplierCode" />
        <result column="SUPPLIER_NAME" property="supplierName" />
        <result column="LEAD_TIME" property="leadTime" />
        <result column="STOCK_COVER" property="stockCover" />
        <result column="MIN_ORDER_VALUE" property="minOrderValue" />
        <result column="CREDIT_LIMIT" property="creditLimit" />
        <result column="MAX_ADV_ORDER" property="maxAdvOrder" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="LAST_MODIFIED_BY" property="lastModifiedBy" />
        <result column="CONTACT_FIRST_NAME" property="contactFirstName" />
        <result column="CONTACT_SUR_NAME" property="contactSurName" />
        <result column="CONTACT_TITLE" property="contactTitle" />
        <result column="CONTACT_KNOWN_AS" property="contactKnownAs" />
        <association property="contact" column="CONTACT_ID" select="au.com.biztune.retail.dao.ContactDao.getContactById" />
    </resultMap>
    <resultMap id="supplierOnlyMap" type="Supplier" >
        <id column="SUPPLIER_ID" property="id" />
        <result column="SUPPLIER_CODE" property="supplierCode" />
        <result column="SUPPLIER_NAME" property="supplierName" />
        <result column="LEAD_TIME" property="leadTime" />
        <result column="STOCK_COVER" property="stockCover" />
        <result column="MIN_ORDER_VALUE" property="minOrderValue" />
        <result column="CREDIT_LIMIT" property="creditLimit" />
        <result column="MAX_ADV_ORDER" property="maxAdvOrder" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
        <result column="LAST_MODIFIED_BY" property="lastModifiedBy" />
        <result column="CONTACT_FIRST_NAME" property="contactFirstName" />
        <result column="CONTACT_SUR_NAME" property="contactSurName" />
        <result column="CONTACT_TITLE" property="contactTitle" />
        <result column="CONTACT_KNOWN_AS" property="contactKnownAs" />
    </resultMap>

    <resultMap id="suppOrguLinkMap" type="SuppOrguLink" >
        <id column="SOL_ID" property="id" />
        <result column="SUPP_ID" property="suppId" />
        <result column="ORGU_ID" property="orguId" />
        <result column="SOL_CRED_LIMIT" property="solCredLimit" />
        <result column="SOL_MIN_ORD_VAL" property="solMinOrdVal" />
        <result column="SOL_LEAD_TIME" property="solLeadTime" />
        <result column="SOL_ORDERING_CODE" property="solOrderingCode" />
        <result column="SOL_MIN_PO_QTY" property="solMinPoQty" />
        <result column="SOL_PAYMENT_DAYS" property="solPaymentDays" />
        <result column="SOL_ACC_CODE" property="solAccCode" />
        <association resultMap="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryMap" property="status" />
    </resultMap>

    <sql id="supplierColumns">
        ${alias}.SUPPLIER_ID,
        ${alias}.SUPPLIER_CODE,
        ${alias}.SUPPLIER_NAME,
        ${alias}.LEAD_TIME,
        ${alias}.STOCK_COVER,
        ${alias}.MIN_ORDER_VALUE,
        ${alias}.CREDIT_LIMIT,
        ${alias}.MAX_ADV_ORDER,
        ${alias}.CREATE_DATE,
        ${alias}.LAST_MODIFIED_BY,
        ${alias}.CONTACT_FIRST_NAME,
        ${alias}.CONTACT_SUR_NAME,
        ${alias}.CONTACT_TITLE,
        ${alias}.CONTACT_KNOWN_AS,
        ${alias}.SUPPLIER_TYPE_ID,
        ${alias}.SUPPLIER_STATUS_ID,
        ${alias}.CONTACT_ID
    </sql>

    <sql id="suppOrguLinkColumns">
        ${alias}.SOL_ID,
        ${alias}.SUPP_ID,
        ${alias}.ORGU_ID,
        ${alias}.SOL_CRED_LIMIT,
        ${alias}.SOL_MIN_ORD_VAL,
        ${alias}.SOL_LEAD_TIME,
        ${alias}.SOL_ORDERING_CODE,
        ${alias}.SOL_MIN_PO_QTY,
        ${alias}.SOL_PAYMENT_DAYS,
        ${alias}.SOL_ACC_CODE,
        ${alias}.CAT_ID_STATUS
    </sql>

    <select id="getAllSuppliersByOrgUnitId" resultMap="supplierMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>,
        <include refid="suppOrguLinkColumns"><property name="alias" value="suporgl"/></include>,
        <include refid="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryColumns"><property name="alias" value="suppStatus"/></include>

        FROM
        SUPPLIER supp
        INNER JOIN SUPP_ORGU_LINK suporgl ON (supp.supplier_id = suporgl.supp_id)
        LEFT OUTER JOIN
        CONFIG_CATEGORY suppStatus on (suporgl.CAT_ID_STATUS = suppStatus.CATEGORY_ID)
        WHERE suporgl.orgu_id = #{value}
    </select>

    <select id="getSupplierByOrgUnitIdAndSuppCode" resultMap="supplierMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>,
        <include refid="suppOrguLinkColumns"><property name="alias" value="suporgl"/></include>,
        <include refid="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryColumns"><property name="alias" value="suppStatus"/></include>

        FROM
        SUPPLIER supp
        INNER JOIN SUPP_ORGU_LINK suporgl ON (supp.supplier_id = suporgl.supp_id)
        LEFT OUTER JOIN
        CONFIG_CATEGORY suppStatus on (suporgl.CAT_ID_STATUS = suppStatus.CATEGORY_ID)
        WHERE suporgl.orgu_id = #{param1}
        AND supp.SUPPLIER_CODE = #{param2}
    </select>

    <select id="getSupplierByOrgUnitIdAndSuppName" resultMap="supplierMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>,
        <include refid="suppOrguLinkColumns"><property name="alias" value="suporgl"/></include>,
        <include refid="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryColumns"><property name="alias" value="suppStatus"/></include>

        FROM
        SUPPLIER supp
        INNER JOIN SUPP_ORGU_LINK suporgl ON (supp.supplier_id = suporgl.supp_id)
        LEFT OUTER JOIN
        CONFIG_CATEGORY suppStatus on (suporgl.CAT_ID_STATUS = suppStatus.CATEGORY_ID)
        WHERE suporgl.orgu_id = #{param1}
        AND supp.SUPPLIER_NAME = #{param2}
    </select>

    <select id="getSupplierByOrgUnitIdAndSuppId" resultMap="supplierMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>,
        <include refid="suppOrguLinkColumns"><property name="alias" value="suporgl"/></include>,
        <include refid="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryColumns"><property name="alias" value="suppStatus"/></include>

        FROM
        SUPPLIER supp
        INNER JOIN SUPP_ORGU_LINK suporgl ON (supp.supplier_id = suporgl.supp_id)
        LEFT OUTER JOIN
        CONFIG_CATEGORY suppStatus on (suporgl.CAT_ID_STATUS = suppStatus.CATEGORY_ID)
        WHERE suporgl.orgu_id = #{param1}
        AND supp.SUPPLIER_ID = #{param2}
    </select>

    <select id="getSupplierBySuppId" resultMap="supplierOnlyMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>
        FROM
        SUPPLIER supp
        WHERE supp.SUPPLIER_ID = #{param1}
    </select>

    <select id="getSupplierFullBySuppId" resultMap="supplierExportMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>
        FROM
        SUPPLIER supp
        WHERE supp.SUPPLIER_ID = #{param1}
    </select>

    <select id="getSupplierBySolId" resultMap="supplierMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>,
        <include refid="suppOrguLinkColumns"><property name="alias" value="suporgl"/></include>,
        <include refid="au.com.biztune.retail.dao.ConfigCategoryDao.configCategoryColumns"><property name="alias" value="suppStatus"/></include>

        FROM
        SUPPLIER supp
        INNER JOIN SUPP_ORGU_LINK suporgl ON (supp.supplier_id = suporgl.supp_id)
        LEFT OUTER JOIN
        CONFIG_CATEGORY suppStatus on (suporgl.CAT_ID_STATUS = suppStatus.CATEGORY_ID)
        WHERE suporgl.SOL_ID = #{value}
    </select>


    <insert id="insertSupplier" parameterType="Supplier" useGeneratedKeys="true" keyProperty="id" keyColumn="SUPPLIER_ID">
        INSERT INTO SUPPLIER(
        SUPPLIER_CODE,
        SUPPLIER_NAME,
        SUPPLIER_TYPE_ID,
        SUPPLIER_STATUS_ID,
        CONTACT_ID,
        LEAD_TIME,
        STOCK_COVER,
        MIN_ORDER_VALUE,
        CREDIT_LIMIT,
        MAX_ADV_ORDER,
        CREATE_DATE,
        LAST_MODIFIED_DATE,
        LAST_MODIFIED_BY,
        CONTACT_FIRST_NAME,
        CONTACT_SUR_NAME,
        CONTACT_TITLE,
        CONTACT_KNOWN_AS
        ) VALUES (
        #{supplierCode},
        #{supplierName}
        <if test="supplierType != null">
            ,#{supplierType.id}
        </if>
        <if test="supplierType == null">
            ,null
        </if>
        <if test="supplierStatus != null">
            ,#{supplierStatus.id}
        </if>
        <if test="supplierStatus == null">
            ,null
        </if>
        <if test="contact != null">
            ,#{contact.id}
        </if>
        <if test="contact == null">
            ,null
        </if>
        <if test="leadTime != null">
            ,#{leadTime}
        </if>
        <if test="leadTime == null">
            ,null
        </if>
        <if test="stockCover != null">
            ,#{stockCover}
        </if>
        <if test="stockCover == null">
            ,null
        </if>
        <if test="minOrderValue != null">
            ,#{minOrderValue}
        </if>
        <if test="minOrderValue == null">
            ,null
        </if>
        <if test="creditLimit != null">
            ,#{creditLimit}
        </if>
        <if test="creditLimit == null">
            ,null
        </if>
        <if test="maxAdvOrder != null">
            ,#{maxAdvOrder}
        </if>
        <if test="maxAdvOrder == null">
            ,null
        </if>
        <if test="createDate != null">
            ,#{createDate}
        </if>
        <if test="createDate == null">
            ,null
        </if>
        <if test="lastModifiedDate != null">
            ,#{lastModifiedDate}
        </if>
        <if test="lastModifiedDate == null">
            ,null
        </if>
        <if test="lastModifiedBy != null">
            ,#{lastModifiedBy}
        </if>
        <if test="lastModifiedBy == null">
            ,null
        </if>
        <if test="contactFirstName != null">
            ,#{contactFirstName}
        </if>
        <if test="contactFirstName == null">
            ,null
        </if>
        <if test="contactSurName != null">
            ,#{contactSurName}
        </if>
        <if test="contactSurName == null">
            ,null
        </if>
        <if test="contactTitle != null">
            ,#{contactTitle}
        </if>
        <if test="contactTitle == null">
            ,null
        </if>
        <if test="contactKnownAs != null">
            ,#{contactKnownAs}
        </if>
        <if test="contactKnownAs == null">
            ,null
        </if>
        <!--
        GO
        UPDATE Sequence SET NEXT_VAL = (select SEQUENCE.next_val + 1 from sequence where seq_name='CUSTOMER_SEQ') WHERE SEQ_NAME='CUSTOMER_SEQ'
        GO
        -->
        )
    </insert>


    <insert id="insertSuppOrguLink" parameterType="SuppOrguLink" useGeneratedKeys="true" keyProperty="id" keyColumn="SOL_ID">
        INSERT INTO SUPP_ORGU_LINK(
            SUPP_ID,
            ORGU_ID,
            SOL_CRED_LIMIT,
            SOL_MIN_ORD_VAL,
            SOL_LEAD_TIME,
            SOL_ORDERING_CODE,
            SOL_MIN_PO_QTY,
            SOL_PAYMENT_DAYS,
            SOL_ACC_CODE,
            CAT_ID_STATUS
        ) VALUES (
        #{suppId},
        #{orguId}
        <if test="solCredLimit != null">
            ,#{solCredLimit}
        </if>
        <if test="solCredLimit == null">
            ,null
        </if>

        <if test="solMinOrdVal != null">
            ,#{solMinOrdVal}
        </if>
        <if test="solMinOrdVal == null">
            ,null
        </if>

        <if test="solLeadTime != null">
            ,#{solLeadTime}
        </if>
        <if test="solLeadTime == null">
            ,null
        </if>

        <if test="solOrderingCode != null">
            ,#{solOrderingCode}
        </if>
        <if test="solOrderingCode == null">
            ,null
        </if>

        <if test="solMinPoQty != null">
            ,#{solMinPoQty}
        </if>
        <if test="solMinPoQty == null">
            ,null
        </if>

        <if test="solPaymentDays != null">
            ,#{solPaymentDays}
        </if>
        <if test="solPaymentDays == null">
            ,null
        </if>


        <if test="solAccCode != null">
            ,#{solAccCode}
        </if>
        <if test="solAccCode == null">
            ,null
        </if>

        <if test="status != null">
            ,#{status.id}
        </if>
        <if test="status == null">
            ,null
        </if>
        )
    </insert>


    <update id="updateSupplier" parameterType="Supplier" >
        UPDATE Supplier SET
            SUPPLIER_CODE = #{supplierCode},
            SUPPLIER_NAME = #{supplierName}
        <if test="supplierType != null">
            ,SUPPLIER_TYPE_ID = #{supplierType.id}
        </if>
        <if test="supplierStatus != null">
            ,SUPPLIER_STATUS_ID = #{supplierStatus.id}
        </if>
        <if test="contact != null">
            ,CONTACT_ID = #{contact.id}
        </if>
        <if test="leadTime != null">
            ,LEAD_TIME = #{leadTime}
        </if>
        <if test="stockCover != null">
            ,STOCK_COVER = #{stockCover}
        </if>
        <if test="minOrderValue != null">
            ,MIN_ORDER_VALUE = #{minOrderValue}
        </if>
        <if test="creditLimit != null">
            ,CREDIT_LIMIT = #{creditLimit}
        </if>
        <if test="maxAdvOrder != null">
            ,MAX_ADV_ORDER = #{maxAdvOrder}
        </if>
        <if test="createDate != null">
            ,CREATE_DATE = #{createDate}
        </if>
        <if test="lastModifiedDate != null">
            ,LAST_MODIFIED_DATE = #{lastModifiedDate}
        </if>
        <if test="lastModifiedBy != null">
            ,LAST_MODIFIED_BY = #{lastModifiedBy}
        </if>
        <if test="contactFirstName != null">
            ,CONTACT_FIRST_NAME = #{contactFirstName}
        </if>
        <if test="contactSurName != null">
            ,CONTACT_SUR_NAME = #{contactSurName}
        </if>
        <if test="contactTitle != null">
            ,CONTACT_TITLE = #{contactTitle}
        </if>
        <if test="contactKnownAs != null">
            ,CONTACT_KNOWN_AS =#{contactKnownAs}
        </if>
          WHERE SUPPLIER_ID = #{id}
    </update>

    <update id="updateSuppOrguLink" parameterType="SuppOrguLink" >
        UPDATE SUPP_ORGU_LINK SET
        CAT_ID_STATUS = #{status.id}
        <if test="solCredLimit != null">
            ,SOL_CRED_LIMIT = #{solCredLimit}
        </if>

        <if test="solMinOrdVal != null">
            ,SOL_MIN_ORD_VAL = #{solMinOrdVal}
        </if>

        <if test="solLeadTime != null">
            ,SOL_LEAD_TIME = #{solLeadTime}
        </if>

        <if test="solOrderingCode != null">
            ,SOL_ORDERING_CODE = #{solOrderingCode}
        </if>

        <if test="solMinPoQty != null">
            ,SOL_MIN_PO_QTY = #{solMinPoQty}
        </if>

        <if test="solPaymentDays != null">
            ,SOL_PAYMENT_DAYS = #{solPaymentDays}
        </if>


        <if test="solAccCode != null">
            ,SOL_ACC_CODE = #{solAccCode}
        </if>
        WHERE SOL_ID = #{id}
    </update>
    <select id="getSupplierListForAccExport" resultMap="supplierExportMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>
        FROM
        SUPPLIER supp
        WHERE supp.ACC_EXPORTED = 0
    </select>

    <select id="getNoOfSupplierToBeExported" resultType="java.lang.Integer" >
        SELECT
          COUNT(SUPPLIER_ID) FROM SUPPLIER WHERE ACC_EXPORTED = 0
    </select>

    <update id="setSupplierExportFlagPerSuppId">
        UPDATE Supplier SET ACC_EXPORTED= 1
        WHERE SUPPLIER_ID = #{value}
    </update>
    <select id="getDefaultSupplierOfProductPerOrguIdAndProdId" resultMap="supplierOnlyMap" >
        SELECT
        <include refid="supplierColumns"><property name="alias" value="supp"/></include>
        FROM
        SUPPLIER supp INNER JOIN SUPP_ORGU_LINK sol on (supp.SUPPLIER_ID = sol.SUPP_ID and sol.ORGU_ID = #{param1})
        INNER JOIN SUPP_PROD_PRICE spp on(sol.SOL_ID = spp.SOL_ID)
        WHERE spp.PROD_ID = #{param2}
    </select>
</mapper>