<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.biztune.retail.dao.TxnDao">
    <!-- result maps -->
    <resultMap id="txnHeaderLightMap" type="TxnHeader" >
        <id column="TXHD_ID" property="id" />
        <result column="TXHD_ID" property="parentId" /> <!-- use for refund-->
        <result column="TXHD_TXN_NR" property="txhdTxnNr" />
        <result column="TXHD_ORIG_TXN_NR" property="txhdOrigTxnNr" />
        <result column="TXHD_TRADING_DATE" property="txhdTradingDate" />
        <result column="TXHD_OPERATOR" property="txhdOperator" />
        <result column="TXHD_VOIDED" property="txhdVoided" />
        <result column="TXHD_VALUE_GROSS" property="txhdValueGross" />
        <result column="TXHD_VALUE_NETT" property="txhdValueNett" />
        <result column="TXHD_VALUE_DUE" property="txhdValueDue" />
        <result column="TXHD_VALUE_CHANGE" property="txhdValueChange" />
        <result column="TXHD_VAL_ROUNDING" property="txhdValRounding" />
        <result column="TXHD_VALUE_TAXABLE" property="txhdValueTaxable" />
        <result column="TXHD_VALUE_TAX" property="txhdValueTax" />
        <result column="TXHD_RECEIPT_ID" property="txhdReceiptId" />
        <result column="TXHD_VOID_TXN_NR" property="txhdVoidTxnNr" />
        <result column="TXHD_TAX_EXEMPT" property="txhdTaxExempt" />
        <result column="TXHD_REFUND_EXPIRY" property="txhdRefundExpiry" />
        <result column="TXHD_COLLECT_DATE" property="txhdCollectDate" />
        <result column="TXHD_DLV_ADDRESS" property="txhdDlvAddress" />
        <result column="TXHD_PRINTED" property="txhdPrinted" />
        <association property="customer" column="CUSTOMER_ID" select="au.com.biztune.retail.dao.CustomerDao.getCustomerById" />
        <association property="user" column="TXHD_OPERATOR" select="au.com.biztune.retail.dao.UserDao.getLiteUserById" />
        <association property="txhdState" column="TXHD_STATE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="txhdTxnType" column="TXHD_TXN_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>

    <resultMap id="txnHeaderMap" type="TxnHeader" >
        <id column="TXHD_ID" property="id" />
        <result column="TXHD_TXN_NR" property="txhdTxnNr" />
        <result column="TXHD_ORIG_TXN_NR" property="txhdOrigTxnNr" />
        <result column="TXHD_TRADING_DATE" property="txhdTradingDate" />
        <result column="TXHD_OPERATOR" property="txhdOperator" />
        <result column="TXHD_VOIDED" property="txhdVoided" />
        <result column="TXHD_VALUE_GROSS" property="txhdValueGross" />
        <result column="TXHD_VALUE_NETT" property="txhdValueNett" />
        <result column="TXHD_VALUE_DUE" property="txhdValueDue" />
        <result column="TXHD_VALUE_CHANGE" property="txhdValueChange" />
        <result column="TXHD_VAL_ROUNDING" property="txhdValRounding" />
        <result column="TXHD_VALUE_TAXABLE" property="txhdValueTaxable" />
        <result column="TXHD_VALUE_TAX" property="txhdValueTax" />
        <result column="TXHD_RECEIPT_ID" property="txhdReceiptId" />
        <result column="TXHD_VOID_TXN_NR" property="txhdVoidTxnNr" />
        <result column="TXHD_TAX_EXEMPT" property="txhdTaxExempt" />
        <result column="TXHD_REFUND_EXPIRY" property="txhdRefundExpiry" />
        <result column="TXHD_COLLECT_DATE" property="txhdCollectDate" />
        <result column="TXHD_DLV_ADDRESS" property="txhdDlvAddress" />
        <result column="TXHD_CONTACT_PERSON" property="txhdContactPerson" />
        <result column="TXHD_CONTACT_PHONE" property="txhdContactPhone" />
        <result column="TXHD_PRINTED" property="txhdPrinted" />
        <association property="user" column="TXHD_OPERATOR" select="au.com.biztune.retail.dao.UserDao.getLiteUserById" />
        <association property="store" column="STORE_ID" select="au.com.biztune.retail.dao.OrgUnitDao.getStoreById" />
        <association property="txhdState" column="TXHD_STATE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="txhdTxnType" column="TXHD_TXN_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
        <association property="customer" column="CUSTOMER_ID" select="au.com.biztune.retail.dao.CustomerDao.getCustomerById" />
        <collection property="txnDetails" javaType="ArrayList" column="TXHD_ID" ofType="TxnDetail" select="getTxnDetailPerTxhdId"/>
        <collection property="txnMedias" javaType="ArrayList" column="TXHD_ID" ofType="TxnMedia" select="getTxnMediaPerTxhdId"/>
    </resultMap>


    <resultMap id="txnDetailMap" type="TxnDetail" >
        <id column="TXDE_ID" property="id" />
        <result column="TXDE_PRICE_OVRIDEN" property="txdePriceOveriden" />
        <result column="TXDE_VALUE_LINE" property="txdeValueLine" />
        <result column="TXDE_PROFIT_MARGIN" property="txdeProfitMargin" />
        <result column="TXDE_VALUE_PROFIT" property="txdeValueProfit" />
        <result column="TXDE_VALUE_GROSS" property="txdeValueGross" />
        <result column="TXDE_TAX" property="txdeTax" />
        <result column="TXDE_VALUE_NET" property="txdeValueNet" />
        <result column="TXDE_QUANTITY_SOLD" property="txdeQuantitySold" />
        <result column="TXDE_QUANTITY_SOLD" property="originalQuantity" /> <!-- we need this to figure out the change in quantity on sale order -->
        <result column="TXDE_QTY_BALANCE" property="txdeQtyBalance" />
        <result column="TXDE_QTY_TOTAL_INVOICED" property="txdeQtyTotalInvoiced" />
        <result column="TXDE_QTY_TOTAL_REFUND" property="txdeQtyTotalRefund" />
        <result column="TXDE_PRICE_SOLD" property="txdePriceSold" />
        <result column="TXDE_LINE_REFUND" property="txdeLineRefund" />
        <result column="TXDE_ITEM_VOID" property="txdeItemVoid" />
        <result column="TXDE_SERIAL_NUMBER" property="txdeSerialNumber" />
        <result column="TXDE_WAS_SPLIT_PCK" property="txdeWasSplitPck" />
        <result column="TXDE_DETAIL_LEVEL" property="txdeDetailLevel" />
        <result column="TXDE_PARENT_DETAIL" property="txdeParentDetail" />
        <result column="TXDE_DISC_PRICE" property="txdeDiscPrice" />
        <association property="product" column="TXDE_PROD_ID" select="au.com.biztune.retail.dao.ProductDao.getProductSaleItemPerProdId" />
        <association property="unitOfMeasure" column="TXDE_UNOM_ID" select="au.com.biztune.retail.dao.UnitOfMeasureDao.getUnomById" />
        <association property="txdeDetailType" column="TXDE_DETAIL_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>

    <resultMap id="txnMediaMap" type="TxnMedia" >
        <id column="TXMD_ID" property="id" />
        <result column="TXMD_AMOUNT_LOCAL" property="txmdAmountLocal" />
        <result column="TXMD_AMNT_FOREIGN" property="txmdAmntForeign" />
        <result column="TXMD_PAN" property="txmdPan" />
        <result column="TXMD_VOIDED" property="txmdVoided" />
        <association property="paymentMedia" column="PAYM_ID" select="au.com.biztune.retail.dao.PaymentMediaDao.getPaymentMediaPerId" />
        <association property="txmdType" column="TXMD_TYPE" select="au.com.biztune.retail.dao.ConfigCategoryDao.getCategoryById" />
    </resultMap>

    <resultMap id="productSaleMap" type="ProductSale" >
        <result column="TXDE_PROD_ID" property="prodId" />
        <result column="TXDE_ID" property="txdeId" />
        <result column="TXHD_ID" property="txhdId" />
        <result column="TXHD_TXN_NR" property="txhdTxnNr" />
        <result column="TXHD_TRADING_DATE" property="txhdTradingDate" />
        <result column="CLIENT" property="client" />
        <result column="TXN_TYPE" property="txnType" />
        <result column="TXDE_VALUE_GROSS" property="txdeValueGross" />
        <result column="TXDE_VALUE_NET" property="txdeValueNet" />
        <result column="TXDE_QUANTITY_SOLD" property="txdeQuantitySold" />
        <result column="TXDE_PRICE_SOLD" property="txdePriceSold" />
    </resultMap>

    <sql id="txnHeaderColumns">
        ${alias}.TXHD_ID,
        ${alias}.ORGU_ID,
        ${alias}.STORE_ID,
        ${alias}.TXHD_TXN_NR,
        ${alias}.ORGU_ID_ORIGINAL,
        ${alias}.TXHD_ORIG_TXN_NR,
        ${alias}.TXHD_TRADING_DATE,
        ${alias}.TXHD_TXN_TYPE,
        ${alias}.TXHD_OPERATOR,
        ${alias}.TXHD_VALUE_GROSS,
        ${alias}.TXHD_VALUE_NETT,
        ${alias}.TXHD_VALUE_DUE,
        ${alias}.TXHD_VALUE_CHANGE,
        ${alias}.TXHD_VAL_ROUNDING,
        ${alias}.TXHD_VALUE_TAXABLE,
        ${alias}.TXHD_VALUE_TAX,
        ${alias}.TXHD_RECEIPT_ID,
        ${alias}.TXHD_VOID_TXN_NR,
        ${alias}.TXHD_TAX_EXEMPT,
        ${alias}.TXHD_REFUND_EXPIRY,
        ${alias}.TXHD_COLLECT_DATE,
        ${alias}.CUSTOMER_ID,
        ${alias}.TXHD_STATE,
        ${alias}.TXHD_DLV_ADDRESS,
        ${alias}.TXHD_CONTACT_PERSON,
        ${alias}.TXHD_CONTACT_PHONE,
        ${alias}.TXHD_PRINTED

    </sql>

    <sql id="txnDetailColumns">
        ${alias}.TXDE_ID,
        ${alias}.TXDE_PRICE_OVRIDEN,
        ${alias}.TXDE_PROD_ID,
        ${alias}.TXDE_UNOM_ID,
        ${alias}.TXDE_VALUE_LINE,
        ${alias}.TXDE_PROFIT_MARGIN,
        ${alias}.TXDE_VALUE_PROFIT,
        ${alias}.TXDE_VALUE_GROSS,
        ${alias}.TXDE_TAX,
        ${alias}.TXDE_VALUE_NET,
        ${alias}.TXDE_QUANTITY_SOLD,
        ${alias}.TXDE_QTY_BALANCE,
        ${alias}.TXDE_QTY_TOTAL_INVOICED,
        ${alias}.TXDE_QTY_TOTAL_REFUND,
        ${alias}.TXDE_PRICE_SOLD,
        ${alias}.TXDE_LINE_REFUND,
        ${alias}.TXDE_ITEM_VOID,
        ${alias}.TXDE_SERIAL_NUMBER,
        ${alias}.TXDE_WAS_SPLIT_PCK,
        ${alias}.TXDE_DETAIL_LEVEL,
        ${alias}.TXDE_PARENT_DETAIL,
        ${alias}.TXDE_DETAIL_TYPE,
        ${alias}.TXDE_DISC_PRICE,
        ${alias}.TXDE_RETURN_ORGU_ID,
        ${alias}.TXDE_RETURN_STORE_ID
    </sql>

    <sql id="txnMediaColumns">
        ${alias}.TXMD_ID,
        ${alias}.MEDT_ID,
        ${alias}.PAYM_ID,
        ${alias}.TXMD_TYPE,
        ${alias}.TXMD_AMOUNT_LOCAL,
        ${alias}.TXMD_AMNT_FOREIGN,
        ${alias}.TXMD_PAN,
        ${alias}.TXMD_VOIDED
    </sql>


    <insert id="insertTxnHeader" parameterType="TxnHeader" useGeneratedKeys="true" keyProperty="id" keyColumn="TXHD_ID">
        INSERT INTO TXN_HEADER(
        ORGU_ID,
        STORE_ID,
        TXHD_TXN_NR,
        TXHD_STATE,
        ORGU_ID_ORIGINAL,
        TXHD_ORIG_TXN_NR,
        TXHD_TRADING_DATE,
        TXHD_TXN_TYPE,
        TXHD_OPERATOR,
        TXHD_VOIDED,
        TXHD_VALUE_GROSS,
        TXHD_VALUE_NETT,
        TXHD_VALUE_DUE,
        TXHD_VALUE_CHANGE,
        TXHD_VAL_ROUNDING,
        TXHD_VALUE_TAXABLE,
        TXHD_VALUE_TAX,
        TXHD_RECEIPT_ID,
        CUSTOMER_ID,
        TXHD_VOID_TXN_NR,
        TXHD_TAX_EXEMPT,
        TXHD_REFUND_EXPIRY,
        TXHD_COLLECT_DATE,
        TXHD_DLV_ADDRESS,
        TXHD_CONTACT_PERSON,
        TXHD_CONTACT_PHONE

        ) VALUES (
        #{orgUnit.id},
        #{store.id},
        #{txhdTxnNr}
        <if test="txhdState != null">
            ,#{txhdState.id}
        </if>
        <if test="txhdState == null">
            ,null
        </if>
        <if test="orgUnitOriginal != null">
            ,#{orgUnitOriginal.id}
        </if>
        <if test="orgUnitOriginal == null">
            ,null
        </if>
        <if test="txhdOrigTxnNr != null">
            ,#{txhdOrigTxnNr}
        </if>
        <if test="txhdOrigTxnNr == null">
            ,null
        </if>
        <if test="txhdTradingDate != null">
            ,#{txhdTradingDate}
        </if>
        <if test="txhdTradingDate == null">
            ,null
        </if>
        <if test="txhdTxnType != null">
            ,#{txhdTxnType.id}
        </if>
        <if test="txhdTxnType == null">
            ,null
        </if>
        <if test="txhdOperator != null">
            ,#{txhdOperator}
        </if>
        <if test="txhdOperator == null">
            ,null
        </if>
        <if test="txhdVoided != null">
            ,#{txhdVoided}
        </if>
        <if test="txhdVoided == null">
            ,null
        </if>
        <if test="txhdValueGross != null">
            ,#{txhdValueGross}
        </if>
        <if test="txhdValueGross == null">
            ,null
        </if>
        <if test="txhdValueNett != null">
            ,#{txhdValueNett}
        </if>
        <if test="txhdValueNett == null">
            ,null
        </if>
        <if test="txhdValueDue != null">
            ,#{txhdValueDue}
        </if>
        <if test="txhdValueDue == null">
            ,null
        </if>

        <if test="txhdValueChange != null">
            ,#{txhdValueChange}
        </if>
        <if test="txhdValueChange == null">
            ,null
        </if>
        <if test="txhdValRounding != null">
            ,#{txhdValRounding}
        </if>
        <if test="txhdValRounding == null">
            ,null
        </if>
        <if test="txhdValueTaxable != null">
            ,#{txhdValueTaxable}
        </if>
        <if test="txhdValueTaxable == null">
            ,null
        </if>
        <if test="txhdValueTax != null">
            ,#{txhdValueTax}
        </if>
        <if test="txhdValueTax == null">
            ,null
        </if>
        <if test="txhdReceiptId != null">
            ,#{txhdReceiptId}
        </if>
        <if test="txhdReceiptId == null">
            ,null
        </if>
        <if test="customer != null">
            ,#{customer.id}
        </if>
        <if test="customer == null">
            ,null
        </if>
        <if test="txhdVoidTxnNr != null">
            ,#{txhdVoidTxnNr}
        </if>
        <if test="txhdVoidTxnNr == null">
            ,null
        </if>
        <if test="txhdTaxExempt != null">
            ,#{txhdTaxExempt}
        </if>
        <if test="txhdTaxExempt == null">
            ,null
        </if>
        <if test="txhdRefundExpiry != null">
            ,#{txhdRefundExpiry}
        </if>
        <if test="txhdRefundExpiry == null">
            ,null
        </if>
        <if test="txhdCollectDate != null">
            ,#{txhdCollectDate}
        </if>
        <if test="txhdCollectDate == null">
            ,null
        </if>
        <if test="txhdDlvAddress != null">
            ,#{txhdDlvAddress}
        </if>
        <if test="txhdDlvAddress == null">
            ,null
        </if>

        <if test="txhdContactPerson != null">
            ,#{txhdContactPerson}
        </if>
        <if test="txhdContactPerson == null">
            ,null
        </if>

        <if test="txhdContactPhone != null">
            ,#{txhdContactPhone}
        </if>
        <if test="txhdContactPhone == null">
            ,null
        </if>
        )
    </insert>
    <update id="updateTxnHeader" parameterType="TxnHeader" >
        UPDATE TXN_HEADER SET
        ORGU_ID = #{orgUnit.id}
        <if test="txhdState != null">
            ,TXHD_STATE = #{txhdState.id}
        </if>
        <if test="txhdTxnType != null">
            ,TXHD_TXN_TYPE = #{txhdTxnType.id}
        </if>
        <if test="txhdVoided != null">
            ,TXHD_VOIDED = #{txhdVoided}
        </if>
        <if test="txhdValueGross != null">
            ,TXHD_VALUE_GROSS = #{txhdValueGross}
        </if>
        <if test="txhdValueNett != null">
            ,TXHD_VALUE_NETT = #{txhdValueNett}
        </if>
        <if test="txhdValueDue != null">
            ,TXHD_VALUE_DUE = #{txhdValueDue}
        </if>
        <if test="txhdValueChange != null">
            ,TXHD_VALUE_CHANGE = #{txhdValueChange}
        </if>
        <if test="txhdValRounding != null">
            ,TXHD_VAL_ROUNDING = #{txhdValRounding}
        </if>
        <if test="txhdValueTaxable != null">
            ,TXHD_VALUE_TAXABLE = #{txhdValueTaxable}
        </if>
        <if test="txhdValueTax != null">
            ,TXHD_VALUE_TAX = #{txhdValueTax}
        </if>
        <if test="customer != null">
            ,CUSTOMER_ID = #{customer.id}
        </if>
        <if test="txhdVoidTxnNr != null">
            ,TXHD_VOID_TXN_NR = #{txhdVoidTxnNr}
        </if>
        <if test="txhdTaxExempt != null">
            ,TXHD_TAX_EXEMPT = #{txhdTaxExempt}
        </if>
        <if test="txhdRefundExpiry != null">
            ,TXHD_REFUND_EXPIRY = #{txhdRefundExpiry}
        </if>
        <if test="txhdCollectDate != null">
            ,TXHD_COLLECT_DATE = #{txhdCollectDate}
        </if>
        <if test="txhdOrigTxnNr != null">
            ,TXHD_ORIG_TXN_NR = #{txhdOrigTxnNr}
        </if>
        <if test="txhdTxnNr != null">
            ,TXHD_TXN_NR = #{txhdTxnNr}
        </if>
        <if test="txhdOperator != null">
            ,TXHD_OPERATOR = #{txhdOperator}
        </if>
        <if test="txhdDlvAddress != null">
            ,TXHD_DLV_ADDRESS = #{txhdDlvAddress}
        </if>
        <if test="txhdContactPerson != null">
            ,TXHD_CONTACT_PERSON = #{txhdContactPerson}
        </if>
        <if test="txhdContactPhone != null">
            ,TXHD_CONTACT_PHONE = #{txhdContactPhone}
        </if>
        <if test="txhdPrinted != null">
            ,TXHD_PRINTED = #{txhdPrinted}
        </if>
        WHERE TXHD_ID = #{id}
    </update>


    <insert id="insertTxnDetail" parameterType="TxnDetail" useGeneratedKeys="true" keyProperty="id" keyColumn="TXDE_ID">
        INSERT INTO TXN_DETAIL(
        ORGU_ID,
        STORE_ID,
        TXHD_ID,
        TXDE_PRICE_OVRIDEN,
        TXDE_PROD_ID,
        TXDE_UNOM_ID,
        TXDE_VALUE_LINE,
        TXDE_PROFIT_MARGIN,
        TXDE_VALUE_PROFIT,
        TXDE_VALUE_GROSS,
        TXDE_TAX,
        TXDE_VALUE_NET,
        TXDE_QUANTITY_SOLD,
        TXDE_QTY_BALANCE,
        TXDE_QTY_TOTAL_INVOICED,
        TXDE_QTY_TOTAL_REFUND,
        TXDE_PRICE_SOLD,
        TXDE_LINE_REFUND,
        TXDE_ITEM_VOID,
        TXDE_SERIAL_NUMBER,
        TXDE_WAS_SPLIT_PCK,
        TXDE_DETAIL_LEVEL,
        TXDE_PARENT_DETAIL,
        TXDE_DETAIL_TYPE,
        TXDE_DISC_PRICE,
        TXDE_RETURN_ORGU_ID,
        TXDE_RETURN_STORE_ID
        ) VALUES (
        #{orguId},
        #{storeId},
        #{txhdId}
        <if test="txdePriceOveriden != null">
            ,#{txdePriceOveriden}
        </if>
        <if test="txdePriceOveriden == null">
            ,null
        </if>
        <if test="product != null">
            ,#{product.id}
        </if>
        <if test="product == null">
            ,null
        </if>
        <if test="unitOfMeasure != null">
            ,#{unitOfMeasure.id}
        </if>
        <if test="unitOfMeasure == null">
            ,null
        </if>
        <if test="txdeValueLine != null">
            ,#{txdeValueLine}
        </if>
        <if test="txdeValueLine == null">
            ,null
        </if>
        <if test="txdeProfitMargin != null">
            ,#{txdeProfitMargin}
        </if>
        <if test="txdeProfitMargin == null">
            ,null
        </if>
        <if test="txdeValueProfit != null">
            ,#{txdeValueProfit}
        </if>
        <if test="txdeValueProfit == null">
            ,null
        </if>
        <if test="txdeValueGross != null">
            ,#{txdeValueGross}
        </if>
        <if test="txdeValueGross == null">
            ,null
        </if>

        <if test="txdeTax != null">
            ,#{txdeTax}
        </if>
        <if test="txdeTax == null">
            ,null
        </if>

        <if test="txdeValueNet != null">
            ,#{txdeValueNet}
        </if>
        <if test="txdeValueNet == null">
            ,null
        </if>

        <if test="txdeQuantitySold != null">
            ,#{txdeQuantitySold}
        </if>
        <if test="txdeQuantitySold == null">
            ,null
        </if>

        <if test="txdeQtyBalance != null">
            ,#{txdeQtyBalance}
        </if>
        <if test="txdeQtyBalance == null">
            ,null
        </if>

        <if test="txdeQtyTotalInvoiced != null">
            ,#{txdeQtyTotalInvoiced}
        </if>
        <if test="txdeQtyTotalInvoiced == null">
            ,null
        </if>

        <if test="txdeQtyTotalRefund != null">
            ,#{txdeQtyTotalRefund}
        </if>
        <if test="txdeQtyTotalRefund == null">
            ,null
        </if>

        <if test="txdePriceSold != null">
            ,#{txdePriceSold}
        </if>
        <if test="txdePriceSold == null">
            ,null
        </if>

        <if test="txdeLineRefund != null">
            ,#{txdeLineRefund}
        </if>
        <if test="txdeLineRefund == null">
            ,null
        </if>

        <if test="txdeItemVoid != null">
            ,#{txdeItemVoid}
        </if>
        <if test="txdeItemVoid == null">
            ,null
        </if>

        <if test="txdeSerialNumber != null">
            ,#{txdeSerialNumber}
        </if>
        <if test="txdeSerialNumber == null">
            ,null
        </if>

        <if test="txdeWasSplitPck != null">
            ,#{txdeWasSplitPck}
        </if>
        <if test="txdeWasSplitPck == null">
            ,null
        </if>

        <if test="txdeDetailLevel != null">
            ,#{txdeDetailLevel}
        </if>
        <if test="txdeDetailLevel == null">
            ,null
        </if>

        <if test="txdeParentDetail != null">
            ,#{txdeParentDetail}
        </if>
        <if test="txdeParentDetail == null">
            ,null
        </if>

        <if test="txdeDetailType != null">
            ,#{txdeDetailType.id}
        </if>
        <if test="txdeDetailType == null">
            ,null
        </if>

        <if test="txdeDiscPrice != null">
            ,#{txdeDiscPrice}
        </if>
        <if test="txdeDiscPrice == null">
            ,null
        </if>

        <if test="txdeReturnOrguId != null">
            ,#{txdeReturnOrguId}
        </if>
        <if test="txdeReturnOrguId == null">
            ,null
        </if>
        <if test="txdeReturnStoreId != null">
            ,#{txdeReturnStoreId}
        </if>
        <if test="txdeReturnStoreId == null">
            ,null
        </if>
        )
    </insert>

    <update id="updateTxnDetail" parameterType="TxnDetail" >
        UPDATE TXN_DETAIL SET
        ORGU_ID = #{orguId}
        <if test="txdePriceOveriden != null">
            ,TXDE_PRICE_OVRIDEN = #{txdePriceOveriden}
        </if>
        <if test="product != null">
            ,TXDE_PROD_ID = #{product.id}
        </if>
        <if test="unitOfMeasure != null">
            ,TXDE_UNOM_ID = #{unitOfMeasure.id}
        </if>
        <if test="txdeValueLine != null">
            ,TXDE_VALUE_LINE = #{txdeValueLine}
        </if>
        <if test="txdeProfitMargin != null">
            ,TXDE_PROFIT_MARGIN = #{txdeProfitMargin}
        </if>
        <if test="txdeValueProfit != null">
            ,TXDE_VALUE_PROFIT = #{txdeValueProfit}
        </if>
        <if test="txdeValueGross != null">
            ,TXDE_VALUE_GROSS = #{txdeValueGross}
        </if>
        <if test="txdeTax != null">
            ,TXDE_TAX = #{txdeTax}
        </if>
        <if test="txdeValueNet != null">
            ,TXDE_VALUE_NET = #{txdeValueNet}
        </if>
        <if test="txdeQuantitySold != null">
            ,TXDE_QUANTITY_SOLD = #{txdeQuantitySold}
        </if>
        <if test="txdeQtyBalance != null">
            ,TXDE_QTY_BALANCE = #{txdeQtyBalance}
        </if>
        <if test="txdeQtyTotalInvoiced != null">
            ,TXDE_QTY_TOTAL_INVOICED = #{txdeQtyTotalInvoiced}
        </if>
        <if test="txdePriceSold != null">
            ,TXDE_PRICE_SOLD = #{txdePriceSold}
        </if>
        <if test="txdeLineRefund != null">
            ,TXDE_LINE_REFUND = #{txdeLineRefund}
        </if>
        <if test="txdeItemVoid != null">
            ,TXDE_ITEM_VOID = #{txdeItemVoid}
        </if>
        <if test="txdeSerialNumber != null">
            ,TXDE_SERIAL_NUMBER = #{txdeSerialNumber}
        </if>
        <if test="txdeWasSplitPck != null">
            ,TXDE_WAS_SPLIT_PCK = #{txdeWasSplitPck}
        </if>
        <if test="txdeDetailLevel != null">
            ,TXDE_DETAIL_LEVEL = #{txdeDetailLevel}
        </if>
        <if test="txdeParentDetail != null">
            ,TXDE_PARENT_DETAIL = #{txdeParentDetail}
        </if>
        <if test="txdeDetailType != null">
            ,TXDE_DETAIL_TYPE = #{txdeDetailType.id}
        </if>
        <if test="txdeDiscPrice != null">
            ,TXDE_DISC_PRICE = #{txdeDiscPrice}
        </if>
        <if test="txdeReturnOrguId != null">
            ,TXDE_RETURN_ORGU_ID = #{txdeReturnOrguId}
        </if>
        <if test="txdeReturnStoreId != null">
            ,TXDE_RETURN_STORE_ID = #{txdeReturnStoreId}
        </if>
        WHERE TXDE_ID = #{id}
    </update>

    <update id="updateTxnSaleRefundItem" >
        UPDATE TXN_DETAIL SET
          TXDE_QTY_TOTAL_REFUND = #{param1},
          TXDE_QTY_BALANCE = #{param2}
        WHERE TXDE_ID = #{param3}
    </update>

    <insert id="insertTxnMedia" parameterType="TxnMedia" useGeneratedKeys="true" keyProperty="id" keyColumn="TXMD_ID">
        INSERT INTO TXN_MEDIA(
        ORGU_ID,
        STORE_ID,
        TXHD_ID,
        MEDT_ID,
        PAYM_ID,
        TXMD_TYPE,
        TXMD_AMOUNT_LOCAL,
        TXMD_AMNT_FOREIGN,
        TXMD_PAN,
        TXMD_VOIDED
        ) VALUES (
        #{orguId},
        #{storeId},
        #{txhdId}
        <if test="medtId != null">
            ,#{medtId}
        </if>
        <if test="medtId == null">
            ,null
        </if>

        <if test="paymentMedia != null">
            ,#{paymentMedia.id}
        </if>
        <if test="paymentMedia == null">
            ,null
        </if>

        <if test="txmdType != null">
            ,#{txmdType.id}
        </if>
        <if test="txmdType == null">
            ,null
        </if>

        <if test="txmdAmountLocal != null">
            ,#{txmdAmountLocal}
        </if>
        <if test="txmdAmountLocal == null">
            ,null
        </if>

        <if test="txmdAmntForeign != null">
            ,#{txmdAmntForeign}
        </if>
        <if test="txmdAmntForeign == null">
            ,null
        </if>

        <if test="txmdPan != null">
            ,#{txmdPan}
        </if>
        <if test="txmdPan == null">
            ,null
        </if>

        <if test="txmdVoided != null">
            ,#{txmdVoided}
        </if>
        <if test="txmdVoided == null">
            ,null
        </if>
        )
    </insert>

    <update id="voidTxnMedia" parameterType="TxnMedia" >
        UPDATE TXN_MEDIA SET
          TXMD_VOIDED = #{txmdVoided}
        WHERE TXMD_ID = #{id}
    </update>


    <select id="getTxnDetailPerTxhdId" resultMap="txnDetailMap" >
        SELECT
          <include refid="txnDetailColumns"><property name="alias" value="txde"/></include>
        FROM
          TXN_DETAIL txde
        WHERE txde.txhd_id=#{value} and txde.TXDE_ITEM_VOID = 0;
    </select>

    <select id="getTxnDetailPerId" resultMap="txnDetailMap" >
        SELECT
        <include refid="txnDetailColumns"><property name="alias" value="txde"/></include>
        FROM
        TXN_DETAIL txde
        WHERE txde.TXDE_ID=#{value};
    </select>

    <select id="getTxnMediaPerTxhdId" resultMap="txnMediaMap" >
        SELECT
        <include refid="txnMediaColumns"><property name="alias" value="txmd"/></include>
        FROM
        TXN_MEDIA txmd
        WHERE txmd.txhd_id=#{value} and txmd.txmd_voided != 1
    </select>

    <select id="getSaleOrderAndQuoteOfCustomer" resultMap="txnHeaderLightMap" >
        SELECT
        <include refid="txnHeaderColumns"><property name="alias" value="txhd"/></include>
        FROM
        TXN_HEADER txhd
        WHERE txhd.CUSTOMER_ID =#{param1} AND txhd.TXHD_TXN_TYPE in
        <foreach collection="param2" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY txhd.TXHD_TRADING_DATE DESC
    </select>

    <select id="getTxnHeaderPerStoreId" resultMap="txnHeaderLightMap" >
        SELECT
        <include refid="txnHeaderColumns"><property name="alias" value="txhd"/></include>
        FROM
        TXN_HEADER txhd
        WHERE txhd.STORE_ID=#{param1} AND txhd.TXHD_TXN_TYPE in
        <foreach collection="param2" item="item" index="index"
                 open ="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY txhd.TXHD_TRADING_DATE DESC

    </select>


    <select id="searchTxnHeader" resultMap="txnHeaderLightMap" >
        SELECT
        <include refid="txnHeaderColumns"><property name="alias" value="txhd"/></include>
        FROM
        TXN_HEADER txhd
        WHERE txhd.STORE_ID=#{param1}
        <if test="param2 != null">
            AND txhd.TXHD_TXN_TYPE in
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="param3 != null">
            AND
            <foreach collection="param3" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
        ORDER BY txhd.TXHD_TRADING_DATE DESC
    </select>

    <select id="getTxnHeaderQueryTotalRows" resultType="long" >
        SELECT
        count(*)
        FROM
        TXN_HEADER txhd
        WHERE txhd.STORE_ID=#{param1}
        <if test="param2 != null">
            AND txhd.TXHD_TXN_TYPE in
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="param3 != null">
            AND
            <foreach collection="param3" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
    </select>

    <select id="searchTxnHeaderPaging" resultMap="txnHeaderLightMap" >
        SELECT * FROM
        (
        SELECT
        <include refid="txnHeaderColumns">
            <property name="alias" value="txhd"/>
        </include>,
        ROW_NUMBER() OVER (ORDER BY TXHD_TRADING_DATE DESC) AS NUMBER

        FROM
        TXN_HEADER txhd
        WHERE txhd.STORE_ID=#{param1}
        <if test="param2 != null">
            AND txhd.TXHD_TXN_TYPE in
            <foreach collection="param2" item="item" index="index"
                     open ="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="param3 != null">
            AND
            <foreach collection="param3" item="item" index="index"
                     open ="(" separator=" AND " close=")">
                ${item.column} ${item.operator} #{item.value}
            </foreach>
        </if>
        )qr
        where qr.NUMBER between #{param4} and #{param5}
    </select>


    <select id="getTxnHeaderPerStoreIdAndCustomerIdAndTypeId" resultMap="txnHeaderLightMap" >
        SELECT
        <include refid="txnHeaderColumns"><property name="alias" value="txhd"/></include>
        FROM
        TXN_HEADER txhd
        WHERE txhd.STORE_ID=#{param1} AND txhd.CUSTOMER_ID =#{param2} AND txhd.TXHD_TXN_TYPE=#{param3}
    </select>
    <select id="getTxnHeaderPerTxhdId" resultMap="txnHeaderMap" >
        SELECT
        <include refid="txnHeaderColumns"><property name="alias" value="txhd"/></include>
        FROM
        TXN_HEADER txhd
        WHERE txhd.TXHD_ID = #{value}
    </select>

    <select id="getTransactionsOfProduct" resultMap="productSaleMap" >
        SELECT
          txh.TXHD_ID,
          txh.TXHD_TXN_NR,
          txh.TXHD_TRADING_DATE,
          cust.COMPANY_NAME CLIENT,
          cat.DISPLAY_NAME TXN_TYPE,
          txd.TXDE_PROD_ID,
          txd.TXDE_ID,
          txd.TXDE_VALUE_GROSS,
          txd.TXDE_VALUE_NET,
          txd.TXDE_QUANTITY_SOLD,
          txd.TXDE_PRICE_SOLD
        FROM TXN_DETAIL txd INNER JOIN TXN_HEADER txh on (txd.TXHD_ID = txh.TXHD_ID)
                            INNER JOIN CONFIG_CATEGORY cat on (txh.TXHD_TXN_TYPE = cat.CATEGORY_ID)
                            LEFT OUTER JOIN Customer cust on (txh.CUSTOMER_ID = cust.CUSTOMER_ID)
        WHERE txd.TXDE_PROD_ID = #{value} and cat.CATEGORY_CODE != 'TXN_TYPE_INVOICE'
    </select>

    <update id="assigneTxnNumber" parameterType="TxnHeader" >
        UPDATE TXN_HEADER
          SET TXHD_TXN_NR = #{txhdTxnNr}
        WHERE TXHD_ID = #{id}
    </update>

    <update id="updateTxnDetailQtyBalance" parameterType="TxnHeader" >
        UPDATE TXN_DETAIL
        SET TXDE_QTY_BALANCE = #{txdeQtyBalance},
        TXDE_QTY_TOTAL_INVOICED = #{txdeQtyTotalInvoiced}
        WHERE TXDE_ID = #{id}
    </update>
    <update id="updateTxnHeaderTotalValues" parameterType="TxnHeader" >
        UPDATE TXN_HEADER SET
            TXHD_VALUE_GROSS = #{txhdValueGross}
            ,TXHD_VALUE_NETT = #{txhdValueNett}
            ,TXHD_VALUE_DUE = #{txhdValueDue}
            ,TXHD_VALUE_TAX = #{txhdValueTax}
            ,TXHD_STATE = #{txhdState.id}
        WHERE TXHD_ID = #{id}
    </update>

    <select id="getTxnHeaderAmountPaid" resultType="java.lang.Double" >
        select SUM(txmd_amount_local) from TXN_media where TXHD_ID = #{value} and TXMD_VOIDED = 0
    </select>
    <delete id="deleteTxnDetailPerTxhdId" >
        DELETE
        From TXN_DETAIL
        WHERE
        TXHD_ID = #{value}
    </delete>

    <delete id="deleteTxnMediaPerTxhdId" >
        DELETE
        From TXN_MEDIA
        WHERE
        TXHD_ID = #{value}
    </delete>

    <delete id="deleteTxnHeaderPerTxhdId" >
        DELETE
        From TXN_HEADER
        WHERE
        TXHD_ID = #{value}
    </delete>

    <update id="updateTxnPrintStatus" >
        UPDATE TXN_HEADER SET TXHD_PRINTED = #{param2} WHERE TXHD_ID = #{param1}
    </update>


</mapper>