<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.gov.nsw.railcorp.cimg.dao.TypeDao">
    <!-- result maps -->
    <resultMap id="typeMap" type="Type" >
        <id column="TYPEID" property="typeId" />
        <result column="DISCRIPTION" property="discription" />
        <result column="DISPLAYNAME" property="displayName" />
        <result column="SCRIPT_TYPE" property="scriptType" />
    </resultMap>
    <select id="getAllLines" resultMap="lineMap" >
        SELECT
        TYPEID,
        DISCRIPTION,
        DISPLAYNAME,
        SCRIPT_TYPE
        FROM
        TYPE
        ORDER BY
        DISPLAYNAME
    </select>
</mapper>