<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                <div ng-show="addFloatForm.eventType.categoryCode==='SESSION_EVENT_TYPE_FLOAT'">
                    Add Float
                </div>
                <div ng-show="addFloatForm.eventType.categoryCode==='SESSION_EVENT_TYPE_PICKUP'">
                    Pickup
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" name="mainForm">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>User:</label>
                                        <span> {{addFloatForm.cashSession.cssnOperator.usrFirstName}} {{addFloatForm.cashSession.cssnOperator.usrSurName}} </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Total Pay In</label>
                                            <span>{{addFloatForm.cashSession.cssnTotalFloat | currency}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Total picked up</label>
                                            <span>{{addFloatForm.cashSession.cssnTotalPickup | currency}}</span>
                                        </div>
                                    </div>
                                </div >
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input class="form-control" data-ng-model="addFloatForm.amount">
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label>Comments</label>
                                            <input class="form-control" data-ng-model="addFloatForm.comment">
                                        </div>
                                    </div>
                                </div >
                            </div >
                            <div class="row">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
                                <button type="button" class="btn btn-success" ng-click="addFloat()">Commit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
