<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change password</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control"  data-ng-model="userName" ng-disabled="true" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Old Password" name="Old Password" data-ng-model="changePassForm.oldPassword" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="New Password" type="password" data-ng-model="changePassForm.password" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Re-Enter Password" name="Re-Enter Password" type="password" data-ng-model="retryPassword" >
                            </div>
                            <!--
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            -->
                            <!-- Change this to a button or input when using this as a form -->
                            <a ng-click="changePassword(changePassForm)" class="btn btn-lg btn-success btn-block">Commit</a>
                            <a ng-click="cancelForm()" class="btn btn-lg btn-default btn-block">Cancel</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-warning" ng-show="message!='undefined' && message!=''">
            {{message}}
        </div>
    </div>
</div>