<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Customer Information
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" name="mainForm">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Customer Type</label>
                                        <select class="form-control" data-ng-model="customer.customerType"
                                                ng-options="type.displayName for type in customerTypeSet" >
                                        </select>
                                    </div >
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Grade:</label>
                                        <select class="form-control" data-ng-model="customer.grade"
                                                ng-options="type.gradeName for type in gradeSet" >
                                        </select>
                                    </div >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Company Name:</label>
                                            <input class="form-control" data-ng-model="customer.companyName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>ABN:</label>
                                            <input maxlength="99" type="text" class="form-control" data-ng-model="customer.code" />
                                        </div >
                                    </div>
                                </div >
                            </div >

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Contact Person
                                            <button type="button" class="btn btn-success" ng-click="addContact()">Add Contact</button>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="contactList" external-scopes="clickHandler" ui-grid ="gridOptions" ui-grid-pinning  class="grid" ui-grid-selection ui-grid-autoresize ui-grid-resize-columns style="height:300px"  ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Company Contact Info
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Postal Address:</label>
                                                        <input type="text" class="form-control" data-ng-model="customer.address" maxlength="200" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Delivery Address:</label>
                                                        <input type="text" class="form-control" data-ng-model="customer.address2" maxlength="200" />
                                                    </div>
                                                </div>
                                            </div>customer.html

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>EMail
                                                               <span class="btn btn-warning btn-xs" ng-show="mainForm.email.$error.email">
                                                                    Invalid Email!
                                                               </span>
                                                            </label>
                                                            <input type="email" name="email" class="form-control" data-ng-model="customer.email" maxlength="50">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Web:</label>
                                                            <input class="form-control" data-ng-model="customer.webSite" maxlength="100">
                                                        </div >
                                                    </div >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label>Phone:</label>
                                                        <input class="form-control" data-ng-model="customer.phone" maxlength="20">
                                                    </div >
                                                </div >
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label>Fax:</label>
                                                        <input class="form-control" data-ng-model="customer.fax" maxlength="20">
                                                    </div >
                                                </div >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--button type="button" class="btn btn-outline btn-warning" ng-click="">Cancel</button-->
                                <!--button type="button" class="btn btn-outline btn-info" ng-click="">Clear</button-->
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
                                <button type="button" class="btn btn-success" ng-click="createCustomer()" ng-disabled="!mainForm.$valid">Submit</button>

                                <!--button type="button" class="btn btn-outline btn-success" ng-click="createIncident()">Submit</button -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
