<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Customer Information
            </div>
            <div class="panel-body">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="dashboard.createCustomer#CustomerInfo" data-toggle="tab">Contact List</a>
                    </li>
                    <li><a href="dashboard.createCustomer#ContactList" data-toggle="tab">Contact List</a>
                    </li>
                    <li ng-show="!isNewPage"><a href="dashboard.createCustomer#CustomerDebtList" data-toggle="tab">Debt</a>
                    </li>
                    <li><a href="dashboard.createCustomer#CustomerSaleOrderList" data-toggle="tab">Sale Orders</a>
                    </li>
                    <li><a href="dashboard.createCustomer#CustomerInvoiceList" data-toggle="tab">Invoice List</a>
                    </li>
                    <li><a href="dashboard.createCustomer#CustomerBoqList" data-toggle="tab">BOQ List</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="CustomerInfo">
                         <form role="form" name="mainForm">

                                <fieldset ng-disabled="isViewMode">

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Customer Detail
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>Terms</label>
                                                        <select class="form-control" data-ng-model="customer.customerType"
                                                                ng-options="type.displayName for type in customerTypeSet" >
                                                        </select>
                                                    </div >
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>Grade:</label>
                                                        <select class="form-control" data-ng-model="customer.grade"
                                                                ng-options="type.gradeCode for type in gradeSet" >
                                                        </select>
                                                    </div >
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>Status:</label>
                                                        <select class="form-control" data-ng-model="customer.customerStatus"
                                                                ng-options="type.displayName for type in customerStatusSet" >
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label>Comment:</label>
                                                        <input class="form-control" data-ng-model="customer.comment">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Surname:</label>
                                                            <input maxlength="99" type="text" class="form-control" data-ng-model="customer.surName" />
                                                        </div >
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Given names:</label>
                                                            <input maxlength="99" type="text" class="form-control" data-ng-model="customer.firstName" />
                                                        </div >
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Company Name:
                                                                <!--span class="btn btn-warning btn-xs" ng-show="mainForm.companyName.$error.required">
                                                                        Required!
                                                    </span-->
                                                            </label>
                                                            <input class="form-control" data-ng-model="customer.companyName" name="companyName">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Position:</label>
                                                            <input maxlength="99" type="text" class="form-control" data-ng-model="customer.custPosition" />
                                                        </div >
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>ABN:</label>
                                                            <input maxlength="99" type="text" class="form-control" data-ng-model="customer.code" />
                                                        </div >
                                                    </div>
                                                </div >
                                            </div >
                                        </div>
                                    </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Company Contact Info
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <select class="form-control" data-ng-model="country"
                                                                ng-options="type.displayName for type in countrySet" ng-change="onCountryChange()" >
                                                        </select>
                                                        <!--input class="form-control" data-ng-model="supplier.contact.country" maxlength="100"-->
                                                    </div >
                                                </div >
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>State:</label>
                                                        <!--input class="form-control" data-ng-model="supplier.contact.state" maxlength="100"-->
                                                        <select class="form-control" data-ng-model="state"
                                                                ng-options="type.displayName for type in stateSet" ng-change="onStateChange()" >
                                                        </select>
                                                    </div >
                                                </div >
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>Suburb:</label>
                                                        <input class="form-control" data-ng-model="customer.contact.suburb" maxlength="20">
                                                    </div >
                                                </div >
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label>Postcode:</label>
                                                        <input class="form-control" data-ng-model="customer.contact.postCode" maxlength="20">
                                                    </div >
                                                </div >
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Address 1:</label>
                                                        <input class="form-control" data-ng-model="customer.contact.address1" maxlength="200">
                                                    </div >
                                                </div >
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Address 2:</label>
                                                        <input class="form-control" data-ng-model="customer.contact.address2" maxlength="200">
                                                    </div >
                                                </div >
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>EMail1
                                                                <span class="btn btn-warning btn-xs" ng-show="mainForm.email.$error.email">
                                                                    Invalid Email!
                                                                </span>
                                                            </label>
                                                            <input type="email" name="email" class="form-control" data-ng-model="customer.contact.email" maxlength="50">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>EMail2
                                                                <span class="btn btn-warning btn-xs" ng-show="mainForm.email.$error.email2">
                                                                    Invalid Email!
                                                                </span>
                                                            </label>
                                                            <input type="email" name="email2" class="form-control" data-ng-model="customer.contact.email2" maxlength="50">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Web:</label>
                                                            <input class="form-control" data-ng-model="customer.contact.webSite" maxlength="100">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Phone:</label>
                                                            <input class="form-control" data-ng-model="customer.contact.phone" maxlength="20">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Fax:</label>
                                                            <input class="form-control" data-ng-model="customer.contact.fax" maxlength="20">
                                                        </div >
                                                    </div >
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-info" ng-show="checkAccessToAccountDetail()">
                                        <div class="panel-heading">
                                            Account Details
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>No of Days:</label>
                                                            <input class="form-control" data-ng-model="customer.creditDuration">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Credit Limit:</label>
                                                            <input class="form-control" data-ng-model="customer.creditLimit" ng-change="onCreditLimitChange()">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Owing:</label>
                                                            <input class="form-control" data-ng-model="customer.owing" ng-disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Remaining Credit:</label>
                                                            <input class="form-control" data-ng-model="customer.remainCredit" ng-disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Start From EOM:</label>
                                                            <input type="checkbox" data-ng-model="customer.creditStartEom" ng-click="setCreditStartEom()">
                                                        </div>
                                                    </div>
                                                    <!--
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Credit Start Date:</label>
                                                            <input type="date" class="form-control" data-ng-model="customer.creditStartDate" ng-show="customer.creditStartEom">
                                                        </div >
                                                    </div >
                                                    -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--button type="button" class="btn btn-outline btn-warning" ng-click="">Cancel</button-->
                                        <!--button type="button" class="btn btn-outline btn-info" ng-click="">Clear</button-->
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <button type="button" class="btn btn-primary" ng-click="cancelForm()" ng-show="!isViewMode">Cancel</button>
                                        <button type="button" class="btn btn-success" ng-click="createCustomer()" ng-show="!isViewMode" ng-disabled="!mainForm.$valid">Submit</button>

                                        <!--button type="button" class="btn btn-outline btn-success" ng-click="createIncident()">Submit</button -->
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="cancel()" ng-show="isViewMode">Return</button>
                                </div>
                         </form>
                    </div>
                    <div class="tab-pane fade" id="ContactList">
                        <h4>Contact List</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-success" ng-click="addContact()">Add Contact</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="ContactList1" external-scopes="clickHandler" ui-grid ="gridOptions" ui-grid-pinning  class="grid" ui-grid-cellNav ui-grid-selection ui-grid-autoresize ui-grid-resize-columns ui-gird-move-columns ui-grid-pinning style="width:1200px; height: 300px;"  ></div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;&nbsp;
                        </div>

                    </div>
                    <div ng-show="!isNewPage" class="tab-pane fade" id="CustomerDebtList">
                        <h4>Debt List</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="customerDebtList1" external-scopes="clickHandler" ui-grid ="debtList" ui-grid-pinning  class="grid" ui-grid-cellNav ui-grid-selection ui-grid-autoresize ui-grid-resize-columns ui-gird-move-columns ui-grid-pinning style="width:1200px; height: 300px;"  ></div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" ng-show="!isNewPage" id="CustomerSaleOrderList">
                        <h4>Sale Order List</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="CustomerSaleOrderList1" external-scopes="clickHandler" ui-grid ="saleOrderList" ui-grid-pinning  class="grid" ui-grid-cellNav ui-grid-selection ui-grid-autoresize ui-grid-resize-columns ui-gird-move-columns ui-grid-pinning style="width:1200px; height: 300px;"  ></div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="tab-pane fade" ng-show="!isNewPage" id="CustomerInvoiceList">
                        <h4>Invoice List</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="CustomerInvoiceList1" external-scopes="clickHandler" ui-grid ="invoiceList" ui-grid-pinning  class="grid" ui-grid-cellNav ui-grid-selection ui-grid-autoresize ui-grid-resize-columns ui-gird-move-columns ui-grid-pinning style="width:1200px; height: 300px;"  ></div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;&nbsp;
                        </div>

                    </div>
                    <div class="tab-pane fade" ng-show="!isNewPage" id="CustomerBoqList">
                        <h4>BOQ List</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="CustomerBOQList1" external-scopes="clickHandler" ui-grid ="boqList" ui-grid-pinning  class="grid" ui-grid-cellNav ui-grid-selection ui-grid-autoresize ui-grid-resize-columns ui-gird-move-columns ui-grid-pinning style="width:1200px; height: 300px;"  ></div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;&nbsp;
                        </div>

                    </div>
                </div>
                <div class="row">
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
