<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Delivery Note
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label>Supplier</label>
                                <input class="form-control" data-ng-model="deliveryNoteHeader.supplier.supplierName" ng-disabled="true">
                                <button type="button" class="btn btn-success" ng-click="searchSupplier()" ng-show="pageIsNew">Supplier</button>
                            </div >
                        </div >
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Status:</label>
                                <select class="form-control" data-ng-model="deliveryNoteHeader.delnStatus"
                                        ng-options="type.displayName for type in delnStatusSet" >
                                </select>
                            </div >
                        </div >
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Delivery Note:</label>
                                    <input class="form-control" data-ng-model="deliveryNoteHeader.delnNoteNumber" >
                                </div >
                            </div >
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Delivery Date:</label>
                                    <input type="date" class="form-control" data-ng-model="deliveryNoteHeader.deliveryDate" >
                                </div >
                            </div >
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Order No:</label>
                                        <input class="form-control" data-ng-model="deliveryNoteHeader.pohOrderNumber" ng-disabled="true">
                                        <button type="button" class="btn btn-success" ng-click="searchPurchaseOrder()" ng-show="pageIsNew">Purchase Order</button>
                                    </div >
                                </div >
                            </div >
                        </div>
                    </div>
                    <div class="row">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <button type="button" class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
                        <button type="button" class="btn btn-success" ng-click="saveDeliveryNote()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Lines:
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="deliveryNoteLineList" ui-grid ="gridOptions"  class="grid" ui-grid-selection ui-grid-autoresize ui-grid-resize-columns ui-grid-edit ui-grid-cellNav ui-grid-expandable  style="height:750px"  ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

