<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Message Status Board
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="incidentList" external-scopes="clickHandler" ui-grid ="gridOptions" ui-grid-pinning  ui-grid-expandable class="grid" ui-grid-selection ui-grid-autoresize style="height:750px" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

