<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Search
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <label>Supplier</label>
                            <!--select class="form-control" data-ng-model="supplier"
                                    ng-options="supp.supplierName for supp in supplierSet" >
                            </select-->
                            <ui-select ng-model="model.supplier"
                                       reset-search-input="true"
                                       title="Choose a Supplier">
                                <ui-select-match placeholder="Select a supplier in the list or search by Name, ABN">
                                    <span ng-bind="$select.selected.supplierName"></span>
                                </ui-select-match>
                                <!--ui-select-choices repeat="item in (supplierSet | filter: $select.search) track by item.id"-->
                                <ui-select-choices repeat="item in supplierSet | propsFilter: {supplierName: $select.search, supplierCode: $select.search} track by item.id">
                                    <div ng-bind-html="item.supplierName | highlight: $select.search"></div>
                                    <small>
                                        ABN: <span ng-bind-html="''+item.supplierCode | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div >
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Product Type</label>
                                <select class="form-control" data-ng-model="productType"
                                        ng-options="type.displayName for type in productTypeSet" >
                                </select>
                            </div >
                        </div >
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Product Status</label>
                                <select class="form-control" data-ng-model="productStatus"
                                        ng-options="type.displayName for type in productStatusSet" >
                                </select>
                            </div >
                        </div >
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>SKU</label>
                                <input type="text" class="form-control" data-ng-model="productSearchForm.prodSku" type="text" ng-keypress="searchByEnter($event)" />
                            </div >
                        </div >
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" class="form-control" data-ng-model="productSearchForm.prodName" type="text" ng-keypress="searchByEnter($event)"/>
                            </div >
                        </div >
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Reference</label>
                                <input type="text" class="form-control" data-ng-model="productSearchForm.reference" type="text" ng-keypress="searchByEnter($event)" />
                            </div >
                        </div >
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>In Stock Qty From</label>
                                <input type="number" class="form-control" data-ng-model="productSearchForm.inStockQtyFrom" ng-keypress="searchByEnter($event)" />
                            </div >
                        </div >
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>In Stock Qty To</label>
                                <input type="number" class="form-control" data-ng-model="productSearchForm.inStockQtyTo" ng-keypress="searchByEnter($event)"/>
                            </div >
                        </div >
                    </div>
                </div>
                <div class="row">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-success" ng-click="getPage()">Search</button>
                </div>
            </div>
        </div>

        <div class="panel  panel-primary">
            <div class="panel-heading">
                Product List
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="productList" external-scopes="clickHandler" ui-grid-selection ui-grid ="gridOptions" ui-grid-pinning  class="grid" ui-grid-autoresize ui-grid-resize-columns ui-grid-pagination style="height:600px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-success" ng-click="createProduct()" >Create Product</button>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-warning" ng-click="finaliseProduct()" ng-disabled="!isRowSelected()">Finalise Product</button>
            <button type="button" class="btn btn-warning" ng-click="deleteProductLogically()" ng-disabled="!isRowSelected()">Delete Product</button>
        </div>
    </div>
</div>

