<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Product Maintenance
            </div>
            <div class="panel-body">
                    <div class="row">
                        <form role="form" name="mainForm">
                            <fieldset ng-disabled="isViewMode">
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Product Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>SKU
                                                                <span class="btn btn-warning btn-xs" ng-show="mainForm.sku.$error.required">
                                                                    Required!
                                                               </span>
                                                            </label>
                                                            <input class="form-control" name = "sku" data-ng-model="productForm.prodSku" required maxlength="60">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Reference</label>
                                                            <input class="form-control" data-ng-model="productForm.reference" maxlength="60">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Product Name
                                                                <span class="btn btn-warning btn-xs" ng-show="mainForm.prodName.$error.required">
                                                                    Required!
                                                               </span>
                                                            </label>
                                                            <input class="form-control" name="prodName" data-ng-model="productForm.prodName" required maxlength="60">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Barcode</label>
                                                            <input class="form-control" data-ng-model="productForm.prodBarcode" maxlength="60">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Product Status</label>
                                                            <select class="form-control" data-ng-model="productForm.status"
                                                                    ng-options="type.displayName for type in productStatusSet" >
                                                            </select>
                                                        </div >
                                                    </div >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-10">
                                                        <div class="col-lg-12">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Description</label>
                                                                    <input class="form-control" data-ng-model="productForm.prodDesc" maxlength="500">
                                                                </div >
                                                            </div >
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Product Brand</label>
                                                                    <input class="form-control" data-ng-model="productForm.prodBrand" maxlength="60">
                                                                </div >
                                                            </div >
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Product Class</label>
                                                                    <input class="form-control" data-ng-model="productForm.prodClass" maxlength="30">
                                                                </div >
                                                            </div >
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Product Type</label>
                                                                    <select class="form-control" data-ng-model="productForm.prodType"
                                                                            ng-options="type.displayName for type in productTypeSet" >
                                                                    </select>
                                                                </div >
                                                            </div >
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Product Location</label>
                                                                    <input class="form-control" data-ng-model="productForm.prodLocation" maxlength="1000">
                                                                </div >
                                                            </div >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Tax:</label>
                                                            <select multiple class="form-control" data-ng-model="productForm.taxRules"
                                                                    ng-options="type.txrlDesc for type in taxRuleSet" >
                                                            </select>
                                                        </div >
                                                    </div >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary" ng-click="cancelForm()" ng-show="!isViewMode">Cancel</button>
                                                    <button type="button" class="btn btn-success" ng-click="createProduct()" ng-show="!isViewMode" ng-disabled="!mainForm.$valid">Submit</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Buying
                                            <button type="button" class="btn btn-success" ng-click="addSuppProdPrice()" ng-show="!isViewMode">Add</button>
                                        </div>
                                        <div class="panel-body">
                                                <div class="col-lg-12">
                                                        <div id="supplierPriceGrid" ui-grid ="gridOptions" class="grid" style="height:200px;" ui-grid-autoresize ui-grid-resize-columns ui-grid-expandable ui-grid-edit ui-grid-cellNav ></div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Selling
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Unit Of Measure</label>
                                                            <select class="form-control" data-ng-model="productForm.prceUnitOfMeasure"
                                                                    ng-options="type.unomDesc for type in unitOfMeasureSet" >
                                                            </select>
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Quantity:
                                                                       <span class="btn btn-warning btn-xs" ng-show="mainForm.prceUnomQty.$error.pattern">
                                                                            Invalid!
                                                                       </span>
                                                            </label>
                                                            <input class="form-control" name="prceUnomQty" data-ng-model="productForm.prceUnomQty" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" maxlength="10">
                                                        </div >
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Cost</label>
                                                            <input class="form-control" data-ng-model="productForm.costPrice" type="text" data-blur-currency>
                                                        </div >
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>RRP</label>
                                                            <input class="form-control" data-ng-model="productForm.prcePrice" type="text" data-blur-currency>
                                                        </div >
                                                    </div>
                                                    <!--div class="col-lg-3">
                                                        <label>Tax Included</label>
                                                        <div class="form-group">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" data-ng-model="productForm.prceTaxIncluded">
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                        </div >
                                                    </div-->
                                                </div>
                                            </div>
                                            <!--div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Margin:
                                                                       <span class="btn btn-warning btn-xs" ng-show="mainForm.prceMargin.$error.pattern">
                                                                            Invalid!
                                                                       </span>
                                                            </label>
                                                            <input class="form-control" name="prceMargin" data-ng-model="productForm.prceMargin" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" >
                                                        </div >
                                                    </div >
                                                </div>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-11">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-group" ng-click="displayProductPurchaseOrders()" ng-show="!isNewPage">Purchase Orders</button>
                                            <button type="button" class="btn btn-group" ng-click="displayProductTxns('TXN')" ng-show="!isNewPage">Sale Orders/Quotes</button>
                                            <button type="button" class="btn btn-group" ng-click="displayProductTxns('INVOICE')" ng-show="!isNewPage">Invoices</button>
                                            <button type="button" class="btn btn-group" ng-click="displayProductAuditTrail()" ng-show="!isNewPage">Audit Trail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          </fieldset>
                            <div class="form-group">
                                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="cancel()" ng-show="isViewMode">Return</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
