<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Product Maintenance
            </div>
            <div class="panel-body">
                    <div class="row">
                        <form role="form">
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Product Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>SKU</label>
                                                            <input class="form-control" data-ng-model="productForm.prodSku">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Reference</label>
                                                            <input class="form-control" data-ng-model="productForm.reference">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Product Name</label>
                                                            <input class="form-control" data-ng-model="productForm.prodName">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Product Status</label>
                                                            <select class="form-control" data-ng-model="productForm.status"
                                                                    ng-options="type.displayName for type in productStatusSet" >
                                                            </select>
                                                        </div >
                                                    </div >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <input class="form-control" data-ng-model="productForm.prodDesc">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Product Brand</label>
                                                            <input class="form-control" data-ng-model="productForm.prodBrand">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Product Class</label>
                                                            <input class="form-control" data-ng-model="productForm.prodClass">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Product Type</label>
                                                            <select class="form-control" data-ng-model="productForm.prodType"
                                                                    ng-options="type.displayName for type in productTypeSet" >
                                                            </select>
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Tax Rules Applied:</label>
                                                            <select multiple class="form-control" data-ng-model="productForm.taxRules"
                                                                    ng-options="type.txrlDesc for type in taxRuleSet" >
                                                            </select>
                                                        </div >
                                                    </div >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Buying
                                        </div>
                                        <div class="panel-body">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Supplier</label>
                                                                        <input class="form-control" data-ng-model="supplier.supplierName" ng-disabled="true">
                                                                        <!--select class="form-control" data-ng-model="supplier"
                                                                                ng-options="type.supplierName for type in supplierSet" >
                                                                        </select-->
                                                                        <button type="button" class="btn btn-success" ng-click="searchSupplier()">Supplier</button>
                                                                </div >
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Catalogue No</label>
                                                                    <input class="form-control" data-ng-model="suppCatalogueNo">
                                                                </div >
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Part No</label>
                                                                    <input class="form-control" data-ng-model="suppPartNo">
                                                                </div >
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Unit Of Measure</label>
                                                                    <select class="form-control" data-ng-model="suppUnitOfMeasure"
                                                                            ng-options="type.unomDesc for type in unitOfMeasureSet" >
                                                                    </select>
                                                                </div >
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Quantity</label>
                                                                    <input class="form-control" data-ng-model="suppUnomQty">
                                                                </div >
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Price</label>
                                                                    <input class="form-control" data-ng-model="suppPrice">
                                                                </div >
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Bulk Price</label>
                                                                    <input class="form-control" data-ng-model="suppBulkPrice">
                                                                </div >
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Bulk Quantity</label>
                                                                    <input class="form-control" data-ng-model="suppBulkQty">
                                                                </div >
                                                            </div>
                                                        </div>
                                                    </div >
                                                    <div class="col-lg-1">
                                                        <div class="col-lg-2">
                                                        </div>
                                                        <div class="col-lg-12">
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <table>
                                                                <tr></tr><tr></tr>
                                                                <tr>
                                                                    <td>
                                                                        <!--<button type="button" class="btn btn-outline btn-primary" ng-click="addTransposition()">Add</button> -->
                                                                        <a href=""><i tooltip="Add to the list" tooltip-placement="bottom" class="fa fa-long-arrow-right fa-2x" ng-click="addSuppProdPrice()" ></i> </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <!--<button type="button" class="btn btn-outline btn-primary" ng-click="removeTransposition()">Remove</button> -->
                                                                        <a href=""><i tooltip="Remove from list" tooltip-placement="bottom" class="fa fa-long-arrow-left fa-2x" ng-click="removeSuppProdPrice()"></i> </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7">
                                                        <div id="supplierPriceGrid" ui-grid ="gridOptions" class="grid" ui-grid-selection style="height:200px;" ></div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Selling
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Unit Of Measure</label>
                                                            <select class="form-control" data-ng-model="productForm.prceUnitOfMeasure"
                                                                    ng-options="type.unomDesc for type in unitOfMeasureSet" >
                                                            </select>
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input class="form-control" data-ng-model="productForm.prceUnomQty">
                                                        </div >
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Price</label>
                                                            <input class="form-control" data-ng-model="productForm.prcePrice">
                                                        </div >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Margin</label>
                                                            <input class="form-control" data-ng-model="productForm.prceMargin">
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-4">
                                                        <label>Tax Included</label>
                                                        <div class="form-group">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" data-ng-model="productForm.prceTaxIncluded">
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                        </div >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-11">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
                                            <button type="button" class="btn btn-success" ng-click="createProduct()">Submit</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-1">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
