<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Purchase Order Header
                </div>
                <div class="panel-body">
                    <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Supplier<a href=""><i tooltip="Find" ng-show="pageIsNew" tooltip-placement="bottom" class="fa fa-search fa-x" ng-click="searchSupplier()"></i></a></label>
                                    <input class="form-control" data-ng-model="purchaseOrderHeader.supplier.supplierName" ng-disabled="true">
                                </div >
                            </div >
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Comments</label>
                                    <input class="form-control" data-ng-model="purchaseOrderHeader.pohComment">
                                </div >
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Order Number:</label>
                                    <input class="form-control" data-ng-model="purchaseOrderHeader.pohOrderNumber" ng-disabled="true" >
                                </div >
                            </div >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Date Created:</label>
                                    <span class="form-control"> {{formatDate(purchaseOrderHeader.pohCreatedDate)}} </span>
                                </div >
                            </div >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Expected Delivery Date:</label>
                                    <input type="date" class="form-control" data-ng-model="purchaseOrderHeader.pohExpDeliveryStr" >
                                </div >
                            </div >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Status:</label>
                                    <select class="form-control" data-ng-model="purchaseOrderHeader.pohStatus" ng-disabled="true"
                                            ng-options="type.displayName for type in pohStatusSet"  ng-disabled="disablePage==true">
                                    </select>
                                </div >
                            </div >
                        </div>
                    </div>
                    <div class="row" ng-show="enableChangeStatus()">
                        <div class="col-lg-4" >
                            <label>Confirm Purchase Order</label>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" data-ng-model="poIsConfirmed" ng-disabled="poIsCancelled || purchaseOrderHeader.pohStatus.configCode == 'POH_STATUS_CANCELLED' || purchaseOrderHeader.pohStatus.configCode == 'POH_STATUS_CONFIRMED' ">
                                    <div class="alert alert-success" ng-show="poIsConfirmed">
                                        CONFIRMED
                                    </div>
                                    <div class="alert alert-info" ng-show="!poIsConfirmed">
                                        {{purchaseOrderHeader.pohStatus.displayName}}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Cancel Purchase Order</label>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" data-ng-model="poIsCancelled" ng-disabled="poIsConfirmed || purchaseOrderHeader.pohStatus.configCode == 'POH_STATUS_CANCELLED' || purchaseOrderHeader.pohStatus.configCode == 'POH_STATUS_CONFIRMED'">
                                    <div class="alert alert-danger" ng-show="poIsCancelled">
                                        CANCELLED
                                    </div>
                                    <div class="alert alert-info" ng-show="!poIsCancelled">
                                        {{purchaseOrderHeader.pohStatus.displayName}}
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <button type="button" class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
                        <button type="button" class="btn btn-success" ng-click="savePurchaseOrder()" ng-disabled="disablePage == true">Submit</button>
                        <button type="button" class="btn btn-success" ng-click="exportToPdf()" ng-show="!pageIsNew">Export to PDF</button>
                        <button type="button" class="btn btn-info" ng-click="updateLinkedBoqs()" ng-show="purchaseOrderHeader.pohStatus.categoryCode=='POH_STATUS_GOOD_RECEIVED' || purchaseOrderHeader.pohStatus.categoryCode=='POH_STATUS_PARTIAL_REC'">Update Linked BOQs</button>
                    </div>
                    <div class="row">
                        &nbsp; &nbsp;
                    </div>
                    <div class="row">
                        <div class="panel  panel-info">
                            <div class="panel-heading">
                                Lines:
                                <button type="button" class="btn btn-success" ng-click="searchProduct()" ng-disabled="disablePage==true">Add Product</button>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                Search By Catalogue No:
                                <input size="50" data-ng-model="searchByCatalog" ng-disabled="disablePage==true" ng-keypress="searchProductByCatalogNo($event)" >

                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="pohDetailList" ui-grid ="gridOptions"  class="grid" ui-grid-selection ui-grid-autoresize ui-grid-resize-columns ui-grid-edit ui-grid-cellNav ui-grid-expandable  style="height:600px"  ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

