
<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Sale Summary Report
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="date" class="form-control" data-ng-model="saleSummaryReportForm.fromDate" >
                        </div >
                    </div >
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>To:</label>
                            <input type="date" class="form-control" data-ng-model="saleSummaryReportForm.toDate" >
                        </div >
                    </div >
                </div>
                <div class="row">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="doReport()">Refresh</button>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" name="incidentForm">
                            <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Sale Summary
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="dashboard.saleSummaryReport#SaleSummaryInfo" data-toggle="tab">Sale Summary Information</a>
                                                    </li>
                                                    <li><a href="dashboard.saleSummaryReport#staffSaleInfo" data-toggle="tab">Staff Sale Information</a>
                                                    </li>
                                                    <li><a href="dashboard.saleSummaryReport#staffSaleGraph" data-toggle="tab">Staff Sale Graph</a>
                                                    </li>
                                                </ul>

                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="SaleSummaryInfo">

                                                        <div class="col-lg-6 col-sm-12" >
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">Bar Chart</div>
                                                                <div class="panel-body">
                                                                    <canvas id="totalSaleSummaryRptBar" class="chart chart-bar" data="totalSaleSummaryRpt.data" labels="totalSaleSummaryRpt.labels">
                                                                    </canvas>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6 col-sm-12"  >
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">Polar Area Chart</div>
                                                                <div class="panel-body">
                                                                    <canvas id="totalSaleSummaryRptPolar" class="chart chart-polar-area" data="totalSaleSummaryRpt.data" labels="totalSaleSummaryRpt.labels"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="tab-pane fade" id="staffSaleInfo">
                                                        <h4>Staff Sale Information</h4>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div id="staffSaleInformation" external-scopes="clickHandler" ui-grid ="staffSaleSummary" ui-grid-pinning  class="grid" ui-grid-selection ui-grid-autoresize ui-grid-resize-columns style="height:750px"  ></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="tab-pane fade" id="staffSaleGraph">
                                                        <div class="col-lg-6 col-sm-12"  >
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">Number of Sales</div>
                                                                <div class="panel-body">
                                                                    <canvas id="operatorSaleQtyRpt" class="chart chart-pie chart-xs" data="operatorSaleQtyRpt.data" labels="operatorSaleQtyRpt.labels"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6 col-sm-12"  >
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">Sale and eGP</div>
                                                                <div class="panel-body">
                                                                    <canvas id="operatorSaleAndEGPRpt" class="chart chart-bar" data="operatorSaleAndEGPRpt.data" labels="operatorSaleAndEGPRpt.labels" series="operatorSaleAndEGPRpt.series"
                                                                            options="bar.options"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
