<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Supplier List
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="supplierList" external-scopes="clickHandler" ui-grid-selection ui-grid ="gridOptions" ui-grid-pinning  class="grid" ui-grid-autoresize ui-grid-resize-columns style="height:750px"  ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button type="button" class="btn btn-success" ng-click="createSupplier()" >Create Supplier</button>
    <button type="button" class="btn btn-warning" ng-click="deleteSupplierLogically()" ng-disabled="!isRowSelected()">Delete Supplier</button>
</div>


