
<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Sale Transaction
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Transaction Header
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Customer</label>
                                                            <input class="form-control" data-ng-model="customer.companyName" ng-disabled="true">
                                                            <button type="button" class="btn btn-success" ng-click="searchCustomer()">Customer</button>
                                                        </div >
                                                    </div >
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Order Number</label>
                                                            <input class="form-control" >
                                                        </div >
                                                    </div >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-success" ng-click="searchProduct()">Add Product</button>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Products
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div ui-grid="txnDetailList" ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="grid"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Transaction Footer
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-8">
                                                        <div class="col-lg-12">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <label>Media Type</label>
                                                                        <select class="form-control" data-ng-model="mediaType"
                                                                                ng-options="type.medtName for type in mediaTypeSet" ng-change="onMediaTypeChange()" >
                                                                        </select>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label>Payment Media</label>
                                                                        <select class="form-control" data-ng-model="paymentMedia"
                                                                                ng-options="type.paymName for type in paymentMediaSet" >
                                                                        </select>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label>Amount</label>
                                                                        <input class="form-control" data-ng-model="paymentAmount">
                                                                    </div>
                                                                </div >
                                                            </div>
                                                            <div class="col-lg-1">
                                                                <div class="col-lg-2">
                                                                </div>
                                                                <div class="col-lg-12">
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <table>
                                                                        <tr></tr><tr></tr>
                                                                        <tr>
                                                                            <td>
                                                                                <!--<button type="button" class="btn btn-outline btn-primary" ng-click="addTransposition()">Add</button> -->
                                                                                <a href=""><i tooltip="Add to the list" tooltip-placement="bottom" class="fa fa-long-arrow-right fa-2x" ng-click="addTxnMedia()" ></i> </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <!--<button type="button" class="btn btn-outline btn-primary" ng-click="removeTransposition()">Remove</button> -->
                                                                                <a href=""><i tooltip="Remove from list" tooltip-placement="bottom" class="fa fa-long-arrow-left fa-2x" ng-click="removeTxnMedia()"></i> </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <div id="txnMediaGrid" ui-grid ="txnMediaList" class="grid" ui-grid-selection style="height:200px;" ></div>
                                                            </div>
                                                        </div>
                                                    </div >
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <label>Total</label>
                                                            <span>{{txnHeaderForm.txhdValueNett |currency}}</span>
                                                        </div>

                                                        <div class="row">
                                                            <label>Due</label>
                                                            <span>{{txnHeaderForm.txhdValueDue | currency}}</span>
                                                        </div>
                                                        <div class="row" ng-show="false">
                                                            <label>Discount</label>
                                                            <input class="form-control">
                                                        </div>
                                                        <div class="row" ng-show="false">
                                                            <label>Rounding</label>
                                                            <input class="form-control" data-ng-model = txnHeaderForm.txhdValRounding>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
                                <button type="button" class="btn btn-success" ng-click="createTransactionSale()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
