<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">


        <ul class="nav in" id="side-menu">
            <img  src="images/logo.jpg"
                  class="logo"/>
            <!--sidebar-search></sidebar-search-->
            <!--
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            -->
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-comments fa-fw"></i> Customer<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.createCustomer">Create Customer</a>
                    </li>
                    <!--
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Review And Publish</a>
                    </li>
                    -->
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listCustomer">Customer List</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li ng-class="{active: collapseVar==2}">{{dropDown}}
                <a href="" ng-click="check(2)"><i class="fa fa-comments fa-fw"></i> Supplier<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.createSupplier">Create Supplier</a>
                    </li>
                    <!--
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Review And Publish</a>
                    </li>
                    -->
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listSupplier">Supplier List</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li ng-class="{active: collapseVar==3}">{{dropDown}}
                <a href="" ng-click="check(3)"><i class="fa fa-comments fa-fw"></i> Product<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.createProduct">New Product</a>
                    </li>
                    <!--
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Review And Publish</a>
                    </li>
                    -->
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listProduct">Product List</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.importProduct">Import product</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==4}">{{dropDown}}
                <a href="" ng-click="check(4)"><i class="fa fa-comments fa-fw"></i> Bill Of Quantity<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.uploadFile">Import BOQ</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.boqList">BOQ List</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==6}">{{dropDown}}
                <a href="" ng-click="check(6)"><i class="fa fa-comments fa-fw"></i> Purchase Order<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=6">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.purchaseOrderDetail">Create Purchase Order</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.purchaseOrderList">Purchase Order List</a>
                    </li>
                </ul>
            </li>

            <li ng-class="{active: collapseVar==7}">{{dropDown}}
                <a href="" ng-click="check(7)"><i class="fa fa-comments fa-fw"></i>Good Received<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=7">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.deliveryNote">Create Received Note</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.deliveryNoteList">Received Note List</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==8}">{{dropDown}}
                <a href="" ng-click="check(8)"><i class="fa fa-comments fa-fw"></i> Sale Order<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=8">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.createSaleTransaction({txnType:'quote'})">Quote</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.createSaleTransaction({txnType:'txnSale'})">Sale Order</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.createInvoice({txnType:'txnInvoice'})">Invoice</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listSaleTransaction">Sale Order List</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listInvoice">Invoice List</a>
                    </li>
                </ul>
            </li>

            <li ng-class="{active: collapseVar==9}">{{dropDown}}
                <a href="" ng-click="check(9)"><i class="fa fa-comments fa-fw"></i> Reconciliation<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=9">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listCurrentCashSession">Session List</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level" collapse="collapseVar!=9">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.saleSummaryReport">Sale Summary report</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level" collapse="collapseVar!=9">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.cashupReport">Cash Up Reports</a>
                    </li>
                </ul>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="dashboard.debtorPayment"><i class="fa fa-comments fa-fw"></i> Debtor Payment</a>
            </li>


            <li ng-class="{active: collapseVar==10}">{{dropDown}}
                <a href="" ng-click="check(10)"><i class="fa fa-comments fa-fw"></i> Accounting<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=10">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.updateAccountCodes">Accounting Chart</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.accountingExportReport">Accounting Report</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.accountingExport">Export to file</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.accountingExportList">List exported journal</a>
                    </li>
                </ul>
            </li>


            <li ng-class="{active: collapseVar==11}">{{dropDown}}
                <a href="" ng-click="check(11)"><i class="fa fa-comments fa-fw"></i> User Management<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=11">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.addUser">Create User</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listUser">User List</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.addRole">Create Role</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.listRole">Role List</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.logout"><i class="fa fa-comments fa-fw"></i> logout</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



