02/08/17:

1- Question: can we cancel or delete Sale Order? if so what about sale orders that have been partially/fully paid?
2- Question: should we be able to delete delivery note
7- back order on Sale Order and Invoice print
8- when delete a PO line, we need to delete the related objects as well or at least warn the user about deletion
10- create PO for products their QTY below certain amount
11- log url
19- in delivery note list, user should not able to select records
20- on invoice print, 'PAID TODAY' shows all payments while it should shows current invoice payment.
21- on viewing a refund, the caption of page showes 'Invoice'
22****- on importing products, it first search product per reference. if found it then ingore importing it. if product exists and then it is importing for different supplier we should add it.
THIS IS NOT CONSISTENT WITH ADDING PRODUCT PAGE which we allow for duplicate product sku
and it is a poor performance search which try fetch all the product related items when searching it
this is while in importing boq, we add supplier to the current product.
23- IN PRODUCT LIST CHANGE ARTICLE CODE TO PRODUCT NAME
24- check for product list in change price. it seems showing duplicate copy
25- check if we can add suppliers with same names????? from supplier page
26- (not reproducable) sell price in invoice is calculated incorrectly
27- saving good received take long time for long list. we need to take updating relating objects in a separate thread.
28-display transaction no in view and edit mode.
29-for product code PHB800 WITH 0 in stock and 6 in reserve stock,
    1- did a sale order with qty 6  --> not any transaction in stock
    2- did an invoice txn. 6 was reduced from reserved stock
-------------------------------------------------------------- resolved------------------------------------------------------------------------
3- bug(resolved): when sale order is finalised and user add payment, it try to submit the form -- resolved
4- bug: after creating Po from SO, it does not refresh the txn status
5- need to import stock qty when importing product
6- merge purchase orders(done) - shouldn't allow PO merged to itself
9- done - for each product display how many reserved for what
12- resolved - size in creating delivery note not set ( it is null)
13- resolved - bug: back order qty is calculated incorrectly on sale order when qty in stock is more than qty ordered
14- resolved - bug: can not set status on so when fully paid - SOLVED
15- ------------------------> bug: in StockServiceImple.java qty not set correctly
16- resolved - did a sale order and fully paid. when trying to invoice, invoice all items option is disabled - also the payment for invoice shows negative amount
17- resolved - did an invoice transaction  due =5038.65   calculated amount =5083.7      ----> caused a problem in payment
18- check for BOQ if we reserve the 'In Stock' qty or not
20- RESOLVED - did a sale order and fully paid. once wanted to invoice it, the payment shows negative and user can add it(user shouldnt add negative )
21- on creating a new sale order, the 'Invoice All Itmes' are disabled
22- enter keyword not working on refund page
23- on generating po from so, user should be able to remove sale order from confirmation page

----------------------
1- add view mode in BOQ list - resolved
2- import a BOQ and create PO from it. received PO in 2 stage (say each stage half of the qty ordered). in second received, instead of moving qty recived from available stock to reserved stock
    it moved the whole qty in boq(I think it pick the QTY received while it should pick the balance). - resolved
3- in purchase order print, there is no enough room for Total amount - resolved
3- in adding supplier to product, make the supplier list searchable
4- disable all edit kind in view mode.(view product)
5- on transactions (quote, sale order and invoice) it does not calculate the price per customer grade. it always display RRP price - resolved
6- on transaction page, does not load contact person and contact info from customer record. user need to enter on every transaction - done
7- when generated po from so, on 'Purchase order list generated' page, supplier column is empty. - done
8- after generating po from so, the status of sale order is still 'OUTSTANDING' - done
9- on viewing invoice, it displays all the payments. ON PRINT ALSO it shows all amount paid up to date in 'Pay Today' field - done
10- in sale summary report, total sale value is incorrect. it multiply quantity to total item value which should not.-done
11- in cash-up banking summary report 'expected' and 'difference' columns values are other way around-done
12- on accounting export report, printed on date dose not fit into the page-done
13- price change should create an accounting journal entry - need to ask
14- in debtor payment, user can pay more than debt amount. we shouldn't allow that-done
15- on deleting a draft transaction(single or all), it dose not ask for confirmation
16- add view for customer, supplier-done
17- open a sale order, add number to invoice qty to enter invoice mode and then reopen it from draft page; page is corrupted
18- when remove all role from user, it can not submit the form
19- try to change a price and set it below the original price; 2 different message appears


---------------------------------------- 04/10/18 ------------------------------
1  -add grade in customer list - done
2  -move customer statements from customer menu to report
3  -product list : take out 'stock location' and 'status' and add cost, rrp, and price per grade - done
4  -product list: include product group in product search
4  -product group - when trying to 'add department' when no group is selected, it doesn't work - done
5  -purchase order - on 'create po' page, distinguish po status by colour - done
6  -purchase order - when open the po in view mode, put the return button on top
7  -purchase order list -  display expected date - done
8  -purchase order list - turn the row colour to red if expected date is passed and it is not being delivered
9  -purchase order list - add search by expected date - done
10 -product: there is no any way to update the stock value
12 -received notes page: distinguish the status by colour on the page - done
13 -received notes page: if 'Rec Qty' be bigger than 'purchased' then 'back order' set to negative figure - done
14 -sale order page: in payment list user can see 'Account' but when selecting it, system display message 'it is not available for sale order'
    it is better to not display Account payment at all
15 -sale order/quote list: distinguish sale orders from quotes by colour.
16 -sale order/quote view mode: don't display actions on the item list
17 -invoice page: on invoice page user should have access to customer sale order and select then to invoice.
18 -in reporting, display what user selected for product group
19 - in product page, selected a product group and categories for a product and submit it.
    then edit the product again and selected a default department and tried do submit
    but there was an error


20 - duplicate products with same catalogue no from same supplier
21 - check the account code with JOMON
22 - in retail.txt exported from RetailManager in GoodReceived Section column T (Purchase RetailManager - # 1111(OrderNo. 9001-9001) : what is this OrderNo. 9001-9001 and where it come from
23 - did a purchase order and received goods in 2 stage. in second stage the back order is showing the figures of the first delivery note received figures- done

24- rounding problem in transactions: did a refund transaction with value of -264.55. due showed 264.5 and when added a payment the new due is -0.05. the uses is stucked at this stage and can't go furthur - done
25- add opening float and closing float to the cash session. need to indentify the requirements
26- not able to create delivery  note with out a PO
27- delete product, delete the whole reference of product !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

---------------------------------------------------------------------- STRUCTURAL CHANGE NEEDED -------------------------------------------------
1- currently on application startup, OrgUnit and Store fetched by code and assigned to the sessionObject (in Loader.java).
    orgUnit and Store need to be fetched by user login and assigned to the user object.