02/08/17:

1- Question: can we cancel or delete Sale Order? if so what about sale orders that have been partially/fully paid?
2- Question: should we be able to delete delivery note
7- back order on Sale Order and Invoice print
8- when delete a PO line, we need to delete the related objects as well or at least warn the user about deletion
10- create PO for products their QTY below certain amount
11- log url
19- in delivery note list, user should not able to select records
20- on invoice print, 'PAID TODAY' shows all payments while it should shows current invoice payment.
21- on viewing a refund, the caption of page showes 'Invoice'
22****- on importing products, it first search product per reference. if found it then ingore importing it. if product exists and then it is importing for different supplier we should add it.
THIS IS NOT CONSISTENT WITH ADDING PRODUCT PAGE which we allow for duplicate product sku
and it is a poor performance search which try fetch all the product related items when searching it
this is while in importing boq, we add supplier to the current product.
23- IN PRODUCT LIST CHANGE ARTICLE CODE TO PRODUCT NAME
24- check for product list in change price. it seems showing duplicate copy
25- check if we can add suppliers with same names????? from supplier page
26- (not reproducable) sell price in invoice is calculated incorrectly
27- saving good received take long time for long list. we need to take updating relating objects in a separate thread.
28-display transaction no in view and edit mode.
29-for product code PHB800 WITH 0 in stock and 6 in reserve stock,
    1- did a sale order with qty 6  --> not any transaction in stock
    2- did an invoice txn. 6 was reduced from reserved stock
-------------------------------------------------------------- resolved------------------------------------------------------------------------
3- bug(resolved): when sale order is finalised and user add payment, it try to submit the form -- resolved
4- bug: after creating Po from SO, it does not refresh the txn status
5- need to import stock qty when importing product
6- merge purchase orders(done) - shouldn't allow PO merged to itself
9- done - for each product display how many reserved for what
12- resolved - size in creating delivery note not set ( it is null)
13- resolved - bug: back order qty is calculated incorrectly on sale order when qty in stock is more than qty ordered
14- resolved - bug: can not set status on so when fully paid - SOLVED
15- ------------------------> bug: in StockServiceImple.java qty not set correctly
16- resolved - did a sale order and fully paid. when trying to invoice, invoice all items option is disabled - also the payment for invoice shows negative amount
17- resolved - did an invoice transaction  due =5038.65   calculated amount =5083.7      ----> caused a problem in payment
18- check for BOQ if we reserve the 'In Stock' qty or not
20- RESOLVED - did a sale order and fully paid. once wanted to invoice it, the payment shows negative and user can add it(user shouldnt add negative )
21- on creating a new sale order, the 'Invoice All Itmes' are disabled
22- enter keyword not working on refund page
23- on generating po from so, user should be able to remove sale order from confirmation page

----------------------
1- add view mode in BOQ list - resolved
2- import a BOQ and create PO from it. received PO in 2 stage (say each stage half of the qty ordered). in second received, instead of moving qty recived from available stock to reserved stock
    it moved the whole qty in boq(I think it pick the QTY received while it should pick the balance). - resolved
3- in purchase order print, there is no enough room for Total amount - resolved
3- in adding supplier to product, make the supplier list searchable
4- disable all edit kind in view mode.(view product)
5- on transactions (quote, sale order and invoice) it does not calculate the price per customer grade. it always display RRP price - resolved
6- on transaction page, does not load contact person and contact info from customer record. user need to enter on every transaction - done
7- when generated po from so, on 'Purchase order list generated' page, supplier column is empty. - done
8- after generating po from so, the status of sale order is still 'OUTSTANDING' - done
9- on viewing invoice, it displays all the payments. ON PRINT ALSO it shows all amount paid up to date in 'Pay Today' field
10- in sale summary report, total sale value is incorrect. it multiply quantity to total item value which should not.
11- in cash-up banking summary report 'expected' and 'difference' columns values are other way around
12- on accounting export report, printed on date dose not fit into the page
13- price change should create an accounting journal entry - need to ask
14- in debtor payment, user can pay more than debt amount. we shouldn't allow that
15- on deleting a draft transaction(single or all), it dose not ask for confirmation
16- add view for customer, supplier
17- open a sale order, add number to invoice qty to enter invoice mode and then reopen it from draft page; page is corrupted





