<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Draft Transactions
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="draftPageList" external-scopes="clickHandler" ui-grid ="gridOptions" ui-grid-pinning class="grid" ui-grid-autoresize ui-grid-resize-columns style="height:700px"  ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" ng-click="deleteAll()">Delete All</button>
    </div>

</div>

