<div class="row">
    <div class="col-lg-12">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Transaction list
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="txnList" external-scopes="clickHandler" ui-grid ="txnList" ui-grid-pinning  class="grid" ui-grid-selection ></div>
                    </div>
                </div>
                <div class="ngdialog-buttons">
                    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="cancel()">Return</button>
                </div>
            </div>
        </div>
    </div>
</div>
